---
layout: Page
title: Bid'ah
active: bidah
permalink: /bidah/
---
<p>
  Muslims have to avoid bid'ahs (religious innovations) and beware of them for the Prophet ﷺ said, "He who does an act which we have not commanded, will have it rejected (by Allah)." and he ﷺ also said, "Avoid novelties [in religion], for every novelty is a bid'ah, and every bid'ah is deviation." 
</p>
<table>
{% for post in site.posts %}
{% if post.categories contains 'bidah' %}
<tr><td>
 <a href="{{ post.url }}">{{ post.title }}</a>
 <time>{{ post.date | date: "%b %d, %Y" }}</time>
 <p>{{ post.excerpt | truncate: 120 }}</p>
</td></tr>
{% endif %}
{% endfor %}
</table>
