---
layout: Page
title: Manhaj
excerpt: The fundamental rule on the acts of ‘Ibadah (worship) is that it is Tawqifiyyah, i.e. bound by a religious text from the Qur’an and Sunnah, and not subject to personal opinion.
permalink: /manhaj/
---

<div class="container-lg">
 <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
  {% for post in site.posts %}
  {% if post.categories contains 'manhaj' %}
  <div itemscope itemtype="https://schema.org/NewsArticle" class="col mb-3">
   <meta itemprop="image" content="{{ '/assets/images/fb.jpg' | absolute_url }}" />
   <div style="margin:0px !important;padding: 0px !important;"> 
    <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" style="margin:0px !important;padding: 0px !important;"
       href="{{ post.url }}">
     <h3 itemprop="headline">{{ post.title }}</h3>
    </a>
    <p class="mb-1 fst-italic">
     {{ post.content | truncatewords: 20  | strip_html | normalize_whitespace | remove_first: "Question:" }}
    </p>
    <div class="post-meta d-flex justify-content-between mt-3">
     <div class="text-wrap" style="width: 10rem;">
      {% if post.muftis %}
      {% if post.muftis.chairman %} 
      {% for chairman in post.muftis.chairman %}
      <span itemprop="author" itemscope itemtype="https://schema.org/Person">
       <a itemprop="url" class="fw-semibold" href="{{ chairman.url }}"><span itemprop="name">{{ chairman.name | append: " & others" }}</span></a>
      </span>
      {% endfor %}
      {% elsif post.muftis.deputy_chairman %}
      {% for deputy in post.muftis.deputy_chairman %}
      <span itemprop="author" itemscope itemtype="https://schema.org/Person">
       <a itemprop="url" class="fw-semibold" href="{{ deputy.url }}"><span itemprop="name">{{ deputy.name | append: " & others" }}</span></a>
      </span>
      {% endfor %}
      {% endif %}
      {% endif %}
      {% if post.muftis %}
      {% if post.muftis.shaykh %}  
      {% for shaykh in post.muftis.shaykh %} 
      <span itemprop="author" itemscope itemtype="https://schema.org/Person">
       <a itemprop="url" class="fw-semibold" href="{{ shaykh.url }}"><span itemprop="name">{{ shaykh.name }}</span></a>
      </span>
      {% endfor %}
      {% endif %}
      {% else %}
      <span itemprop="author" itemscope itemtype="https://schema.org/Person">
       <a itemprop="url" class="fw-semibold" href="{{ '/biography/alifta' | absolute_url }}"><span itemprop="name">{% if page.locale == 'en' %}{{ site.data.locales[page.locale].page.alifta_scholars }}{% elsif page.locale == 'ar' %}{{ site.data.locales[page.locale].page.alifta_scholars }}{% else %}Permanent Committee{% endif %}</span></a> 
      </span>
      {% endif %}
     </div> 
     <div class="text-wrap" style="width: 9rem;">
      <span itemprop="datePublished" content="{{ post.date | to_utc | date: "%Y%m%dT%H:%M:%S%:z" }}">
       {{ post.hijri }} - {{ post.date | date: "%b %d, %Y" }}
      </span>
     </div>
    </div>    
   </div>
  </div>   
  {% endif %}
  {% endfor %}
 </div>
</div>
<style>
.post-meta, .text-wrap {
 font-size: 14px !important;
}    
</style> 
