---
layout: Page
title: Manhaj
excerpt: The fundamental rule on the acts of ‘Ibadah (worship) is that it is Tawqifiyyah, i.e. bound by a religious text from the Qur’an and Sunnah, and not subject to personal opinion.
permalink: /manhaj/
---

<div class="container-lg">
 <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
  {% for post in site.posts %}
  {% if post.categories contains 'manhaj' %}
  <div class="col mb-3">
   <div style="margin:0px !important;padding: 0px !important;"> 
    <a style="margin:0px !important;padding: 0px !important;"
       href="{{ post.url }}">
     <h3>{{ post.title }}</h3>
    </a>
    <p class="mb-1 fst-italic">
     {{ post.content | truncatewords: 30  | strip_html | normalize_whitespace | remove_first: "Question:" }}
    </p>
    <div class="post-meta d-flex justify-content-between mt-3">
     <div class="text-wrap" style="width: 10rem;">
      {% if post.muftis %}
      {% if post.muftis.chairman %} 
      {% for chairman in post.muftis.chairman %}
       <a class="fw-semibold" href="{{ chairman.url }}">{{ chairman.name | append: " & others" }}</a>
      {% endfor %}
      {% elsif post.muftis.deputy_chairman %}
      {% for deputy in post.muftis.deputy_chairman %}
       <a class="fw-semibold" href="{{ deputy.url }}">{{ deputy.name | append: " & others" }}</a>
      {% endfor %}
      {% endif %}
      {% endif %}
      {% if post.muftis %}
      {% if post.muftis.shaykh %}  
      {% for shaykh in post.muftis.shaykh %} 
       <a class="fw-semibold" href="{{ shaykh.url }}">{{ shaykh.name }}</a>
      {% endfor %}
      {% endif %}
      {% else %}
       <a class="fw-semibold" href="{{ '/biography/alifta' | absolute_url }}">{% if page.locale == 'en' %}{{ site.data.locales[page.locale].page.alifta_scholars }}{% elsif page.locale == 'ar' %}{{ site.data.locales[page.locale].page.alifta_scholars }}{% else %}Permanent Committee{% endif %}</a> 
      {% endif %}
     </div> 
     <div class="text-wrap" style="width: 8rem;">
       {{ post.hijri }},{{ post.date | date: "%b %d, %Y" }}
     </div>
    </div>    
   </div>
  </div>   
  {% endif %}
  {% endfor %}
 </div>
</div>
<style>
.post-meta, .text-wrap{
 font-size: 14px !important;
}    
</style> 
