---
layout: Page
title: Ar-Radd
active: radd
uid: radd
excerpt: Debunking and responding to common allegations or misconceptions against or about Islam.
permalink: /radd/
---
{% assign prevflag = 1 %}
{% assign nextflag = 1 %}

{% for c in site.refutals %}
  {% if c.title == page.title %}
    {% assign currentItemIndex = forloop.index0 %}
    {% if forloop.index == 1 %}
      {% assign prevflag = 0 %}
      {% assign nextflag = 1 %}
    {% elsif forloop.index == forloop.length %}
      {% assign prevflag = 1 %}
      {% assign nextflag = 0 %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if prevflag == 1 %}
  {% assign prevItemIndex = currentItemIndex | minus: 1 %}
  {% assign prevPost = site.refutals[prevItemIndex] %}
{% endif %}

{% if nextflag == 1 %}
  {% assign nextItemIndex = currentItemIndex | plus: 1 %}
  {% assign nextPost = site.refutals[nextItemIndex] %}
{% endif %}
