---
layout: page
title: "Scholars"
summary: ""
permalink: /scholar/
---
{% assign bio = site.biography %}
{% assign folder_path = "_pages/scholar" %}
{% assign target_files = site.pages | where_exp: "item", "item.path contains folder_path" | where_exp: "item", "item.url != page.url" %}

<p>Total Scholars: {{ target_files.size }}</p>

<ul>
{% for item in bio %}
  {% for file in target_files %}
    {% assign scholar_slug = file.name | replace: ".md", "" | replace: ".html", "" %}
    {% assign scholar_posts_path = "_posts/" | append: scholar_slug | append: "/" %}
    {% assign scholar_post_count = site.posts | where_exp: "post", "post.path contains scholar_posts_path" | size %}
    <li>
      <a class="no-underline hover:underline text-blue-600" href="{{ file.url | relative_url }}">{{ file.title | default: file.name }}</a> 
      <span>({{ scholar_post_count }} entries)</span>
      <span><a class="no-underline hover:underline text-blue-600" href="{{ item.url }}">Biography</a></span>
      {% if item.official_web %}<span><a class="no-underline hover:underline text-blue-600" href="{{ item.official_web }}">Biography</a></span>{% endif %}
    </li>
  {% endfor %}
{% endfor %}
</ul>