---
layout: Page
title: The Groups & Sects
active: sects
permalink: /sects/
---
<p>
 It is not Islam that is divided into sects, 
 rather it is the people who differ and 
 deviated from the Sunnah (way) of their 
 Prophet and deviated from the authentic 
 teachings of Islam. But salvation belongs 
 to only one sect. It was narrated that the 
 Prophet ﷺ said: <b>“My ummah will split into 
 seventy-three sects, one of which will be 
 in Paradise and seventy-two in Hell.” It 
 was said: O Messenger of Allah, who are 
 they? He said: “[The jama’ah](/jamaah-is-in-accordance-with-the-truth) (the main body 
 of the Muslims).”</b> and according to another 
 hadith: <b>“[Those who follow] the path which 
 I and my Companions follow.”</b>
</p>
<table>
{% for post in site.posts %}
{% if post.categories contains 'sects' %}
<tr><td>
 <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
 <p><time>{{ post.date | date: "%b %d, %Y" }} / {{ post.hijri }}</time></p>
</td></tr>
{% endif %}
{% endfor %}
</table>
