---
layout: Page
title: The Groups & Sects
excerpt: It is not Islam that is divided into sects, rather it is the people who differ, deviated from the Sunnah of their Prophet and deviated from the authentic teachings of Islam.
permalink: /sects/
---
{% include intro_groups_and_sects.html %}
<table>
{% for post in site.posts %}
{% if post.categories contains 'sects' %}
<tr><td>
 <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ post.url }}">
  <h3>{{ post.title }}</h3>
 </a>
 <p>
  <small>{{ post.date | date: "%b %d, %Y" }} / {{ post.hijri }}</small>
 </p>
 <p class="mb-1 fst-italic">
   {{ post.content | truncatewords: 30  | strip_html | normalize_whitespace | remove_first: "Question:" }}
 </p>
</td></tr>
{% endif %}
{% endfor %}
</table>
