---
layout: page
title: "Featured Articles"
permalink: /featured-fatwas/
featured_slugs:
  - darwin-theory
  - darwin-theory-of-evolution
  - humanity-lineage-created-from-clay-not-evolved-from-apes
---

{% for slug in page.featured_slugs %}
  {% assign post = site.posts | where: "slug", slug | first %}
  {% if post %}
    <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
  {% endif %}
{% endfor %}

<hr/>

{% assign target_slugs = "darwin-theory,darwin-theory-of-evolution,humanity-lineage-created-from-clay-not-evolved-from-apes" | split: "," %}
{% for slug in target_slugs %}
  {% assign post = site.posts | where: "slug", slug | first %}
  {% if post %}
    <article>
      <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
    </article>
  {% endif %}
{% endfor %}

<hr/>

{% assign matching_posts = site.posts | where: "slug", "who-are-the-salaf" %}
{% for post in matching_posts %}
  <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
  <p>{{ post.hiri }} \ {{ post.date | date: "%Y-%m-%d" }}</p>
  <p>{{ post.summary }}</p>
{% endfor %}
