---
layout: page
title: "Featured Articles"
permalink: /featured-fatwas/
featured_slugs:
  - darwin-theory
  - darwin-theory-of-evolution
  - humanity-lineage-created-from-clay-not-evolved-from-apes
---

{% for slug in page.featured_slugs %}
  {% assign post = site.posts | where: "slug", slug | first %}
  {% if post %}
    <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
  {% endif %}
{% endfor %}


{% assign target_slugs = "darwin-theory,darwin-theory-of-evolution,humanity-lineage-created-from-clay-not-evolved-from-apes" | split: "," %}
{% for slug in target_slugs %}
  {% assign post = site.posts | where: "slug", slug | first %}
  {% if post %}
    <article>
      <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      <p>{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
    </article>
  {% endif %}
{% endfor %}
