---
layout: Page
title: Videos
active: videos
permalink: /videos/
excerpt: Collection of video fatwas (legal opinions) issued by the scholars of ahlus-sunnah.
---
{% for post in site.posts %}
{% if post.categories contains 'videos' %} 
{% if post.url %}
<div class="card bg-transparent border-danger mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <a href="{{ post.url }}">
        <img src="http://img.youtube.com/vi/{{ post.videoID }}/mqdefault.jpg" class="img-fluid rounded-start" alt="{{ post.title }}">
      </a>
    </div>
    <div class="col-md-8">
      <div class="card-body bg-transparent">
        <h5 class="card-title"><a href="{{ post.url }}">{{ post.title }}</a></h5>
        <p class="card-text">{{ post.content | truncatewords: 20  | strip_html | normalize_whitespace | remove_first: "Question:" }}</p>
        <p class="card-text"><small class="text-body-secondary">{{ post.hijri }}</small></p>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endif %}  
{% endfor %}
