---
layout: default
title: All Posts
active: home
permalink: /all/
---

<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="{{ site.url }}"><span itemprop="name">Home</span></a>
    <meta itemprop="position" content="1" />
  </li>
  <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
    <span itemprop="name" class="active">{{ page.title }}</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<article>
<p>last updated at: {{ site.time }}</p>
  
{% assign posts = site.posts %}
 <select onchange="document.location.href=this.value">
  <option selected>All posts</option>
  {% for post in posts %}
  <option value="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</option>
  {% endfor %}
</select>
<br/>
<ol>
{% assign posts = site.posts %}
{% for post in posts %}
 <li><a href="{{ post.url | prepend:site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ol>

</article>
