---
layout: default
title: Article
permalink: /article/
---

<article>
 {% if page.collection %}
  {% assign collection = site[page.collection] | sort: 'position' %}
  {% assign prev = collection | last %}
  {% assign next = collection | first %}

  {% for item in collection %}
    {% if item.title == page.title %}
      {% unless forloop.first %}
        {% assign prev = iterator %}
      {% endunless %}

      {% unless forloop.last %}
        {% assign next = collection[forloop.index] %}
      {% endunless %}
    {% endif %}

    {% assign iterator = item %}
  {% endfor %}
{% endif %}

{% if prev %}
  <a href="{{ prev.url }}">{{ prev.title }}</a>
{% endif %}

{% if next %}
  <a href="{{ next.url }}">{{ next.title }}</a>
{% endif %}
    
  <ol>
{% for c in site.muqolat %}
  <li>
    <span><b>{{ c.hijri }}</b> : <a href="{{ c.url }}">{{ c.title }}</a></span>
      <p>{{ c.excerpt }}</p>
  </li>
{% else %}
{{site.data.settings.page.no-fatwas}}
{% endfor %}
  </ol>

{% for post in paginator.page[site.muqolat] %}
  <h1><a href="{{ post.url }}">{{ page.title }}</a></h1>
  <p class="author">
    <span class="date">{{ page.date }}</span>
  </p>
  <div class="content">
    {{ page.excerpt }}
    {{ page.content }}
  </div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
  
</article>

