---
layout: muqolat
title: Blog
active: muqolat
date: 2014-09-24 08:48:50 +0530
permalink: /blog/
---

<article>
<ol>
{% for post in site.posts %}
 {% if post.path contains 'salafism' %}
  <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
 {% endif %}
{% endfor %}  
</ol>

 <p>last modified: {{ site.time | date: "%b %-d, %Y at %r Saudi Arabia Time" }}</p>
 {{ site.time | to_utc | date: "%Y%m%dT%H:%M:%S%:z" }}
 <p>{{ site.time | gregorian.to_hijri | date: "%b %-d, %Y at %r %:z" }}</p>
 <p>{{ page.time | to_hijri | date: "%b %-d, %Y at %r" }}</p>
</article>
