---
title: Categories
layout: page
active: categories
permalink: /category/
---

<article class="post">
    {% assign tags = site.categories | sort %}
    {% for tag in tags %}
    <a href="#{{ tag[0] | slugify }}" class="btn btn-default">
      <span class="fa fa-folder-open" aria-hidden="true"> 
        {{ tag[0] }} <i class="badge">{{ tag | last | size }}</i>
      </span>
    </a>
    {% endfor %}

    {% for tag in tags %} 
      <h4 id="{{ tag[0] | slugify }}"> {{ tag[0] }}</h4>
      <p>{{ tag | last | size }} posts</p>
      <ul class="later on">
        {% for post in tag[1] %}
          <a class="post-subtitle" href="{{ site.baseurl }}{{ post.url }}">
        <li>
          {{ post.title }}
        </li>
        </a>
        {% endfor %}
      </ul>
        <a href="#top" class="btn btn-default">
          Back to top
        </a> 
        <hr/>
    {% endfor %}
</article>