---
layout: base
title: Demo
permalink: /demo/3
---
<div itemscope>
 
<table>
 <tr></tr>
 <tr>{{ site.posts | size }} Fatwas</tr>
</table>
 
<ul 
 class="no-bullets"
 itemscope itemtype="https://schema.org/ItemList">
 {% for post in site.posts limit:5 %}
  {% if post.url %}
   <li itemprop="itemListElement">
    <a 
     itemprop="url" 
     href="{{ post.url }}"
     class="fatwas-title">          
      <span itemscope itemprop="name">
       {{ post.title }}
      </span>
    </a>
     <p itemscope itemtype="https://schema.org/ItemList">
       <span itemscope itemprop="description">{{ post.excerpt }}</span>
     </p>
   </li>
   {% endif %}
  {% endfor %}
</ul>

<div class="flex">
 <div class="pagination" itemscope itemtype="http://schema.org/SiteNavigationElement/Pagination">
  <a href="#!" itemprop="relatedLink/pagination" rel="prev">
    ❮ {{ site.data.base.page.prev }}
  </a>
  <a href="#!" itemprop="relatedLink/pagination" rel="next">
    {{ site.data.base.page.next }} ❯
  </a>
 </div> 
</div>

</div>
