---
layout: base
title: Demo
permalink: /demo/
---

<div itemscope>
<h3>The Duty Of A Muslim Is To Follow The Teachings Of The Qur'an And Sunnah</h3>
<p itemscope>
  The duty of every Muslim is to adhere to what came in the Book of Allah and the Sunnah of His Messenger (peace be upon him) in words, deeds, and beliefs. A Muslim should also love and hate, show allegiance and enmity for the sake of Allah. And as far as ability goes, a Muslim should care to be the closest of all people to the truth.
</p>
</div>

<hr/>

<div itemscope>
<ul class="no-bullets">
 {% for post in site.posts limit:5 %}
  {% if post.url %}
   <li>
    <a 
     itemprop="url" 
     href="{{ post.url }}"
     class="fatwas-title">          
     <span itemscope itemprop="name">
       {{ post.title }}
     </span>
    </a>
     <time itemprop="datePublished" 
       datetime="{{ post.hijri }}">
       {{ post.hijri }}
     </time>
     <p itemprop="summary">
       {{ post.excerpt }}
     </p>
   </li>
   {% endif %}
  {% endfor %}
</ul>

<div class="pagination center">
  <a href="#!">
    ❮ {{ site.data.base.page.prev }}
  </a>
  <a href="#!">
    {{ site.data.base.page.next }} ❯
  </a>
</div> 

</div>

<hr/>

<div itemscope>
<h3>{{ site.data.base.page.fatwas }}</h3>
<ul class="square">
 {% for post in site.posts limit:5 %}
  {% if post.url %}
   <li>
    <a 
     itemprop="url" 
     href="{{ post.url }}">          
     <span itemscope itemprop="name">
       {{ post.title }}
     </span>
    </a>
   </li>
   {% endif %}
  {% endfor %}
    <a 
      itemprop="url" 
      href="/fatwas">
      {{site.data.base.page.more }}
    </a>
</ul>
</div>

<hr/>

<div itemscope>
<h3>{{ site.data.base.page.audios }}</h3>
<ul class="bullets">
{% for c in site.audios | limit:5 %}
 <li>
   <a itemprop="url" href="{{ c.url }}">
     <span itemscope itemprop="name">
       {{ c.title }}
     </span>
   </a>
 </li>
{% endfor %}
</ul>
<a 
 itemprop="url" 
 href="/audios">
 {{site.data.base.page.more }}
</a>
</div>

<hr/>

<div itemscope>
<h3>Table</h3>
<table itemscope class="responsive" id="table">	
 <tbody>     
  {% for category in site.categories %}	
  <tr>
   <td>
    {{ category | first | strip_html }}
   </td>    
   <td>{{ category[1].size }}</td>
  </tr>      
  {% endfor %}	
 </tbody>	
</table>
</div>
