---
layout: null
title: Demo
permalink: /demo/
---

<!DOCTYPE html>
<html class="grey lighten-5">
{% include head.html %}
<link href="https://cdn.datatables.net/v/dt/dt-1.13.5/datatables.min.css" rel="stylesheet"/>
<script src="https://cdn.datatables.net/v/dt/dt-1.13.5/datatables.min.js"></script>
<body ng-app="myApp" ng-controller="ListController as list" onload="setModifiedDate(); setAccessedDate();" class="is-preload {{ page.locale }}" class="grey lighten-5">
 {% include sidenav.html %}
<div class="container" style="width: 98%;">
   <nav class="z-depth-0 transparent">
    <div class="nav-wrapper">
     <ul class="left">
       <li><a class="modal-trigger" href="{{ "#!" | relative_url }}"><i class="material-icons black-text">keyboard_backspace</i></a></li>          
      </ul>        
    </div>
  </nav>

<table id="example" class="display" style="width:100%">
        <tbody>
            {% for c in site.data.biography %}
            <tr>
                <td>{{ c.title }}</td>    
            </tr>
            {% endfor %}
        </tbody>
</table>
   
    
 </div>
 {% include scripts.html %}
	<script type="text/javascript" language="javascript" class="init">
	
$(document).ready(function() {
	$('#example').DataTable( {
		"dom": '<"top"i>rt<"bottom"flp><"clear">'
	} );
} );

	</script>
 </body>
</html>
