---
layout: muqolat
title: Docs
active: muqolat
permalink: /docs/
---

<article>
  {% assign total = 0 %}
  {% for post in site.posts %}
     {% if post.category == "salafism" %}
      {% assign total = total | plus: 1 %}
     {% endif %}
  {% endfor %}
  
  {% for category in site.categories %}
    <div><a href="{{ site.baseurl }}/category/{{ category[0] }}">{{ category[0] | capitalize }} <span> ({{ category[1].size }}) </span></a></div>
  {% endfor %}
 

<ol>
{% for post in site.posts %}
 {% if post.path contains 'salafism' %}
  <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
 {% endif %}
{% endfor %}  
</ol>

 <p>last modified: {{ page.date | date: "%b %-d, %Y at %r Saudi Arabia Time" }}</p>
 <p>{{ site.time | gregorian.to_hijri | date: "%b %-d, %Y at %r %:z" }}</p>
 <p>{{ page.date | to_hijri | date: "%b %-d, %Y at %r" }}</p>
 <p>{{ page.date | hijri_month | to_hijri | date: "%b %-d, %Y at %r" }}</p>
</article>
