---
layout: default
locale: en
permalink: /fatwa/
---

<div class="container">
  {% if page.locale %}
  {% assign posts = paginator.posts | where:"locale", page.locale %}
  {% else %}
  {% assign posts = site.posts %}
  {% endif %}

  {% assign posts = paginator.posts | default: site.posts | where:"locale", page.locale %}
  {% for post in posts %}
  {% if post.locale == 'en' %}
  {% assign post_url = post.url | relative_url %}
  <div class="section">
   <a href="{{ post_url }}"><h5>{{ post.title }}</h5></a>
   <p>Posted on <b>{{ post.hijri }}</b></p>
  </div>
  <div class="divider"></div>
  {% endif %}
  {% endfor %}
  
<!-- Pagination -->
<div class="center-align">
  <ul class="pagination">
    {% if paginator.previous_page %}
    <li class="waves-effect"><a href="{{ paginator.previous_page_path }}"><i class="medium material-icons">chevron_left</i></a></li>
    {% else %}
    <li class="disabled"><a href="#!"><i class="medium material-icons">chevron_left</i></a></li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="waves-effect"><a href="{{ paginator.next_page_path }}"><i class="medium material-icons">chevron_right</i></a></li>
    {% else %}
    <li class="disabled"><a href="#!"><i class="medium material-icons">chevron_right</i></a></li>
    {% endif %}
  </ul>
</div>
</div>
