---
layout: page
title: Muqolat (Article)
uid: muqolat
locale: en
permalink: /muqolat/
---

<article>
<div class="table-wrapper" itemscope itemtype="https://schema.org/Table">
  <table>
    <tbody>
      {% for c in site.muqolat %}
      <tr>
        <td>{{ c.hijri }}</td>
        <td>
          <a title="{{ c.title }}" href="{{ c.url }}">{{ c.title }}</a>
        </td>
      </tr>
      {% else %}
      <p>{{site.data.settings.page.no-fatwas}}</p>
      {% endfor %}
    </tbody>
  </table>
</div>

{% for post in paginator.page[site.muqolat] %}
  <h1><a href="{{ post.url }}">{{ page.title }}</a></h1>
  <p class="author">
    <span class="date">{{ page.date }}</span>
  </p>
  <div class="content">
    {{ page.excerpt }}
    {{ page.content }}
  </div>
{% endfor %}
  
</article>

