---
title: Browse by topic
layout: page
active: topic
permalink: /topic/
---

<article class="post">
<p><b>{{ site.posts | size }}</b> fatwas can be found.</p>
{% include search-form.liquid %}

<br/>

<header class="major">
 <span class="date"><i class="fas fa-feather"></i></span>
</header>

<div class="row">
 <div class="col-6 col-12-small">
<div class="box">
<h4><a class="icon solid fa fa-folder-open" href="/salah/"> Salah (Prayers)</a></h4>
<ul class="posts">
  {% for post in site.categories.salah | limit:3 %}
    {% if post.url %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
</div>
</div>
 <div class="col-6 col-12-small">
<div class="box">
<h4><a class="icon solid fa fa-folder-open" href="/tafsir-quran/"> Qur'an Tafsir (Exegesis)</a></h4>
<ul class="posts">
  {% for post in site.categories.quran | limit:3 %}
    {% if post.url %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
</div>
</div>
</div>

<div class="box">
<h4><a class="icon solid fa fa-folder-open" href="/hadiths/"> Hadiths explanations</a></h4>
<ul class="posts">
  {% for post in site.categories.hadiths | limit:3 %}
    {% if post.url %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
</div>

<div class="box">
<h4><a class="icon solid fa fa-folder-open" href="/rulership/"> Rulership / Kingship</a></h4>
<ul class="posts">
  {% for post in site.categories.rulership | limit:3 %}
    {% if post.url %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
</div>

<div class="row">
 <div class="col-6 col-12-small">
<div class="box">
<h4><a class="icon solid fa fa-folder-open" href="/prophets/"> Prophets & Messengers</a></h4>
<ul class="posts">
  {% for post in site.categories.prophets | limit:3 %}
    {% if post.url %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
</div>
</div>

 <div class="col-6 col-12-small">
 <div class="box">
<h4><a class="icon solid fa fa-folder-open" href="/wahhabism/"> Wahhabism</a></h4>
<ul class="posts">
  {% for post in site.categories.wahhabism | limit:3 %}
    {% if post.url %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
</div>
 </div>
</div>

<br/>
<header class="major">
 <span class="date">More</span>
</header>

{% if site.data.settings.chapters %}
<div id="fatwas-list">
<input class="search" type="text" placeholder="Find a topic"/><br/>
<ul class="list" style="list-style: none; padding: 0; margin: 0;">
{% for item in site.data.settings.chapters %}
 <li><a class="icon fa fa-folder title" href="{{ item.link }}"> {{ item.name | join: ', ' }}</a></li>
{% endfor %}
</ul>
<br/><ul class="pagination"></ul>
</div>
{% endif %}

</article>
