---
title: Browse by topic
layout: default
active: topic
uid: topic
locale: en
permalink: /topic/
---

<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="{{ site.url }}"><span itemprop="name">Home</span></a>
    <meta itemprop="position" content="1" />
  </li>
  <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
    <span itemprop="name" class="active">{{ page.title }}</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>

<article class="post">
{% include search-form.liquid %}
{% assign posts = site.posts %}
 <select onchange="document.location.href=this.value">
  <option selected>All Fatwas: ({{ site.posts | size }} Fatwas)</option>
  {% for post in posts %}
  <option value="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</option>
  {% endfor %}
</select>
<br/>
{% if site.data.settings.chapters %}
 <select onchange="document.location.href=this.value">
  <option selected>Categories</option>
  {% for item in site.data.settings.chapters %}
  <option value="{{ item.link }}">{{ item.name }}</option>
  {% endfor %}
</select>
{% endif %}
<br/>
  
<header class="major">
 <span class="date"><i class="fas fa-feather"></i></span>
</header>

<div class="row">
 <div class="col-6 col-12-small">
<div class="box">
<h4><a class="icon solid fa fa-folder-open" href="/salah/"> Salah (Prayers)</a></h4>
<ul class="posts">
  {% for post in site.categories.salah | limit:3 %}
    {% if post.url %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
</div>
</div>
 <div class="col-6 col-12-small">
<div class="box">
<h4><a class="icon solid fa fa-folder-open" href="/tafsir/quran/"> Qur'an Tafsir (Exegesis)</a></h4>
<ul class="posts">
  {% for post in site.categories.quran | limit:3 %}
    {% if post.url %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
</div>
</div>
</div>

<div class="box">
<h4><a class="icon solid fa fa-folder-open" href="/tafsir/hadiths/"> Hadiths explanations</a></h4>
<ul class="posts">
  {% for post in site.categories.hadiths | limit:3 %}
    {% if post.url %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
</div>

<div class="box">
<h4><a class="icon solid fa fa-folder-open" href="/rulership/"> Rulership / Kingship</a></h4>
<ul class="posts">
  {% for post in site.categories.rulership | limit:3 %}
    {% if post.url %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
</div>

<div class="box">
<h4><a class="icon solid fa fa-folder-open" href="/prophets/"> Prophets & Messengers</a></h4>
<ul class="posts">
  {% for post in site.categories.prophets | limit:3 %}
    {% if post.url %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
</div>


<div class="box">
<h4><a class="icon solid fa fa-folder-open" href="/aqidah/walabara/"> Al-Wala' Wal-Bara' (loyalty and disassociation for Allah's Sake)</a></h4>
<ul class="posts">
  {% for post in site.categories.walabara | limit:3 %}
    {% if post.url %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
</div>

<hr/><p>last updated at: {{ site.time }}</p>
</article>
