---
layout: my_article
title: Article
permalink: /article/
pagination:
    enabled: true
    collection: muqolat
---

<article>
  <ol>
{% for c in paginator.site.muqolat limit: 1 %}
  <li>
    <span><b>{{ c.hijri }}</b> : <a href="{{ c.url }}">{{ c.title }}</a></span>
  </li>
{% else %}
{{site.data.settings.page.no-fatwas}}
{% endfor %}
  </ol>

 {% for c in site.muqolat %}
{% if c.title == page.title %}
  {% assign thisPage = c %}
  {% if forloop.index == 1 %}
    {% assign prevflag = 0 %}
    {% assign nextflag = 1 %}
  {% elsif forloop.index == forloop.length %}
    {% assign prevflag = 1 %}
    {% assign nextflag = 0 %}
  {% else %}
    {% assign prevflag = 1 %}
    {% assign nextflag = 1 %}
  {% endif %}  
{% endif %}
{% endfor %}

{% for c in site.muqolat %}
  {% if c.title == page.title %}
    {% assign prevflag = 0 %}
  {% endif %}
  {% if prevflag == 1 %}
    {% assign prevPage = c %}
    {% assign page.previous = c %}
  {% endif %}
{% endfor %}

{% if nextflag == 1 %}
  {% for c in site.muqolat %}
    {% if foundPage == 1 %}
      {% assign getNext = 1 %}
    {% endif %}
    {% if c.title == page.title %}
      {% assign foundPage = 1 %}        
    {% endif %}
    {% if getNext == 1%}
      {% assign nextPage = c %}
      {% assign page.next = c %}
      {% assign foundPage = 0 %}
      {% assign getNext = 0 %}
    {% endif %}
  {% endfor %}
{% endif %}

<div id="post-nav" class="clearfix nav-slide">
    <div class="work">    
        {% if prevPage.url %}
        <a class="prev" href="{{prevPage.url}}">
            <span class="slide-wrap">&lt; Prev</span>
        </a> 
        {% endif %} 
        &nbsp;&nbsp;&nbsp;&nbsp;
        {% if nextPage.url %} 
        <a class="next" href="{{nextPage.url}}">
            <span class="slide-wrap">Next &gt;</span>
        </a> 
        {% endif %} 
    </div>
</div>

{% assign prevflag = 1 %}
{% assign nextflag = 1 %}

{% for c in site.muqolat %}
  {% if c.title == page.title %}
    {% assign currentItemIndex = forloop.index0 %}
    {% if forloop.index == 1 %}
      {% assign prevflag = 0 %}
      {% assign nextflag = 1 %}
    {% elsif forloop.index == forloop.length %}
      {% assign prevflag = 1 %}
      {% assign nextflag = 0 %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if prevflag == 1 %}
  {% assign prevItemIndex = currentItemIndex | minus: 1 %}
  {% assign prevPost = site.muqolat[prevItemIndex] %}
{% endif %}

{% if nextflag == 1 %}
  {% assign nextItemIndex = currentItemIndex | plus: 1 %}
  {% assign nextPost = site.muqolat[nextItemIndex] %}
{% endif %}
  
</article>

