---
layout: my_article
title: Article
permalink: /article/
---

<article>
  <ol>
{% for muqolat in site.muqolat limit: 1 %}
  <li>
    <span><b>{{ muqolat.hijri }}</b> : <a href="{{ muqolat.url }}">{{ muqolat.title }}</a></span>
  </li>
{% else %}
{{site.data.settings.page.no-fatwas}}
{% endfor %}
  </ol>

 {% for c in site.muqolat %}
{% if c.title == page.title %}
  {% assign thisPage = c %}
  {% if forloop.index == 1 %}
    {% assign prevflag = 0 %}
    {% assign nextflag = 1 %}
  {% elsif forloop.index == forloop.length %}
    {% assign prevflag = 1 %}
    {% assign nextflag = 0 %}
  {% else %}
    {% assign prevflag = 1 %}
    {% assign nextflag = 1 %}
  {% endif %}  
{% endif %}
{% endfor %}

{% for c in site.muqolat %}
  {% if c.title == page.title %}
    {% assign prevflag = 0 %}
  {% endif %}
  {% if prevflag == 1 %}
    {% assign prevPage = c %}
    {% assign page.previous = c %}
  {% endif %}
{% endfor %}

{% if nextflag == 1 %}
  {% for c in site.muqolat %}
    {% if foundPage == 1 %}
      {% assign getNext = 1 %}
    {% endif %}
    {% if c.title == page.title %}
      {% assign foundPage = 1 %}        
    {% endif %}
    {% if getNext == 1%}
      {% assign nextPage = c %}
      {% assign page.next = c %}
      {% assign foundPage = 0 %}
      {% assign getNext = 0 %}
    {% endif %}
  {% endfor %}
{% endif %}

<div id="post-nav" class="clearfix nav-slide">
    <div class="work">    
        {% if prevPage.url %}
        <a class="prev" href="{{prevPage.url}}">
            <span class="slide-wrap">&lt; {{prevPage.title}}</span>
        </a> 
        {% endif %} 
        &nbsp;&nbsp;&nbsp;&nbsp;
        {% if nextPage.url %} 
        <a class="next" href="{{nextPage.url}}">
            <span class="slide-wrap">{{nextPage.title}} &gt;</span>
        </a> 
        {% endif %} 
    </div>
</div>
  
</article>

