---
layout: category_index
permalink: /categories/
---

{% for category in site.categories %}

        <a href="{{base_url}}/categories/{{ category | first}}/">
            {{ category | first }}
        </a>
        {% unless forloop.last %}, {% endunless %}

{% endfor %}
<h1>Tags</h1>
<div class="tagcloud">
{% for tag in site.tags %}

    <li style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size| plus: 70 }}%">
        <a href="{{base_url}}/tags/{{ tag | first |downcase | slugize }}/">
            {{ tag | first }}
        </a>

    </li>
{% endfor %}
