---
layout: default
uid: home
active: home
locale: en
excerpt: This site is dedicated to presenting the pure teachings of Islam and Sunnah, refuting bidahs, the lies and distortions.
---
<div>
   <h2>Recent 
    <a class="nowavy" href="{{ '/fatwas/' | prepend:site.baseurl }}">
      <mark>
       {{ site.data.locales[page.locale].page.fatwas }}
      </mark>
    </a>
   </h2>
<ul class="square" vocab="https://schema.org/" typeof="ItemList">
{% for post in site.posts limit:5 %}
{% if post.url %}
 <li property="itemListElement" typeof="ListItem" style="margin-bottom: 8px;"> 
  <a href="{{ post.url }}" property="item" typeof="WebPage">
  <span property="name">{{ post.title | truncate: 60 }}</span>
  </a>
  <meta itemprop="position" content="{{ forloop.index }}" />
 </li>
{% endif %}
{% endfor %}
</ul>
</div>

<div>
   <h2> Recent 
    <a itemprop="url" class="nowavy" href="{{ '/audios/' | prepend:site.baseurl }}">
     <mark>
     {{ site.data.locales[page.locale].page.audios }}
     </mark>
    </a>
   </h2>
<ul class="bullets">
{% for item in site.audios limit:3 %}
<li itemscope itemtype="https://schema.org/FAQPage">
  <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <a class="nowavy" href="{{ item.url }}"><h3 itemprop="name">
     <mark>{{ item.title | truncate: 60 }}</mark>
    </h3></a>
    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
      <div itemprop="text">
        {{ item.excerpt | truncate: 160 }}
      </div>
    </div>
  </div>
</li>
{% endfor %}
</ul>
</div>
