---
layout: default
uid: home
active: home
excerpt: This site is dedicated to presenting the pure teachings of Islam and Sunnah, refuting bidahs, the lies and distortions.
---
<div>
   <h2>Recent 
    <a class="nowavy" href="{{ '/fatwas/' | prepend:site.baseurl }}">
      <mark>
       {{ site.data.base.page.fatwas }}
      </mark>
    </a>
   </h2>
<ul class="square">
{% for post in site.posts limit:5 %}
{% if post.url %}
 <li > 
  <a href="{{ post.url }}" property="item" typeof="WebPage">
  <span itemprop="name">{{ post.title | truncate: 60 }}</span>
  </a>
  <meta itemprop="position" content="{{ forloop.index }}" />
 </li>
{% endif %}
{% endfor %}
</ul>
</div>

<div>
   <h2> Recent 
    <a property="url" class="nowavy" href="{{ '/audios/' | prepend:site.baseurl }}">
     <mark>
     {{ site.data.base.page.audios }}
     </mark>
    </a>
   </h2>
<ul class="bullets faq" itemscope itemtype="https://schema.org/FAQPage">
{% for item in site.audios limit:4 %}
<li itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <a class="nowavy" href="{{ item.url }}"><h3 itemprop="name">
     <mark>{{ item.title | truncate: 60 }}</mark>
    </h3></a>
    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
      <div itemprop="text">
        {{ item.excerpt | truncate: 160 }}
      </div>
    </div>
</li>
{% endfor %}
</ul>
</div>

<div class="card card-body">
 <p>Muslims have to avoid bid'ahs (religious innovations) and beware of them for the Prophet ﷺ said, "Anyone who does an action which is not stated in this matter of ours (Islam) will have it rejected." He ﷺ also said, "Avoid novelties [in religion], for every novelty is a bid'ah, and every bid'ah is deviation."</p>   
</div>
