---
layout: category
title: "Audios Fatwas"
author: "Instagram@Alsalafiyyah"
permalink: /audios/
---

<article>
<div class="table-wrapper" itemscope itemtype="https://schema.org/Table">
  <table>
    <tbody>
      {% for post in site.categories.audios %}
      <tr>
        <td>{{ post.hijri }}</td>
        <td>
          {% if post.url %}<a title="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a>{% endif %}
        </td>
      </tr>
      {% else %}
       {{site.data.settings.page.no-fatwas}}
      {% endfor %}
    </tbody>
  </table>
</div>
<hr/><p>last updated at: {{ site.time }}</p>
</article>
