{% assign day = include.date | date: "%-d" %}
{% if page.locale != 'ar' %}
    {% case day %}
        {% when '1' or '21' or '31' %} {{ day }}<sup>st</sup>
        {% when '2' or '22' %} {{ day }}<sup>nd</sup>
        {% when '3' or '23' %} {{ day }}<sup>rd</sup>
        {% else %} {{ day }}<sup>th</sup>
    {% endcase %}
{% else %}
    {% if day == "1" %}
        {{ day }}<sup>er</sup>
    {% else %} {{ day }}
    {% endif %}
{% endif %} {% if page.locale != 'ar' %}
    {{ include.date | date: "%B" }}
{% else %}
    {% assign m = include.date | date: "%-m" %}
    {% case m %}
            {% when  '1' %}يناير
            {% when  '2' %}فبراير
            {% when  '3' %}مارس
            {% when  '4' %}أبريل
            {% when  '5' %}مايو
            {% when  '6' %}يونيو
            {% when  '7' %}يوليو
            {% when  '8' %}أغسطس
            {% when  '9' %}سبتمبر
            {% when '10' %}أكتوبر
            {% when '11' %}نوفمبر
            {% when '12' %}ديسمبر
    {% endcase %}
{% endif %} {{ include.date | date: "%Y" }}
