{% if page.mp3 %}
<div class="mb-4">
  <audio controls>
   <source src="{{ page.mp3 }}" type="audio/mpeg"/>
   <p>{{ site.data.locales[page.locale].page.notSupportaudio }}</p>
  </audio>
</div>
{% endif %}
{% if page.active == 'videos' %}
 {% if page.videoID %}
<div class="card bg-transparent border-danger rounded-0 p-1 mb-5 shadow-sm">
 <div class="ratio ratio-16x9 card-body">
   <iframe src="https://www.youtube.com/embed/{{ page.videoID }}?rel=0" 
    title="{{ page.title }}" 
    allowfullscreen>
    </iframe>
  </div>
</div>
 {% endif %}
{% endif %}
