<table>
{% assign sorted = site.audios | sort: 'date' | reverse %}
{% for item in sorted %}
<tr>
  <td>
   <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" 
     href="{{ item.url }}">
    <h3>{{ item.title }}</h3>
   </a>
   <p>
    <small><i class="bi bi-calendar-day"></i> {{ item.hijri }}</small>
   </p>
   <p class="mb-1 fst-italic">
    {{ item.content | truncatewords: 30  | strip_html | normalize_whitespace }}
   </p>
 </td>
</tr>
{% endfor %}
</table>
