<div class="ms-2 me-auto">
 <time itemprop="datePublished" datetime="{{ page.date | to_utc | date: "%Y%m%dT%H:%M:%S%:z" }}"> 
  {% if page.hijri %}
   <div class="fw-normal">{% if page.locale == 'en' %}{{ site.data.locales[page.locale].page.created_at | append: " : " }}{% elsif page.locale == 'ar' %}{{ site.data.locales[page.locale].page.created_at | append: " : " }}{% else %}Created at:{% endif %}</div>   
    <span class="fw-semibold">{{ page.hijri }}</span> 
   {% if page.date %}
    <span class="fw-semibold" style=".ordinal{font-variant-numeric: ordinal !important; font-family: 'Source Sans Pro';}"> 
     — <span class="ordinal">
   {% assign day = page.date | date: "%-d" %}
   {% case day %}
    {% when '1' or '21' or '31' %}{{ day }}st
    {% when '2' or '22' %}{{ day }}nd
    {% when '3' or '23' %}{{ day }}rd
    {% else %}{{ day }}th
   {% endcase %}
    {{ page.date | date: "%b, %Y" }}
     </span>
    </span>
   {% endif %}     
  {% endif %}  
 </time>
</div> 
