<!-- Date -->  
{% if page.hijri %}
<li class="list-group-item">
<div class="ms-2 me-auto">

 <time itemprop="datePublished" datetime="{{ page.date | to_utc | date: "%Y%m%dT%H:%M:%S%:z" }}"> 
   <div class="fw-normal">
    {{ "Published :" | capitalize }} 
   </div>   
    <span class="fw-semibold">{{ page.hijri }}</span> 
  {% if page.date %} | 
   <span class="fw-semibold"> 
    {{ article.published_at | date: "%a, %b %d, %Y" }}
   </span>
  {% endif %}
 </time>

</div> 
</li>
{% else %}
{% endif %}
