				<!-- Footer -->
					<footer id="footer">
						<section>
								<div class="fields">

							{% include search-form.liquid %}
								</div>
						</section>
						<section class="split contact">
							<section>

							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; <a href="{{ site.baseurl }}/">Instagram@Alsalafiyyah</a></li> 
                                                <li><a href="/resource/>Resources</a></li></ul>
					</div>