<footer class="footer" role="contentinfo" itemprop="hasPart" itemscope itemtype="http://schema.org/WPFooter">
 <div class="footer-container">
  <div class="row flex">
   <div class="column">   
    <p class="copyright">&copy; <span itemprop="copyrightYear">{{ 'now' | date: "%Y" }}</span> <span itemprop="copyrightHolder" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ site.title }}</span></span></p>
   </div>
   <div class="column">   
     <ul class="square" itemscope itemtype="https://schema.org/ItemList">
      {% for item in site.data.base.footer %}
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
       <a class="link" itemprop="url" href="{{ item.url }}" target="_blank">
        <span itemprop="item" itemscope>
         <span itemprop="name">{{ item.name }}</span>
        </span>
       </a>
       <meta itemprop="position" content="{{ forloop.index }}" />
      </li>
      {% endfor %}
     </ul>
   </div> 
  </div>
  </div> 
</footer>
