				<!-- Footer -->
					<footer id="footer">
						<section>
							<form action="{{ "/search" | relative_url }}">
<input id="tipue_search_input" type="text" name="q" placeholder="Type and hit enter" pattern=".{3,}" title="At least 3 characters" required/>
							</form>
						</section>
					</footer>
  <script src="{{ "/assets/js/jquery.scrollex.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/jquery.scrolly.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/browser.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/breakpoints.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/util.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/main.js" | relative_url }}"></script>