				<!-- Footer -->
					<footer id="footer">
						<section>
								<div class="fields">

							{% include search-form.liquid %}
								</div>
						</section>
						<section class="split contact">
							<section>
<p><a class="button small" href="mailto:alsalafiyah@icloud.com?subject=Request&body={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}">Request a Fatwa or topic</a></p>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; <a href="{{ site.baseurl }}/">Instagram@Alsalafiyyah</a></li> 
                                                </ul>
					</div>
