<footer class="footer" role="contentinfo" vocab="http://schema.org" itemtype="WPFooter">
 <div class="footer-container">
  <div class="row flex">
   <div class="column">   
    <p class="copyright">&copy; <span property="copyrightYear">{{ 'now' | date: "%Y" }}</span> <span property="copyrightHolder" vocab="http://schema.org" itemtype="Person"><span property="name">{{ site.title }}</span></span> <br/> Hosted by <a href="https://github.com" target="_blank">GitHub</a></p>
   </div>
   <div class="column">   
    <ul class="square" typeof="ItemList">
     {% for item in site.data.base.footer %}
     <li property="itemListElement" typeof="ListItem"> 
      <a href="{{ item.url }}" property="item" typeof="WebPage" target="_blank">
       <span property="name">{{ item.name }}</span>
      </a>
      <meta property="position" content="{{ forloop.index }}" />
      </li>
      {% endfor %}
      </ul>
   </div> 
  </div>
  </div> 
</footer>
