				<!-- Footer -->
					<footer id="footer">
						<section>
								<div class="fields">
<p>Total ( <b>{{ site.posts | size }}</b> ) fatwas published</p>
							<form action="{{ "/search" | relative_url }}">
<input id="tipue_search_input" type="text" name="q" placeholder="Search a fatwa" pattern=".{3,}" title="At least 3 characters" required/>
							</form>
								</div>
						</section>
						<section class="split contact">
							<section>
								<h3>Contact</h3>
								<p>salafiyyah@outlook.sa</p>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; <a href="{{ site.baseurl }}/">{{ site.title }}</a></li></ul>
					</div>