				<!-- Footer -->
					<footer id="footer">
						<section>
								<div class="fields">

							{% include search-form.liquid %}
{% if site.data.settings.chapters %}
 <select onchange="document.location.href=this.value">
  <option selected>Select</option>
  {% for item in site.data.settings.chapters %}
  <option value="{{ item.link }}">{{ item.name }}</option>
  {% endfor %}
</select>
{% endif %}							
								</div>
						</section>
						<section class="split contact">
							<section>
							<p>All goodness and happiness here and in the Hereafter lie in following in the footsteps of the Prophet (peace be upon him) and his Sahabah (may Allah be pleased with them). Indeed, they are the saved and victorious group. Allah (Glorified and Exalted be He) says, "And the foremost to embrace Islâm of the Muhâjirûn (those who migrated from Makkah to Al-Madinah) and the Ansâr (the citizens of Al-Madinah who helped and gave aid to the Muhâjirûn ) and also those who followed them exactly (in Faith). Allâh is well-pleased with them as they are well-pleased with Him. He has prepared for them Gardens under which rivers flow (Paradise), to dwell therein forever. That is the supreme success." [Qur'an, al-Tawbah: 100]</p>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; <a href="{{ site.baseurl }}/">Instagram@Alsalafiyyah</a></li> 
                                                </ul>
					</div>
