				<!-- Footer -->
					<footer id="footer">
						<section>
								<div class="fields">

							{% include search-form.liquid %}							
								</div>
						</section>
						<section class="split contact">
							<section>
{% if site.data.settings.chapters %}
 <select onchange="document.location.href=this.value">
  <option selected>Select</option>
  {% for item in site.data.settings.chapters %}
  <option value="{{ item.link }}">{{ item.name }}</option>
  {% endfor %}
</select>
{% endif %}							
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; <a href="{{ site.baseurl }}/">Instagram@Alsalafiyyah</a></li> 
                                                </ul>
					</div>
