<header role="banner" itemprop="hasPart" itemscope itemtype="http://schema.org/WPHeader"><!-- header -->
<div class="row flex">
 <div class="column">
   <a itemprop="url" class"logo" href="{{ site.url }}">
     <h1 itemprop="name">{{ site.title }}</h1>
   </a>
  </div>
  <div class="column">
   <div itemscope itemtype="https://schema.org/WebSite">
   <meta itemprop="url" content="https://alsalafiyyah.github.io/search"/>
   <link itemprop="url" href="https://alsalafiyyah.github.io/search"/>
   <form itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction" action="{{ "/search" | relative_url }}">
   <meta itemprop="target" content="https://alsalafiyyah.github.io/search?q=islam"/>
    <div itemprop="query-input" itemscope itemtype="http://schema.org/PropertyValueSpecification">
     <meta itemprop="valueName" content="q"/>
     <input class="mysearch responsive" name="q" id="tipue_search_input" itemprop="query" type="search" placeholder="Search" pattern=".{3,}" title="At least 3 characters" required/>
    </div>
   </form>
  </div>
 </div>
</div> 
<div class="scrollmenu">
 <nav role="navigation" itemprop="hasPart" itemscope itemtype="http://schema.org/SiteNavigationElement">
  {% for item in site.data.base.nav %}
   <a itemprop="url" href="{{ item.url }}"><span itemprop="name">{{ item.name }}</span></a>
  {% endfor %}
 </nav>
</div>
</header><!-- /header --> 
