<header role="banner" vocab="http://schema.org" itemtype="WPHeader"><!-- header -->
<div class="row flex">
 <div class="column">
   <a itemprop="url" class"logo" href="{{ site.data.locales[page.locale].site.url }}">
     <h1 itemprop="name" style="font-size: 28px;">
       {{ site.data.locales[page.locale].site.title | default: site.title | escape }}
     </h1>
   </a>
  </div>
  <div class="column">
   {% include SearchForm.html %}
 </div>
</div> 
{% include Navigation.html %} 
</header><!-- /header -->
