<header role="banner" vocab="http://schema.org" itemtype="WPHeader" class="fixed-top bg-transparent">
<nav class="navbar shadow-sm" id="navbar" role="navigation" vocab="http://schema.org" itemtype="SiteNavigationElement">
<div class="hstack gap-3 card card-body bg-transparent border-0 border-radius-0" style="padding: 10px !important;">
    <a itemprop="url" class="navbar-brand d-none d-lg-block" href="{{ site.url | escape }}">
      <h1 itemprop="name">
       {{ site.data.setting.site.title | default: site.title | escape }}
      </h1>      
    </a>
    <a itemprop="url" href="{{ site.url | escape }}" class="d-block d-lg-none my-8 logo text-center">
      <img src="{{ '/assets/images/logo.svg' | absolute_url }}" 
       class="img-fluid" 
       width="150"
       height="100"
       alt="{{ site.title }}"/>
    </a>
 <div class="vr text-dark"></div>
  <form class="d-flex" role="search" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction" action="{% if page.locale == 'en' %}{{ site.data.locales[page.locale].site.url_search }}{% elsif page.locale == 'ar' %}{{ site.data.locales[page.locale].site.url_search }}{% else %}https://alsalafiyyah.github.io/search{% endif %}">
  <meta itemprop="target" content="{% if page.locale == 'en' %}{{ site.data.locales[page.locale].site.url_search }}?q={q}{% elsif page.locale == 'ar' %}{{ site.data.locales[page.locale].site.url_search }}?q={q}{% else %}https://alsalafiyyah.github.io/search?q={q}{% endif %}"/>  
<div itemprop="query-input" itemscope itemtype="http://schema.org/PropertyValueSpecification">
  <meta itemprop="valueName" content="q"/>
  <input 
    type="search" 
    class="form-control shadow-none border-danger" 
    placeholder="{{ site.data.setting.page.search }}"
    aria-label="Search" 
    aria-describedby="button-addon2"
    name="q" 
    id="tipue_search_input" 
    itemprop="query-input"
    pattern=".{3,}" 
    title="At least 3 characters" 
    required>
</div>            
</form>
    <button class="navbar-menu shadow-none btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-expanded="false" aria-controls="menu">
    <span class="bi bi-list fs-6"></span>
    </button>
</nav>
</div>

<div class="collapse bg-transparent" id="menu">
  <div class="card card-body border-0 rounded-0">
  <ul class="nav">
 {% for item in site.data.setting.nav %}   
  <li class="nav-item">
    <a class="nav-link icon-link" href="{{ item.url }}">
      {{ item.name }}
    </a>
  </li>
 {% endfor %}
</ul>
  </div>
</div>
</header>
