<header role="banner" vocab="http://schema.org" itemtype="WPHeader" class="fixed-top bg-transparent">
<nav class="navbar shadow-sm" id="navbar" role="navigation" vocab="http://schema.org" itemtype="SiteNavigationElement">
<div class="hstack gap-3 card card-body bg-transparent border-0 border-radius-0" style="padding: 10px !important;">
    <a itemprop="url" class="navbar-brand d-none d-lg-block" href="{{ site.data.locales[page.locale].site.url | default: site.url | escape }}">
      <h1 itemprop="name">
       {{ site.data.locales[page.locale].site.title | default: site.title | escape }}
      </h1>      
    </a>
    <a itemprop="url" href="{{ site.data.locales[page.locale].site.url | default: site.url | escape }}" class="d-block d-lg-none my-8 logo text-center">
      <img src="{{ '/assets/images/logo.svg' | absolute_url }}" 
       class="img-fluid" 
       alt="{{ site.title }}" 
       width="130px" height="120px"/>
    </a>
 <div class="vr text-dark"></div>
  <ul class="nav">
   {% if page.locale %}
    {% for item in site.data.locales[page.locale].nav %}
    <li class="nav-item">
     <a property="url" class="nav-link icon-link" href="{{ item.url }}">
      {{ item.name }}
     </a>
    </li>
    {% endfor %}
   {% else %}
   {% for item in site.data.setting.nav %}
    <li class="nav-item">
     <a property="url" class="nav-link icon-link" href="{{ item.url }}">
      {{ item.name }}
     </a>
    </li>   
   {% endfor %}
   {% endif %}
  </ul>
  <a href="/fatwas/bookmark/" role="button"><i class="bi bi-bookmark"></i></a>
  <button class="navbar-search shadow-none btn btn-danger" type="button" 
   data-bs-toggle="collapse" 
   data-bs-target="#collapseSearch" 
   aria-controls="collapseSearchContent" 
   aria-expanded="false" 
   aria-label="Toggle navigation">
    <span class="bi bi-search"></span>
  </button>
</nav>
  <div class="collapse" id="collapseSearch">

   <div class="bg-light p-4" itemscope itemtype="http://schema.org/WebSite">
  <meta itemprop="url" content="{% if page.locale == 'en' %}{{ site.data.locales[page.locale].site.url }}{% elsif page.locale == 'ar' %}{{ site.data.locales[page.locale].site.url }}{% else %}{{ site.url }}{% endif %}"/>
  <form class="d-flex" role="search" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction" action="{% if page.locale == 'en' %}{{ site.data.locales[page.locale].site.url_search }}{% elsif page.locale == 'ar' %}{{ site.data.locales[page.locale].site.url_search }}{% else %}https://alsalafiyyah.github.io/search{% endif %}">
  <meta itemprop="target" content="{% if page.locale == 'en' %}{{ site.data.locales[page.locale].site.url_search }}?q={q}{% elsif page.locale == 'ar' %}{{ site.data.locales[page.locale].site.url_search }}?q={q}{% else %}https://alsalafiyyah.github.io/search?q={q}{% endif %}"/>  
<div class="input-group mb-3" itemprop="query-input" itemscope itemtype="http://schema.org/PropertyValueSpecification">
  <meta itemprop="valueName" content="q"/>
  <input 
    type="search" 
    class="form-control shadow-none border-danger" 
    placeholder="{% if page.locale %}{{ site.data.locales[page.locale].page.search }}{% else %}Search{% endif %}"
    aria-label="Search" 
    aria-describedby="button-addon2"
    name="q" 
    id="tipue_search_input" 
    itemprop="query-input"
    pattern=".{3,}" 
    title="At least 3 characters" 
    required>
  <button 
   class="btn btn-danger" 
   type="submit" 
   id="button-addon2">
   {% if page.locale %}{{ site.data.locales[page.locale].page.search }}{% else %}Search{% endif %}
  </button>
</div>            
    </form>
  </div>
  
 </div>
</div>
</header>
