<div class="header grey lighten-5">
  <a href="{{ site.url }}"><h1 class="brand-logo center black-text">{{ site.title }}</h1></a>
  <p>Knowledge of Shari'ah</p>
  <div class="mysearch">
<meta itemprop="url" content="https://alsalafiyyah.github.io/new"/>
<form action="/new/search" itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction">
 <meta itemprop="target" content="https://alsalafiyyah.github.io/new/search?q=salaf"/>
 <input itemprop="query-input" class="search_input" id="tipue_search_input" type="text" name="q" placeholder="Search" pattern=".{3,}" title="At least 3 characters" required/>
</form>
</div>

</div>

<div id="navbar" class="grey lighten-5">
 <a href="#" data-activates="slide-out" class="black-text button-collapse waves-effect waves-grey"><i class="material-icons">menu</i></a>
</div>
