<nav class="z-depth-0 transparent">
  <div class="nav-wrapper">
     <ul class="left">
       <li><a data-target="slide-out" class="sidenav-trigger" href="#"><i class="material-icons black-text">short_text</i></a></li>          
      </ul>  
      <a href="{{ site.url }}" class="brand-logo center black-text bold">{{ site.title }}</a>          
      <ul class="right">
       <li><a data-target='searchform' href="#" class="dropdown-trigger"><i class="material-icons black-text">search</i></a></li>
       <div id='searchform' class='dropdown-content search-form-content'>
       <form action="{{ "search" | relative_url }}">    
        <div class="input-field">
          <input name="q" id="search" placeholder="Type and hit enter" type="text" class="validate" pattern=".{3,}" title="At least 3 characters" style="border-bottom: 2px solid black;">
          <label for="first_name">Search</label>
        </div>
        </form>	
       </div>
      </ul>
    </div>
  </nav>
{% include sidenav.html %}
