<!-- javacripts -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>  
<script type="text/javascript" src="https://unpkg.com/vanilla-datatables@latest/dist/vanilla-dataTables.min.js"></script>  
{% include tipue.html %}
<script type="text/javascript" language="javascript">
var table = new DataTable("table", {
  searchable: false,
  perPageSelect: false
});
</script>
<script defer type="text/javascript">(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
  <script defer language="javascript" type="text/javascript">
    function setAccessedDate() {
      if (document.getElementById('accessed-on')) {
        var now = new Date();
        var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
        var formattedDate = now.getDate().padStart(2,'0')+" "+months[now.getMonth()]+" "+now.getFullYear();
        document.getElementById('accessed-on').textContent = " (accessed " + formattedDate + ")";
      }
    }
    function setModifiedDate() {
      if (document.getElementById('last-modified')) {
        fetch("https://api.github.com/repos/alsalafiyyah/alsalafiyyah.github.io/commits?path={{ page.path }}")
          .then((response) => {
            return response.json();
          })
          .then((commits) => {
            var modified = commits[0]['commit']['committer']['date'].slice(0,10);
            if(modified != "{{ page.date | date: "%Y-%m-%d" }}") {
              document.getElementById('last-modified').textContent = "Last updated: " + modified + " ";
            }
          });
      }
    }
  </script>
<script type="text/javascript">
$( document ).ready(function() {
  $('.navbar-search').click(function(){ 
   if($('.navbar-search').hasClass('collapsed')){
     $('.navbar-search .bi').removeClass('bi-x-lg');
     $('.navbar-search .bi').addClass('bi-search');
   }else{
     $('.navbar-search  .bi').removeClass('bi-search');
     $('.navbar-search  .bi').addClass('bi-x-lg');
   }
  });
});    
</script>
