{% if page.uid %}
<div class="language-selector">
  {% assign postsOrPages = site.posts 
    | concat: site.pages 
    | concat: site.ar 
    | where: "uid", page.uid 
    | sort: "locale" %}
  {% for item in postsOrPages %}
  <!-- filter /page/ -->
  {% unless item.url contains '/page/' %} 
  <a href="{{ site.baseurl }}{{ item.url }}" class="{{ item.locale }} btn btn-link">
    {{ site.data.locales[item.locale].name }}
  </a>
  {% else %}
  <a href="{{ site.baseurl }}{{ item.url }}" class="{{ item.locale }} btn disabled">
    {{ site.data.locales[item.locale].name }}
  </a>
  {% endunless %}
  {% endfor %}
</div>
{% endif%}
