  
  <!-- Modal Share -->
  <div id="share" class="modal bottom-sheet white">
    <div class="">
      <div class="collection border-0">
 <a href="https://twitter.com/intent/tweet?text={{ page.title | default:"" | uri_escape}}&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}" class="collection-item" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
 <a href="https://facebook.com/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}" rel="nofollow" target="_blank" title="Share on Facebook" class="collection-item"><span class="label">Facebook</span></a>
 <a href="https://telegram.me/share/url?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}&text={{ page.title | default:"" | uri_escape}}" rel="nofollow" target="_blank" title="Share on Telegram" class="collection-item"><span class="label">Telegram</span></a>
 <a href="fb-messenger://share?link={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}" title="Share on Facebook Messenger" class="collection-item"><span class="label">Facebook Messenger</span></a>
 <a href="https://wordpress.com/press-this.php?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}&t={{ page.title | default:"" | uri_escape}}&s={{ page.title | default:"" | uri_escape}}" title="Share on Wordpress" class="collection-item"><span class="label">Wordpress</span></a>
 <a href="https://wa.me/?text={{ page.title | default:"" | uri_escape}} : {{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}" target="_blank" title="Share on WhatsApp" class="collection-item"><span class="label">WhatsApp</span></a>
      </div>
    </div>
  </div>
