				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
                                                {% for item in site.data.settings.sidebar_menu %}
							<li><a href="{{ item.link }}">{{ item.name }}</a></li>
                                                {% else %}
							<li class="active"><a href="{{ item.link }}">{{ item.name }}</a></li>
                                                {% endfor %}
						</ul>
						<ul class="icons">
							<li><a rel="nofollow noopener" href="https://soundcloud.com/alsalafiyyah" class="fab fa-soundcloud" target="_blank"><span class="label">Soundcloud</span></a></li>
							<li><a rel="nofollow noopener" href="https://instagram.com/Alsalafiyyah" class="fa-instagram" target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="{{ '/feed' | prepend: site.baseurl }}" class="icon brands fa-rss"><span class="label">RSS</span></a></li>
						</ul>
					</nav>