<nav id="nav" role="navigation" itemprop="hasPart" itemscope itemtype="http://schema.org/SiteNavigationElement">
 <ul class="links" role="menubar" aria-activedescendant="">
  {% include default_nav.html %}
 </ul>
<ul class="icons">
  <a rel="nofollow noopener" href="https://instagram.com/Alsalafiyyah" target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a>
 </li>
</ul>
</nav>
