<nav class="z-depth-0 transparent">
  <div class="nav-wrapper">
     <ul class="left">
       <li><a data-target="slide-out" class="sidenav-trigger" href="#"><i class="material-icons">short_text</i></a></li>          
      </ul>  
      <a href="{{ relative_url }}" class="brand-logo center bold">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</a>          
      <ul class="right">
       <li><a data-target='searchform' href="#" class="dropdown-trigger"><i class="material-icons">search</i></a></li>
       <div id='searchform' class='dropdown-content search-form-content'>
       <form action="{{ "search" | relative_url }}">    
        <div class="input-field">
          <input name="q" id="search" placeholder="Type and hit enter" type="text" class="validate" pattern=".{3,}" title="At least 3 characters">
          <label for="search">Search</label>
        </div>
        </form>	
       </div>
      </ul>
    </div>
  </nav>
{% include sidenav.html %}
