   <nav class="z-depth-0 transparent">
    <div class="nav-wrapper">
      <ul class="left show-on-medium-and-up show-on-medium  show-on-small show-on-large show-on-medium-and-up show-on-medium-and-down">
        <li><a href="#" class="sidenav-trigger" data-target="slide-out"><i class="material-icons black-text">more_vert</i></a></li>
      </ul>
      <a href="{{ absolute_url }}" class="brand-logo center black-text bold">{{ page.title }}</a>
      <ul class="right show-on-medium-and-up show-on-medium  show-on-small show-on-large show-on-medium-and-up show-on-medium-and-down">
        <li><a href="/search?q=salaf"><i class="material-icons black-text">search</i></a></li>
      </ul>
    </div>
  </nav>

<div class="navbar-fixed hide">
  <nav class="nav-extended grey lighten-5 black-text z-depth-0 top-0">
    <div class="nav-wrapper">
      <ul class="left show-on-med-and-down">
        <li><a href="/fatwas" class="black-text"><i class="material-icons">keyboard_backspace</i></a></li>
      </ul>
      <ul class="right show-on-med-and-down">
        <li><a href="{{ absolute_url }}" class="black-text"><i class="material-icons">refresh</i></a></li>
        <li><a href="{{ site.url }}" class="black-text"><i class="material-icons">home</i></a></li>
      </ul>
    </div>
  </nav>
 </div>
 <nav class="nav-extended grey lighten-5 black-text z-depth-0 top-0">
  <div class="nav-content grey lighten-5 padding-10 center">
     <h4>{{ page.title }}</h4>
  </div>
 </nav>
