<div>
   <h4>
    <a href="{{ '/fatwas/' | prepend:site.baseurl }}">
     <mark>
     {{ site.data.locales[page.locale].page.fatwas }}
     </mark>
    </a>
   </h4>
   <ul class="square">
     {% for post in site.posts limit:5 %}
      {% if post.url %}
       <li>
        <a href="{{ post.url }}">
         {{ post.title }}
        </a>
       </li>
      {% endif %}
     {% endfor %}    
   </ul> 
</div>

<div>
   <h4>
    <a href="{{ '/audios/' | prepend:site.baseurl }}">
     <mark>
     {{ site.data.locales[page.locale].page.audios }}
     </mark>
    </a>
   </h4>
   <ul class="bullets">
     {% for c in site.audios | limit:5 %}
       <li>
        <a href="{{ c.url }}">
         {{ c.title }}
        </a>
       </li>
     {% endfor %}    
   </ul> 
</div>
