<div>
   <h3>Recent 
    <a href="{{ '/fatwas/' | prepend:site.baseurl }}">
     <span class="sketch-highlight">
      {{ site.data.locales[page.locale].page.fatwas }}
     </span>
    </a>
   </h3>
   <ul class="square">
     {% for post in site.posts limit:5 %}
      {% if post.url %}
       <li>
        <a href="{{ post.url }}">
         {{ post.title }}
        </a>
       </li>
      {% endif %}
     {% endfor %}    
   </ul> 
</div>

<div>
   <h3 class="nowavy"> Recent 
    <a class="nowavy" href="{{ '/audios/' | prepend:site.baseurl }}">
     <mark>
     {{ site.data.locales[page.locale].page.audios }}
     </mark>
    </a>
   </h3>
   <ul class="bullets">
     {% for c in site.audios | limit:5 %}
       <li>
        <a href="{{ c.url }}">
         <mark>{{ c.title }}</mark>
        </a>
       </li>
     {% endfor %}    
   </ul> 
</div>
