<meta 
  name="description" 
  content="
  {% if page.content %}
   {{ page.content | truncatewords: 30  | strip_html | normalize_whitespace  }}
  {% else %}
   {{ page.excerpt | markdownify | strip_html | normalize_whitespace | xml_escape }}
  {% else %}
   {{ site.description }}
  {% endif %}"/>
<meta 
  name="summary'" 
  content="
  {% if page.content %}
   {{ page.content | truncatewords: 30  | strip_html | normalize_whitespace  }}
  {% else %}
   {{ page.excerpt | markdownify | strip_html | normalize_whitespace | xml_escape }}
  {% else %}
   {{ site.description }}
  {% endif %}"/>
<meta 
  property="og:description" 
  content="
  {% if page.content %}
   {{ page.content | truncatewords: 30  | strip_html | normalize_whitespace  }}
  {% else %}
   {{ page.excerpt | markdownify | strip_html | normalize_whitespace | xml_escape }}
  {% else %}
   {{ site.description }}
  {% endif %}"/>
<meta 
  name="twitter:description" 
  content="
  {% if page.content %}
   {{ page.content | truncatewords: 30  | strip_html | normalize_whitespace  }}
  {% else %}
   {{ page.excerpt | markdownify | strip_html | normalize_whitespace | xml_escape }}
  {% else %}
   {{ site.description }}
  {% endif %}"/>
<meta 
  itemprop="description" 
  content="
  {% if page.content %}
   {{ page.content | truncatewords: 30  | strip_html | normalize_whitespace  }}
  {% else %}
   {{ page.excerpt | markdownify | strip_html | normalize_whitespace | xml_escape }}
  {% else %}
   {{ site.description }}
  {% endif %}"/>
<meta 
  itemprop="image" 
  content="{{ '/assets/images/fb.jpg' | absolute_url }}"/>
