{% assign pagecontent_description = page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | strip_html | strip_newlines | replace: '  ', ' ' | truncate: 160 %}
<meta 
  name="description" 
  content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}">

<meta 
  name="summary'" 
  content="
  {% if page.excerpt and page.excerpt != empty %}
   {{ page.excerpt | markdownify | strip_html | normalize_whitespace | xml_escape }}
   {% else %}
   {{ site.description }}
  {% endif %}"/>
<!-- Facebook -->
<meta 
  property="og:description" 
  content="
  {% if page.excerpt and page.excerpt != empty %}
   {{ page.excerpt | markdownify | strip_html | normalize_whitespace | xml_escape }}
  {% else %}
   {{ site.description }}
  {% endif %}"/>
<!-- Twitter / X -->
<meta 
  name="twitter:description" 
  content="
  {% if page.excerpt and page.excerpt != empty %}
   {{ page.excerpt | markdownify | strip_html | normalize_whitespace | xml_escape }}
  {% else %}
   {{ site.description }}
  {% endif %}"/>
<meta 
  name="twitter:image" 
  content="{{ '/assets/images/fb.jpg' | absolute_url }}"/>
<!-- Google -->
<meta 
  itemprop="description" 
  content="
  {% if page.excerpt and page.excerpt != empty %}
   {{ page.excerpt | markdownify | strip_html | normalize_whitespace | xml_escape }}
  {% else %}
   {{ site.description }}
  {% endif %}"/>
{% if page.auto_image %}
<meta 
  itemprop="image" 
  content="{{ site.url }}/assets/images/previews/{{ page.slug }}.png"/>
{% else %}
<meta 
  itemprop="image" 
  content="{{ '/assets/images/fb.jpg' | absolute_url }}"/>
{% endif %}
