 <ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <h2 itemprop="headline">{{ page.title }}</h2>
     {% if page.active == "muqolat" %}
      <span class="badge text-bg-light">
       <span class="badge text-bg-danger rounded-pill">
         {{ site.categories.muqolat | size }}
       </span>
        entries
      </span>   
      {% elsif page.active == "fatwas" %}
      <span class="badge text-bg-light">
       <span class="badge text-bg-danger rounded-pill">
         {{ site.posts | size }}
       </span>
        entries
      </span>        
      {% elsif page.active == "audios" %}
      <span class="badge text-bg-light">
       <span class="badge text-bg-danger rounded-pill">
         {{ site.categories.audios | size }}
       </span>
        entries
      </span>
      {% elsif page.active == "radd" %}
      <span class="badge text-bg-light">
       <span class="badge text-bg-danger rounded-pill">
         {{ site.categories.refutals | size }}
       </span>
        entries
      </span>
      {% elsif page.active == "wahhabi" %}
      <span class="badge text-bg-light">
       <span class="badge text-bg-danger rounded-pill">
         {{ site.categories.wahhabism | size }}
       </span>
        entries
      </span>
      {% elsif page.active == "biography" %}
      <span class="badge text-bg-light">
       <span class="badge text-bg-danger rounded-pill">
         {{ site.categories.biography | size }}
       </span>
        entries
      </span>
      {% elsif page.active == "bidah" %}
      <span class="badge text-bg-light">
       <span class="badge text-bg-danger rounded-pill">
         {{ site.categories.bidah | size }}
       </span>
        entries
      </span>
      {% elsif page.active == "sects" %}
      <span class="badge text-bg-light">
       <span class="badge text-bg-danger rounded-pill">
         {{ site.categories.sects | size }}
       </span>
        entries
      </span>
       {% elsif page.active == "rulership" %}
      <span class="badge text-bg-light">
       <span class="badge text-bg-danger rounded-pill">
         {{ site.categories.rulership | size }}
       </span>
        entries
      </span>
      {% else %}
     {% endif %}
  </li>
 </ul>
