<section class="mt-5">
<nav aria-label="Page navigation" itemscope itemtype="http://schema.org/SiteNavigationElement/Pagination">
  <ul class="pagination justify-content-center">
    {% if paginator.previous_page %}
     <li class="page-item">
      <a 
        href="{{ paginator.previous_page_path | prepend: site.baseurl }}" 
        class="page-link icon-link shadow-none border-danger bg-transparent text-danger" 
        itemprop="relatedLink/pagination" 
        rel="prev">
        {% if page.locale == 'en' %}
         <i class="bi bi-chevron-double-left text-danger"></i> 
        {% elsif page.locale == 'ar' %}
          <i class="bi bi-chevron-double-right text-danger"></i> 
        {% else %}
         <i class="bi bi-chevron-double-left text-danger"></i> 
        {% endif %}
        {% if page.locale == 'en' %}{{ site.data.locales[page.locale].page.prev }}{% elsif page.locale == 'ar' %}{{ site.data.locales[page.locale].page.prev }}{% else %}Prev{% endif %}
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link border-danger"><i class="bi bi-chevron-double-left"></i> Prev</span>
    </li>
   {% endif %}
   {% if paginator.next_page %}
    <li class="page-item">
      <a 
        href="{{ paginator.next_page_path | prepend: site.baseurl }}" 
        itemprop="relatedLink/pagination" 
        rel="next" 
        class="page-link icon-link shadow-none border-danger bg-transparent text-danger"> 
        {% if page.locale == 'en' %}{{ site.data.locales[page.locale].page.next }}{% elsif page.locale == 'ar' %}{{ site.data.locales[page.locale].page.next }}{% else %}Next{% endif %}
        {% if page.locale == 'en' %}
         <i class="bi bi-chevron-double-right"></i>
        {% elsif page.locale == 'ar' %}
         <i class="bi bi-chevron-double-left"></i>
        {% else %}
         <i class="bi bi-chevron-double-right"></i>
        {% endif %}
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link border-danger">Next <i class="bi bi-chevron-double-right"></i></span>
    </li>
   {% endif %}   
  </ul>
</nav>
</section>
