{% if paginator.page %}
  {% assign offset = paginator.page | minus:1 | times:paginator.per_page %}
  {% assign currentPage = paginator.page %}
{% else %}
  {% assign offset = 0 %}
  {% assign currentPage = 1 %}
{% endif %}
<ul class="no-bullets" id="blogContainer">
 {% for post in site.posts limit:site.paginate offset:offset %}
   <li>
    <article role="article" itemid="{{ post.url }}" itemscope itemtype="http://schema.org/BlogPosting">
    <a 
     property="url" 
     href="{{ post.url }}"
     class="fatwas-title">          
      <h3 
       class="content-title" 
       itemprop="headline">
       {{ post.title }}
      </h3>
    </a>
    <link itemprop="mainEntityOfPage" href="{{ post.url }}"/>
    <date class="content-date">
     <meta itemprop="datePublished" content="{{ post.date | date: '%b %d, %Y' }}">
     {{ post.hijri }} // {{ post.date | date: "%b %d, %Y" }}
    </date>
     <p class="content-excerpt" itemprop="description">
       {{ post.content | truncatewords: 30  | strip_html | normalize_whitespace | remove_first: "Question:" }}
     </p>
    <meta itemprop="author" content="{{ post.publisher }}" />
    </article>
   </li>
  {% endfor %}
 {% assign postCount = site.posts | size %}
{% assign postsCovered = site.paginate | plus:offset %}
{% if postsCovered < postCount %}
  <button class="loadMore">Load more posts</button>
{% endif %}
<script>
  {% include Pagination.js %}
</script>
</ul>
