<ul class="no-bullets">
 {% for post in paginator.posts %}
 {% assign paginator.posts = site.posts | except:"locale","ar" %}
   <li>
    <article role="article" itemid="{{ post.url }}" itemscope itemtype="http://schema.org/BlogPosting">
    <a 
     property="url" 
     href="{{ post.url }}"
     class="fatwas-title">          
      <h3 
       class="content-title" 
       itemprop="headline">
       {{ post.title }}
      </h3>
    </a>
    <link itemprop="mainEntityOfPage" href="{{ post.url }}"/>
    <date class="content-date">
     <meta itemprop="datePublished" content="{{ post.date | date: '%b %d, %Y' }}">
     {{ post.hijri }} // {{ post.date | date: "%b %d, %Y" }}
    </date>
     <p class="content-excerpt" itemprop="description">
       {{ post.content | truncatewords: 30  | strip_html | normalize_whitespace | remove_first: "Question:" }}
     </p>
    <meta itemprop="author" content="{{ post.publisher }}" />
    </article>
   </li>
  {% endfor %}
</ul>
