{% if paginator.page %}
  {% assign offset = paginator.page | minus:1 | times:paginator.per_page %}
  {% assign currentPage = paginator.page %}
{% else %}
  {% assign offset = 0 %}
  {% assign currentPage = 1 %}
{% endif %}
<div id="blogContainer" class="postContainer" data-page="{{ currentPage }}" data-totalPages="{{ paginator.total_pages }}">
  {% for post in site.posts limit:site.paginate offset:offset %}
    <article class="post list">
      <header>
        <h3><a class="readPost" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p class="postMeta">
          <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
          <span class="permalink"><a href="{{ post.url }}">Permalink</a></span>
        </p>
      </header>
      <div class="excerpt">
        {% if post.content contains '<!--more-->' %}
          <a class="readPost" href="{{ post.url }}">{{ post.content | split:'<!--more-->' | first }}</a>
          <p class="cta"><a class="readPost rightArrow" href="{{ post.url }}">Read full post</a></p>
        {% else %}
          {{ post.content }}
        {% endif %}
      </div>
    </article>
  {% endfor %}
</div>
{% assign postCount = site.posts | size %}
{% assign postsCovered = site.paginate | plus:offset %}
{% if postsCovered < postCount %}
  <button class="loadMore">Load more posts</button>
{% endif %}
