<span class="reading-time" title="Estimated read time">
  {% assign words = content | number_of_words %}
  {% if words < 360 %}
    <span class="badge text-bg-danger">1</span> {% if page.locale == 'en' %}{{ site.data.locales[page.locale].page.minute_read }}{% elsif page.locale == 'ar' %}{{ site.data.locales[page.locale].page.minute_read }}{% else %}min read{% endif %}
  {% else %}
    <span class="badge text-bg-danger">{{ words | divided_by:180 }}</span> {% if page.locale == 'en' %}{{ site.data.locales[page.locale].page.minute_read }}{% elsif page.locale == 'ar' %}{{ site.data.locales[page.locale].page.minute_read }}{% else %}min read{% endif %}
  {% endif %}
</span>
