<div>
   <h2>{{ site.data.locales[page.locale].page.recent }} 
    <a class="nowavy" href="{{ '/fatwas/' | prepend:site.baseurl }}">
      <mark>
       {{ site.data.locales[page.locale].page.fatwas }}
      </mark>
    </a>
   </h2>
<ul class="square">
{% for post in site.posts limit:5 %}
{% if post.url %}
 <li> 
 <article 
   role="article" 
   itemid="{{ post.url }}" 
   itemscope 
   itemtype="http://schema.org/BlogPosting">
  <link itemprop="mainEntityOfPage" href="{{ post.url }}" />
  <h3 itemprop="headline" class="widget-title" style="font-size: 100%;">
   <a itemprop="url" 
      href="{{ post.url }}" 
      title="{{ post.title }}">
      {{ post.title | truncate: 60 }}
   </a>
  </h3>
 </article>
 </li>
{% endif %}
{% endfor %}
</ul>
</div>

<div>
   <h2> {{ site.data.locales[page.locale].page.recent }} 
    <a class="nowavy" property="url" class="nowavy" href="{{ '/audios/' | prepend:site.baseurl }}">
     <mark>
     {{ site.data.locales[page.locale].page.audios }}
     </mark>
    </a>
   </h2>
<ul class="bullets">
{% for item in site.audios limit:5 %}
 <li > 
  <a class="nowavy" href="{{ item.url }}" property="item" typeof="WebPage">
  <span itemprop="name" class="mark">{{ item.title | truncate: 60 }}</span>
  </a>
  <meta itemprop="position" content="{{ forloop.index }}" />
 </li>
{% endfor %}
</ul> 
</div>
