<meta itemprop="url" content="https://alsalafiyyah.github.io/"/>
<form action="{{ "/search" | relative_url }}" itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction">
 <meta itemprop="target" content="https://alsalafiyyah.github.io/search?q=salaf"/>
 <input itemprop="query-input" id="tipue_search_input" type="text" name="q" placeholder="Type and hit enter" pattern=".{3,}" title="At least 3 characters" required/>
</form>
