  <!-- Modal Search -->
  <div id="modal1" class="modal bottom-sheet grey lighten-3">
    <div class="modal-content">
    <h5>Search</h5>
  <nav>
    <div class="nav-wrapper">
      <form action="/search">
        <div class="input-field">
          <input id="tipue_search_input" type="search" placeholder="Type here and hit enter" style="border: 2px solid black;" pattern=".{3,}" title="At least 3 characters" required>
        </div>
      </form>
    </div>
  </nav>
    </div>
    <div class="modal-footer grey lighten-3">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
