<div itemscope itemtype="http://schema.org/WebSite">
<meta itemprop="url" content="{{ site.data.locales[page.locale].site.url }}"/>
<form itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction" 
 action="{{ site.data.locales[page.locale].site.url_search }}">
<meta itemprop="target" 
 content="{{ site.data.locales[page.locale].site.url_search }}?q={q}"/>
<div itemprop="query-input" itemscope itemtype="http://schema.org/PropertyValueSpecification">
<meta itemprop="valueName" content="q"/>
<input 
 class="mysearch responsive" 
 name="q" 
 id="tipue_search_input" 
 itemprop="query-input" 
 type="search" 
 placeholder="{{ site.data.locales[page.locale].page.search }}" 
 pattern=".{3,}" 
 title="At least 3 characters" 
 required/>
</div>
</form>
</div>
