  <div class="row">
    <form action="/search" class="col s12">
      <div class="row">
        <div class="input-field col s2">
         <a class="sidenav-trigger black-text" href="{{ absolute_url }}"><i class="material-icons prefix">refresh</i></a>            
        </div>
        <div class="input-field col s10">
         <i class="material-icons prefix">search</i>      
         <input id="search" name="q" class="materialize-textarea" type="search" pattern=".{3,}" title="At least 3 characters" placeholder="Type & hit enter" required>          
        </div>
      </div>
    </form>
  </div>    
