  <div class="row" style="padding-bottom: 0px; margin-bottom: 0px;">
    <form action="/search" class="col s12">
      <div class="row" style="padding-bottom: 0px; margin-bottom: 0px;">
        <div class="input-field col s12">
         <i class="material-icons prefix">search</i>      
         <input id="search" name="q" class="materialize-textarea" type="search" pattern=".{3,}" title="At least 3 characters" placeholder="Type & hit enter" required>          
        </div>
      </div>
    </form>
  </div>    
