<div class="card bg-transparent border-danger mt-4">
 <div class="position-absolute top-0 start-50 translate-middle badge text-bg-danger">
   {% if page.locale == 'ar' %}{{ site.data.locales[page.locale].page.share }}{% elsif page.locale == 'en' %}{{ site.data.locales[page.locale].page.share }}{% else %}Share{% endif %}
 </div>
<div class="card-body">  
<div class="row mt-4">
<div class="col-sm">
<a target="_blank" href="https://www.facebook.com/sharer.php?u={{ site.url }}{{site.baseurl}}{{ page.url }}" role="button" class="btn btn-labeled shadow-none btn-dark btn-sm"><span class="btn-label"><span class="bi bi-facebook"></span></span>Facebook</a>    
<a target="_blank" href="https://x.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{site.baseurl}}{{ page.url }}" role="button" class="btn btn-labeled shadow-none btn-dark btn-sm"><span class="btn-label"><span class="bi bi-twitter-x"></span></span>X Twitter</a>
<a target="_blank" href="https://threads.net/intent/post?text={{ site.url }}{{site.baseurl}}{{ page.url }}" role="button" class="btn btn-labeled shadow-none btn-dark btn-sm"><span class="btn-label"><span class="bi bi-threads"></span></span>Threads</a>
<a target="_blank" href="https://wa.me/?text={{ site.url }}{{site.baseurl}}{{ page.url }}" role="button" class="btn btn-labeled shadow-none btn-dark btn-sm"><span class="btn-label"><span class="bi bi-whatsapp"></span></span>Whatsapp</a>      
<a href="https://t.me/share/url?url={{ site.url }}{{site.baseurl}}{{ page.url }}" role="button" class="btn btn-labeled shadow-none btn-dark btn-sm"><span class="btn-label"><span class="bi bi-telegram"></span></span>Telegram</a>    
<a onclick="onShareCLick()" role="button" class="btn btn-labeled shadow-none btn-dark btn-sm"><span class="btn-label"><span class="bi bi-box-arrow-up"></span></span>More</a>
<span class="item">
<span class="text visually-hidden">{{ site.url }}{{site.baseurl}}{{ page.url }}</span>
 <button type="button" class="button-url-copy btn btn-labeled shadow-none btn-dark btn-sm" data-text="Copy URL" data-text-copied="URL Copied">
  <i class="bi bi-copy btn-label"></i>  
  <span>Copy URL</span>
 </button>
</span>

</div>
<div class="col-sm text-center">
 <div class="img-fluid img-thumbnail shadow-sm" id="qrcode">
 </div>
</div>
</div>

</div>
</div>
