        {% if page.muftis %}
        {% if page.muftis.chairman %}
        <dt>{{ site.data.settings.page.chairman }}:</dt>
        {% for chairman in page.muftis.chairman %}
        <dd>
          <a title="{{ chairman.name }}" href="{{ chairman.url | relative_url }}">
          {{ chairman.name }}
          </a>
        </dd>
        {% endfor %}
        {% else %}
        {% endif %}
        {% if page.muftis.deputy_chairman %}
        <dt>{{site.data.settings.page.deputy_chairman}}:</dt>
        {% for deputy_chairman in page.muftis.deputy_chairman %}
        <dd>
          <a title="{{ deputy_chairman.name }}" href="{{ deputy_chairman.url | relative_url }}">
          {{ deputy_chairman.name }}
          </a>
        </dd>
        {% endfor %}
        {% else %}
        {% endif %}
        {% if page.muftis.members %}
        <dt>{{site.data.settings.page.members}}:</dt>
        {% for members in page.muftis.members %}
        <dd>
          <a title="{{ members.name }}" href="{{ members.url | relative_url }}">
          {{ members.name }}
          </a>
        </dd>
        {% endfor %}
        {% else %}
        {% endif %}
        {% if page.muftis.shaykh %}
        {% for shaykh in page.muftis.shaykh %}
        <dd>
          <a href="{{ shaykh.url | relative_url }}" title="{{ shaykh.name }}"><b>{{ shaykh.name }}</b></a>
        </dd>
        {% endfor %}
        {% else %}
        {% endif %}
        {% endif %}
