   <ul id="slide-out" class="side-nav">
    <li><a class="subheader">Menu</a></li>
    <li><a class="waves-effect" href="/">Home</a></li>
    <li><a class="waves-effect" href="/fatwas">Fatwas</a></li>
    <li><a class="waves-effect" href="/audios">Audios</a></li>
    <li><a class="waves-effect" href="/category">Categories</a></li>
    <li><a class="subheader">More</a></li>
    <li class="hide-on-med-and-down"><a class="waves-effect" href="/app">Download App</a></li>
    <li><a class="waves-effect" href="https://instagram.com/Alsalafiyyah" target="_blank">Instagram @ALSALAFIYYAH</a></li>
  </ul>
