<!-- Sidebar -->
<aside role="complementary"
  itemscope 
  itemtype="http://schema.org/WPSideBar">
<hr/>
<section>
<div class="hstack gap-2">
  <div class="p-2 ms-auto">
<div class="list-group">
 {% for item in site.data.locales[page.locale].aside_quick_links %}
  <a href="{{ item.url }}" class="list-group-item list-group-item-action border-none fw-semibold" aria-current="false">
    {{ item.name }}
  </a>
 {% endfor %}
 {% include Support_Palestine.html %}
</div>    
  </div>
  <div class="vr"></div>
  <div class="p-2">      
<div class="list-group">
 {% for item in site.data.locales[page.locale].aside_external_links %}
  <a href="{{ item.url }}" target="_blank" class="list-group-item list-group-item-action border-none fw-semibold" aria-current="false">
    {{ item.name }}
  </a>
  {% endfor %}   
  </div>
   </div>
</div>       
</section>
</aside>
