<!-- Sidenav -->
<div id="offcanvas-reveal" uk-offcanvas="mode: reveal; overlay: true">
<div class="uk-offcanvas-bar uk-text-meta uk-link-muted uk-text-large">
{% for item in site.data.locales[page.locale].sidenav %}	
 <div class="uk-nav-header">
  <div class="uk-clearfix">
   <div class="uk-float-left">
    <span class="uk-text-meta uk-nav-header">
    <button class="theme-toggle" id="theme-toggle" title="Toggles light & dark" aria-label="auto" aria-live="polite">
      <svg class="sun-and-moon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
        <mask class="moon" id="moon-mask">
          <rect x="0" y="0" width="100%" height="100%" fill="white" />
          <circle cx="24" cy="10" r="6" fill="black" />
        </mask>
        <circle class="sun" cx="12" cy="12" r="6" mask="url(#moon-mask)" fill="currentColor" />
        <g class="sun-beams" stroke="currentColor">
          <line x1="12" y1="1" x2="12" y2="3" />
          <line x1="12" y1="21" x2="12" y2="23" />
          <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
          <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
          <line x1="1" y1="12" x2="3" y2="12" />
          <line x1="21" y1="12" x2="23" y2="12" />
          <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
          <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
         </g>
      </svg>
    </button>
    </span>
    <span class="uk-nav-header"><a href="https://instagram.com/Alsalafiyyah" uk-icon="icon: instagram"></a></span>
   </div>
   <div class="uk-float-right">      
   {% for item in item.all %}  
    <a class="uk-button uk-button-text uk-link-muted uk-text-capitalize" href="{{ item.url }}">{{ item.title }} <span uk-icon="icon: chevron-right"></span></a>
    {% else %}
    <a class="uk-link-muted" href="#"><span uk-icon="icon: world"></span> {{ site.data.locales[page.locale].page.language }} <span uk-drop-parent-icon></span></a>
     <div uk-dropdown="mode: click">
      <ul class="uk-nav" uk-nav>
       {% for item in item.language %}
        <li><a class="uk-link-muted" href="{{ item.url }}">{{ item.title }}</a></li>     
       {% endfor %}
      </ul>
     </div>     
    {% endfor %}
   </div>
  </div>    
 </div>	
<br/>
{% for item in item.items %}	
 <ul {% if page.locale == 'ar' %}dir="rtl"{% endif %} class="uk-nav uk-nav-primary">
  <li><a class="uk-link-muted" href="{{ item.url }}">{{ item.title }}</a></li>
{% endfor %}
 </ul>
{% endfor %}
</div>
</div>
<!-- /Sidenav -->
