   <ul id="slide-out" class="side-nav hide">
    <li><a class="subheader">Menu</a></li>
    <li><a class="waves-effect" href="/">Home</a></li>
    <li><a class="waves-effect" href="/fatwas">Fatwas</a></li>
    <li><a class="waves-effect" href="/audios">Audios</a></li>
    <li><a class="waves-effect" href="/category">Categories</a></li>
    <li class="hide-on-med-and-down"><a class="waves-effect" href="/app">Download App</a></li>
    <li><a class="subheader">Contact</a></li>
    <li><a class="waves-effect" href="https://instagram.com/Alsalafiyyah" target="_blank">Instagram @ALSALAFIYYAH</a></li>
  </ul>

  <ul id="slide-out" class="sidenav custom-nav">
    <li class="center bold"><h5>Salafiyyah</h5></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="/">Home</a></li>
    <li><a class="waves-effect" href="/fatwas">Fatwas</a></li>
    <li><a class="waves-effect" href="/audios">Audios</a></li>
    <li><a class="waves-effect" href="/category">Categories</a></li>
    <li><a class="waves-effect" href="#!">E-Books</a></li>
    <li class="hide-on-med-and-down"><a class="waves-effect" href="/app">Mobile App</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Contact</a></li>
    <li><a class="waves-effect" href="https://instagram.com/Alsalafiyyah" target="_blank">Instagram</a></li>
  </ul>
