<!-- Sidebar -->
<aside role="complementary"
  itemscope 
  itemtype="http://schema.org/WPSideBar">
<section class="mt-5"  
<div class="container">
 <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
    
  <div class="col mb-3">
   <div class="card bg-transparent shadow-sm text-center">
    <img src="https://alsalafiyyah.github.io/assets/images/banner.jpg" class="card-img" alt="{{ site.title }}">  
   </div>            
  </div>
  
  <div class="col mb-3">
<div class="hstack gap-2">
  <div class="p-2 ms-auto">
<div class="list-group">
{% if page.locale == 'en' %}
 {% for item in site.data.locales[page.locale].aside_quick_links %}
  <a href="{{ item.url }}" class="list-group-item list-group-item-action border-none fw-semibold" aria-current="false">
    {{ item.name }}
  </a>
 {% endfor %}  
{% elsif page.locale == 'ar' %}  
 {% for item in site.data.locales[page.locale].aside_quick_links %}
  <a href="{{ item.url }}" class="list-group-item list-group-item-action border-none fw-semibold" aria-current="false">
    {{ item.name }}
  </a>
 {% endfor %}  
{% else %}
 {% for item in site.data.setting.aside_quick_links %}
  <a href="{{ item.url }}" class="list-group-item list-group-item-action border-none fw-semibold" aria-current="false">
    {{ item.name }}
  </a>
 {% endfor %}  
{% endif %}  
</div>    
  </div>
  <div class="vr"></div>
  <div class="p-2">      
<div class="list-group">
{% if page.locale == 'en' %}  
 {% for item in site.data.locales[page.locale].aside_external_links %}
  <a href="{{ item.url }}" target="_blank" class="list-group-item list-group-item-action border-none fw-semibold" aria-current="false">
    {{ item.name }}
  </a>
  {% endfor %}   
{% elsif page.locale == 'ar' %}  
 {% for item in site.data.locales[page.locale].aside_external_links %}
  <a href="{{ item.url }}" target="_blank" class="list-group-item list-group-item-action border-none fw-semibold" aria-current="false">
    {{ item.name }}
  </a>
  {% endfor %}  
{% else %}  
 {% for item in site.data.setting.aside_external_links %}
  <a href="{{ item.url }}" target="_blank" class="list-group-item list-group-item-action border-none fw-semibold" aria-current="false">
    {{ item.name }}
  </a>
  {% endfor %}  
{% endif %}  
  </div>
   </div>
</div>       
    
  </div>
   
 </div>
</div>
</section>
</aside>
