<header id="header">
 <a href="{{ site.baseurl }}/" class="logo">
 {% if page.locale == 'en' %}
  {{ site.data.locales[page.locale].blog.title }}
 {% else %}
  {{ site.title }}
 {% endif %}
 </a>
</header>
