<div>
<ul>

 {% if page.source %}
   <li class="collection-item">
   {{ site.data.locales[page.locale].page.source }}: {{ page.source }} {% else %}
    </li>
 {% endif %}
 
 {% if page.binbaz %}
  {% if site.binbaz %}
   <li class="collection-item">
    {{ site.data.locales[page.locale].page.mufti }}: 
    <a title="{{ site.binbaz.name }}" href="{{ site.binbaz.url }}">{{ site.binbaz.name }}</a>
    </li>
  {% endif %}
 {% endif %}
 
 {% if page.fawzan %}
  {% if site.fawzan %}
   <li class="collection-item">
    {{ site.data.locales[page.locale].page.mufti }}: 
    <a title="{{ site.fawzan.name }}" href="{{ site.fawzan.url }}">{{ site.fawzan.name }}</a>
    </li>
  {% endif %}
 {% endif %}

 {% if page.uthaymeen %}
  {% if site.uthaymeen %}
   <li class="collection-item">
    {{ site.data.locales[page.locale].page.mufti }}: 
    <a title="{{ site.uthaymeen.name }}" href="{{ site.uthaymeen.url }}">{{ site.uthaymeen.name }}</a>
    </li>
  {% endif %}
 {% endif %}

  {% if page.uthaymeen_ar %}
  {% if site.uthaymeen_ar %}
   <li class="collection-item">
    {{ site.data.locales[page.locale].page.mufti }}: 
    {{ site.uthaymeen.name }}
    </li>
  {% endif %}
 {% endif %}
 
 {% if page.group1 %}
   {% if site.group1.chairman %}
    <li class="collection-item">
     {{ site.data.locales[page.locale].post.chairman }} : 
    {% for chairman in site.group1.chairman %}<a title="{{ chairman.name }}" href="{{ chairman.url | relative_url }}">{{ chairman.name }}</a>{% endfor %}
    </li>
   {% endif %} 
   {% if site.group1.deputy_chairman %}
     <li class="collection-item">
      {{ site.data.locales[page.locale].post.deputy_chairman }}: 
      {% for deputy_chairman in site.group1.deputy_chairman %}<a title="{{ deputy_chairman.name }}" href="{{ deputy_chairman.url | relative_url }}">{{ deputy_chairman.name }}</a>{% endfor %}
     </li>
   {% endif %}      
   {% if site.group1.members %}
     <li class="collection-item">
        {{ site.data.locales[page.locale].post.members }} : 
        <ol>
         {% for members in site.group1.members %}
         <li><a title="{{ members.name }}" href="{{ members.url | relative_url }}">{{ members.name }}</a></li>
         {% endfor %}
        </ol>
      </li>
   {% endif %} 
 {% endif %}

  {% if page.group2 %}
   {% if site.group2.chairman %}
    <li class="collection-item">
     {{ site.data.locales[page.locale].post.chairman }} : 
    {% for chairman in site.group2.chairman %}<a title="{{ chairman.name }}" href="{{ chairman.url | relative_url }}">{{ chairman.name }}</a>{% endfor %}
    </li>
   {% endif %} 
   {% if site.group2.deputy_chairman %}
     <li class="collection-item">
       {{ site.data.locales[page.locale].post.deputy_chairman }} : 
      {% for deputy_chairman in site.group2.deputy_chairman %}<a title="{{ deputy_chairman.name }}" href="{{ deputy_chairman.url | relative_url }}">{{ deputy_chairman.name }}</a>{% endfor %}
     </li>
   {% endif %}      
   {% if site.group2.members %}
     <li class="collection-item">
        {{ site.data.locales[page.locale].post.members }} : 
        <ol>
         {% for members in site.group2.members %}
         <li><a title="{{ members.name }}" href="{{ members.url | relative_url }}">{{ members.name }}</a></li>
         {% endfor %}
        </ol>
      </li>
   {% endif %} 
 {% endif %}

 {% if page.group3 %}
   {% if site.group3.chairman %}
    <li class="collection-item">
    {{ site.data.locales[page.locale].post.chairman }} : 
    {% for chairman in site.group3.chairman %}<a title="{{ chairman.name }}" href="{{ chairman.url | relative_url }}">{{ chairman.name }}</a>{% endfor %}
    </li>
   {% endif %} 
   {% if site.group3.deputy_chairman %}
     <li class="collection-item">
       {{ site.data.locales[page.locale].post.deputy_chairman }} : 
      {% for deputy_chairman in site.group3.deputy_chairman %}<a title="{{ deputy_chairman.name }}" href="{{ deputy_chairman.url | relative_url }}">{{ deputy_chairman.name }}</a>{% endfor %}
     </li>
   {% endif %}      
   {% if site.group3.members %}
     <li class="collection-item">
        {{ site.data.locales[page.locale].post.members }} : 
        <ol>
         {% for members in site.group3.members %}
         <li><a title="{{ members.name }}" href="{{ members.url | relative_url }}">{{ members.name }}</a></li>
         {% endfor %}
        </ol>
      </li>
   {% endif %} 
 {% endif %}

 {% if page.group4 %}
   {% if site.group4.chairman %}
    <li class="collection-item">
     {{ site.data.locales[page.locale].post.chairman }} : 
    {% for chairman in site.group4.chairman %}<a title="{{ chairman.name }}" href="{{ chairman.url | relative_url }}">{{ chairman.name }}</a>{% endfor %}
    </li>
   {% endif %} 
   {% if site.group4.deputy_chairman %}
     <li class="collection-item">
       {{ site.data.locales[page.locale].post.deputy_chairman }} : 
      {% for deputy_chairman in site.group4.deputy_chairman %}<a title="{{ deputy_chairman.name }}" href="{{ deputy_chairman.url | relative_url }}">{{ deputy_chairman.name }}</a>{% endfor %}
     </li>
   {% endif %}      
   {% if site.group4.members %}
     <li class="collection-item">
        {{ site.data.locales[page.locale].post.members }} : 
        <ol>
         {% for members in site.group4.members %}
         <li><a title="{{ members.name }}" href="{{ members.url | relative_url }}">{{ members.name }}</a></li>
         {% endfor %}
        </ol>
      </li>
   {% endif %} 
 {% endif %}

  {% if page.group5 %}
   {% if site.group5.chairman %}
    <li class="collection-item">
     {{ site.data.locales[page.locale].post.chairman }} : 
    {% for chairman in site.group5.chairman %}<a title="{{ chairman.name }}" href="{{ chairman.url | relative_url }}">{{ chairman.name }}</a>{% endfor %}
    </li>
   {% endif %} 
   {% if site.group5.deputy_chairman %}
     <li class="collection-item">
       {{ site.data.locales[page.locale].post.deputy_chairman }} : 
      {% for deputy_chairman in site.group5.deputy_chairman %}<a title="{{ deputy_chairman.name }}" href="{{ deputy_chairman.url | relative_url }}">{{ deputy_chairman.name }}</a>{% endfor %}
     </li>
   {% endif %}      
   {% if site.group5.members %}
     <li class="collection-item">
        {{ site.data.locales[page.locale].post.members }} : 
        <ol>
         {% for members in site.group5.members %}
         <li><a title="{{ members.name }}" href="{{ members.url | relative_url }}">{{ members.name }}</a></li>
         {% endfor %}
        </ol>
      </li>
   {% endif %} 
 {% endif %}

  {% if page.group6 %}
   {% if site.group6.chairman %}
    <li class="collection-item">
     {{ site.data.locales[page.locale].post.chairman }} : 
    {% for chairman in site.group6.chairman %}<a title="{{ chairman.name }}" href="{{ chairman.url | relative_url }}">{{ chairman.name }}</a>{% endfor %}
    </li>
   {% endif %} 
   {% if site.group6.deputy_chairman %}
     <li class="collection-item">
       {{ site.data.locales[page.locale].post.deputy_chairman }} : 
      {% for deputy_chairman in site.group6.deputy_chairman %}<a title="{{ deputy_chairman.name }}" href="{{ deputy_chairman.url | relative_url }}">{{ deputy_chairman.name }}</a>{% endfor %}
     </li>
   {% endif %}      
   {% if site.group6.members %}
     <li class="collection-item">
        {{ site.data.locales[page.locale].post.members }} : 
        <ol>
         {% for members in site.group6.members %}
         <li><a title="{{ members.name }}" href="{{ members.url | relative_url }}">{{ members.name }}</a></li>
         {% endfor %}
        </ol>
      </li>
   {% endif %} 
 {% endif %}
 
 {% if page.shaykhs %}
  <li class="collection-item">
   {{ site.data.locales[page.locale].page.muftis }}: 
  {% for sh in page.shaykhs %}
   {{ sh }}
   {% unless forloop.last %},{% endunless %}
  {% endfor %}
  </li>
 {% endif %}
 
  {% if page.muftis %}
   {% if page.muftis.shaykh %}
    {% for shaykh in page.muftis.shaykh %}
       <li>
        {{ site.data.locales[page.locale].page.mufti }}: <a href="{{ shaykh.url | relative_url }}" title="{{ shaykh.name }}"><b>{{ shaykh.name }}</b></a>
       </li>
    {% endfor %}
   {% endif %}
  {% endif %}

  {% if page.muftis %}

   {% if page.muftis.chairman %}
    <li>
     {{ site.data.locales[page.locale].post.chairman }} : 
    {% for chairman in page.muftis.chairman %}<a title="{{ chairman.name }}" href="{{ chairman.url | relative_url }}">{{ chairman.name }}</a>{% endfor %}
    </li>
   {% endif %} 
   {% if page.muftis.deputy_chairman %}
     <li>
      {{ site.data.locales[page.locale].post.deputy_chairman }} : 
      {% for deputy_chairman in page.muftis.deputy_chairman %}<a title="{{ deputy_chairman.name }}" href="{{ deputy_chairman.url | relative_url }}">{{ deputy_chairman.name }}</a>{% endfor %}
     </li>
   {% endif %}      
   {% if page.muftis.members %}
     <li>
        {{ site.data.locales[page.locale].post.members }} : 
        <ol>
         {% for members in page.muftis.members %}
         <li><a title="{{ members.name }}" href="{{ members.url | relative_url }}">{{ members.name }}</a></li>
         {% endfor %}
        </ol>
      </li>
    {% endif %}

  {% endif %}      
 
  {% if page.article_taken_from %}
   {% if page.article_taken_from.taken_from %}
    {% for p in page.article_taken_from.taken_from %}
       <li>
        {{ site.data.locales[page.locale].page.source }}: <a href="{{ p.web_url }}" target="_blank"><b>{{ p.web_title }}</b></a>
       </li>
    {% endfor %}
   {% endif %}
  {% endif %}

</ul>
</div>
