<section class="mt-5">

<!-- Muftis -->    
{% include Muftis.html %}

<!-- begin footer content info --> 
<div class="card card-body bg-transparent border-danger">
<ul class="list-group list-group-flush">

<!-- Date -->  
<li class="list-group-item">     
  {% include Date.html %}
  {% include read_time.html %}
</li> 

<!-- general publisher -->    
<li class="list-group-item">
 <div class="ms-2 me-auto">  
  <div class="fw-normal">Posted by</div>
   <span itemprop="author" itemscope itemtype="https://schema.org/Person">
    <a itemprop="url" href="https://instagram.com/alsalafiyyah" rel="nofollow" target="_blank">
     <span class="fw-semibold" itemprop="name">@Alsalafiyyah</span>
    </a> 
   </span>
 </div>
</li>

<!-- source -->  
{% if page.source %}
 <li class="list-group-item">
  <div class="ms-2 me-auto">   
   <div class="fw-normal">{% if page.locale == 'en' %}{{ site.data.locales[page.locale].page.source | append: " : " }}{% elsif page.locale == 'ar' %}{{ site.data.locales[page.locale].page.source | append: " : " }}{% else %}Source:{% endif %}</div>
    <span class="fw-semibold">{{ page.source }}</span>
  </div>
 </li>
{% endif %}

<!-- reference -->  
{% if page.article_taken_from %}
 {% if page.article_taken_from.taken_from %}
  {% for p in page.article_taken_from.taken_from %}
   <li class="list-group-item">
   <div class="ms-2 me-auto">
    <div class="fw-normal">{% if page.locale == 'en' %}{{ site.data.locales[page.locale].page.ref | append: " : " }}{% elsif page.locale == 'ar' %}{{ site.data.locales[page.locale].page.ref | append: " : " }}{% else %}Reference:{% endif %}</div>
     <span class="fw-semibold">
       <a class="icon-link" href="{{ p.web_url }}" target="_blank" rel="nofollow">{{ p.web_title }} <i class="bi bi-box-arrow-up-right"></i></a>
     </span>
   </div>
   </li>
  {% endfor %}
 {% endif %}
{% endif %}

<!-- if translated by on -->  
{% if page.translated_by %}
 <li class="list-group-item">
   <div class="ms-2 me-auto">
     <div class="fw-normal">{% if page.locale == 'en' %}{{ site.data.locales[page.locale].page.translated_by | append: " : " }}{% elsif page.locale == 'ar' %}{{ site.data.locales[page.locale].page.translated_by | append: " : " }}{% else %}Translated by:{% endif %}</div>
     <span class="fw-semibold">{{ page.translated_by }}</span> 
   </div>
 </li>
{% endif %}

<!-- categories -->  
{% if post %}
{% assign categories = post.categories %}
{% else %}
{% assign categories = page.categories %}
{% endif %}
<li class="list-group-item">       
 {% for category in categories %}
   <a href="{{site.baseurl}}/category/{{category|slugize}}">
    <span class="badge text-bg-light">{{category|capitalize}}</span>
   </a>
   {% unless forloop.last %}&nbsp;{% endunless %}
 {% endfor %}        
</li>

<!-- last modified -->  
<li class="list-group-item">
  <div class="ms-2 me-auto">
    {% include LastModified.html %}
  </div>
</li>

</ul>
</div>
<!-- / end footer content info --> 
  
<!-- social share -->
{% include Socials_Share.html %}

</section>
