<table>     
{% assign posts = site.posts %}
{% for c in site.posts %}	
  <tr>
   <td>
    <h3 class="content-title">
     <a title="{{ c.title }}" href="{{ c.url }}">
     {{ c.title }}
     </a>
    </h3>
    </a>
    <date class="content-date">
      {{ c.hijri }} - {{ c.date | date_to_string }}
    </date>
    <p class="content-excerpt">
      {{ c.excerpt | truncate: 160 | strip_html | strip }}
    </p>
   </td>    
   <td>
   <a type="button" href="https://www.github.com/{{ site.github_username }}/{{ site.git_repo }}/blob/master/{{ post.path }}" target="_blank">
    Edit
   </a>
    </td>
  </tr>      
{% endfor %}	
</table>
