<link rel="stylesheet" 
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<style>
.iconav, .iconav a {
  display: flex;
  align-items: center;
  text-decoration: none;
}  
.iconav, .iconav a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
ul {
  list-style-position: inside;
  padding-left: 0;
  -webkit-padding-start: 0;
}
.inline,
.inline li
{
  display: inline-block;
  list-style-type: none;
  padding-right: 15px;
  float: left;
  }  
</style>
<table>     
{% assign posts = site.posts %}
{% for post in site.posts %}	
  <tr>
   <td>
    <h3 class="content-title">
     <a title="{{ post.title }}" href="{{ post.url }}">
     {{ post.title }}
     </a>
    </h3>
    </a>
    <div class="iconav content-date">
     <span class="material-symbols-outlined">calendar_month</span> {{ post.hijri }} - {{ post.date | date_to_string }} 
    </div>
    <p class="content-excerpt">
      {{ post.excerpt | truncate: 160 | strip_html | strip }}
    </p>
    <div class="iconav content-date">
    <ul class="inline">
      <li>
     <a type="button" href="https://www.github.com/{{ site.github_username }}/{{ site.git_repo }}/blob/master/{{ post.path }}" target="_blank">
      <span class="material-symbols-outlined">
       edit_square
      </span> Edit 
     </a>        
      </li>
      <li>
     <a type="button" href="https://raw.githubusercontent.com/{{ site.github_username }}/{{ site.git_repo }}/master/{{ post.path }}" target="_blank">
      View file 
      <span class="material-symbols-outlined">
       open_in_new
      </span> 
     </a>            
      </li>
    </ul>
    </div>
   </td>    
  </tr>      
{% endfor %}	
</table>
