<table>     
{% assign posts = site.posts %}
{% for post in site.posts %}	
  <tr>
   <td>
    <h3 class="content-title">
     <a title="{{ post.title }}" href="{{ post.url }}">
     {{ post.title }}
     </a>
    </h3>
    </a>
    <div style="font-size: 11px;">
     <i class="bi bi-calendar-day"></i> {{ post.hijri }} {{ post.date | date_to_string | prepend: " / " }} 
    </div>
    <p class="content-excerpt">
      {{ post.excerpt | truncatewords: 20  | strip_html | normalize_whitespace }}
    </p>
    <div class="iconav content-date">
    <ul class="list-inline">
      <li class="list-inline-item">
       <a class="icon-link" type="button" href="https://www.github.com/{{ site.github_username }}/{{ site.git_repo }}/blob/master/{{ post.path }}" target="_blank">
       Edit file <i class="bi bi-pencil-square"></i>
       </a>        
      </li>
      <li class="list-inline-item">
       <a class="icon-link" href="https://raw.githubusercontent.com/{{ site.github_username }}/{{ site.git_repo }}/master/{{ post.path }}" target="_blank">
        View file <i class="bi bi-box-arrow-up-right"></i>
       </a>            
      </li>
    </ul>
    </div>
  <div class="iconav content-date"> 
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  <a href="{{site.baseurl}}/category/{{category|slugize}}">
    <span class="badge text-bg-light">{{category|capitalize}}</span></a>
    {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}        
  </div>
   </td>    
  </tr>      
{% endfor %}	
</table>
