<table>
{% assign posts = site.posts | where_exp: "post", "post.categories contains 'wahhabism'" %}
{% for post in posts %}
<tr>
  <td>
   <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" 
     href="{{ post.url }}">
    <h3>{{ post.title }}</h3>
   </a>
   <p>
  <small>
   <i class="bi bi-calendar-day"></i>
   {{ post.date | date: "%b %d, %Y" }} 
   {{ post.hijri | prepend: " / " }}
  </small>
   </p>
   <p class="mb-1 fst-italic">
    {{ post.excerpt | escape | truncate: 150 | strip_html | normalize_whitespace }}
   </p>
 </td>
</tr>
{% endfor %}
</table>
