<div uk-height-match class="uk-child-width-expand@s" uk-grid>
 
<div>
 <div class="uk-card uk-card-default uk-width-6-3@m">
  <div class="uk-card-body">
   <ul class="uk-list">
    <li {% if page.locale == 'ar' %}dir="rtl"{% endif %}><h4 {% if page.locale == 'ar' %}dir="rtl"{% endif %} class="uk-heading-line uk-text-bold uk-text-uppercase">{{ site.data.locales[page.locale].page.fatwas }}</h4></li>
    {% if page.locale == 'en' %}
    {% assign posts_en = (site.posts | where: "locale" , "en") %}
    {% for post in posts_en limit:5 %}
     {% if post.url %}
      <li><a class="uk-text-capitalize uk-link-text" href="{{ post.url }}"><span uk-icon="chevron-double-right"></span> {{ post.title }}</a></li>
     {% endif %}
    {% endfor %}
    {% elsif page.locale == 'ar' %}
    {% assign posts_ar = (site.posts | where: "locale" , "ar") %}
    {% for post in posts_ar limit:5 %}
     {% if post.url %}
      <li dir="rtl"><a class="uk-text-capitalize uk-link-text" href="{{ post.url }}"><span uk-icon="chevron-double-right"></span> {{ post.title }}</a></li>
     {% endif %}
    {% endfor %}
    {% endif %}
    <li {% if page.locale == 'ar' %}dir="rtl"{% endif %}><a href="{% if page.locale == 'ar' %}{{ '/ar/fatwas/' | prepend:site.baseurl }}{% elsif page.locale == 'en' %}{{ '/fatwas/' | prepend:site.baseurl }}{% endif %}" class="uk-text-capitalize uk-align-right uk-link-text uk-button uk-button-text">{{ site.data.locales[page.locale].page.more }} {% if page.locale == 'ar' %}<span uk-icon="chevron-double-left"></span>{% elsif page.locale == 'en' %}<span uk-icon="chevron-double-right"></span>{% endif %}</a></li>
    </ul>
  </div>  
 </div>
</div>
 
<div>
 <div class="uk-heading-line uk-card uk-card-default uk-width-6-3@m">
  <div class="uk-card-body">
   <ul class="uk-list">
    <li {% if page.locale == 'ar' %}dir="rtl"{% endif %}><h4 class="uk-text-bold uk-text-uppercase">{{ site.data.locales[page.locale].page.audios }}</h4></li>
    {% for c in site.audios | limit:5 %}
     <li><a class="uk-text-capitalize uk-link-text" href="{{ c.url }}"><span uk-icon="play"></span> {{ c.title }}</a></li>
    {% endfor %}
    <li {% if page.locale == 'ar' %}dir="rtl"{% endif %}><a href="{% if page.locale == 'ar' %}{{ '/ar/audios/' | prepend:site.baseurl }}{% elsif page.locale == 'en' %}{{ '/audios/' | prepend:site.baseurl }}{% endif %}" class="uk-text-capitalize uk-align-right uk-link-text uk-button uk-button-text">{{ site.data.locales[page.locale].page.more }} {% if page.locale == 'ar' %}<span uk-icon="chevron-double-left"></span>{% elsif page.locale == 'en' %}<span uk-icon="chevron-double-right"></span>{% endif %}</a></li>
    </ul>   
   </div>
 </div>
</div>    

<div class="hide">
 <div class="uk-card uk-card-default uk-width-6-3@m uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="autoplay: true">
  <div class="uk-card-body">
   <a class="uk-link-text" href="{% if page.locale == 'ar' %}{{ '/ar/books/' | prepend:site.baseurl }}{% elsif page.locale == 'en' %}{{ '/books/' | prepend:site.baseurl }}{% endif %}"><h4 class="uk-text-bold uk-text-uppercase">{{ site.data.locales[page.locale].page.books }}</h4></a>
    <ul class="uk-slider-items uk-grid">
     {% for c in site.data.slider %}
       <li class="uk-width-3-4">
        <div class="uk-panel">
         <img class="lazy" src="{{ "/assets/loader.gif" | relative_url }}" data-src="../assets/images/{{ c.img }}" width="400" height="600" alt="">              
        </div>
       </li>
     {% endfor %}
    </ul>
  </div>
 </div>
</div>
 
</div>
