<div uk-height-match class="uk-child-width-expand@s" uk-grid>
 
<div>
 <div class="uk-card uk-card-default uk-width-6-3@m">
  <div class="uk-card-body">
   <ul class="uk-list">
    <li><h4 class="uk-heading-line uk-text-bold uk-text-uppercase">Latest Fatwas</h4></li>
    {% for post in site.posts limit:5 %}
     {% if post.url %}
      <li><a class="uk-text-capitalize uk-link-text" href="{{ post.url }}"><span uk-icon="chevron-double-right"></span> {{ post.title }}</a></li>
     {% endif %}
    {% endfor %}
    <li><a href="{{ '/fatwas/' | prepend:site.baseurl }}" class="uk-text-capitalize uk-align-right uk-link-text uk-button uk-button-text">More <span uk-icon="chevron-double-right"></span></a></li>
    </ul>
  </div>  
 </div>
</div>
 
<div>
 <div class="uk-heading-line uk-card uk-card-default uk-width-6-3@m">
  <div class="uk-card-body">
   <ul class="uk-list">
    <li><h4 class="uk-text-bold uk-text-uppercase">Latest Audios</h4></li>
    {% for c in site.audios | limit:5 %}
     <li><a class="uk-text-capitalize uk-link-text" href="{{ c.url }}"><span uk-icon="play"></span> {{ c.title }}</a></li>
    {% endfor %}
    <li><a href="{{ '/audios/' | prepend:site.baseurl }}" class="uk-text-capitalize uk-align-right uk-link-text uk-button uk-button-text">More <span uk-icon="chevron-double-right"></span></a></li>
    </ul>   
   </div>
 </div>
</div>    

<div>
 <div class="uk-card uk-card-default uk-width-6-3@m uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="autoplay: true">
  <div class="uk-card-body">
   <a class="uk-link-text" href="{{ '/books/' | prepend:site.baseurl }}"><h4 class="uk-text-bold uk-text-uppercase">Latest Books</h4></a>
    <ul class="uk-slider-items uk-grid">
     {% for c in site.data.slider %}
       <li class="uk-width-3-4">
        <div class="uk-panel">
         <img class="lazy" src="{{ "/assets/loader.gif" | relative_url }}" data-src="../assets/images/{{ c.img }}" width="400" height="600" alt="">              
        </div>
       </li>
     {% endfor %}
    </ul>
  </div>
 </div>
</div>
 
</div>
