---
layout: Page
title: The Groups & Sects
permalink: /en/sects/
---
<p>
 It is not Islam that is divided into sects, 
 rather it is the people who differ,
 deviated from the Sunnah (way) of their 
 Prophet and deviated from the authentic 
 teachings of Islam. Nevertheless salvation belongs 
 to only one sect: It was narrated that the 
 Prophet ﷺ said: <b>“My ummah will split into 
 seventy-three sects, one of which will be 
 in Paradise and seventy-two in Hell.” It 
 was said: O Messenger of Allah, who are 
 they? He said: “The jama'ah (the main body 
 of the Muslims).”</b> and according to another 
 hadith: <b>“[Those who follow] the path which 
 I and my Companions follow.”</b>
</p>
<p>
 <b>Salafism</b> (Arabic: al-Salafiyyah) is 
 not one of the sects into which the Ummah of 
 Prophet Muhammad ﷺ has been divided, because 
 Salafism means following the way of the Salaf. 
 The term '<b>Salaf</b>' refers to early 
 Muslims who were Companions of the Prophet ﷺ, 
 at-Tabi‘un (the generation after the Companions 
 of the Prophetﷺ) and Tabi‘ at-Tabi‘un (the 
 generation after the Tabi‘un). These early 
 Muslims known as salaf as-salih (pious 
 predecessors) based on the Prophet’s saying: 
 <b>"The best of people is my generation, then 
 those who come after them, then those who come 
 after them."</b> [Bukhari and Muslim]. They are 
 the ones whom Allah pleased in the Qur'an: 
 <b>"The first to embrace Islam of the Muhajirin 
 (those who migrated from Makkah to al-Madinah in 
 obedience to Allah) and the Ansar (the citizens 
 of al-Madinah who gave aid to the Muhajirin), and 
 also those who follow them in the best way; Allah 
 is well pleased with them, and they are with Him."</b> 
 [Qur'an, At-Tawbah 9:100].
</p>
<table>
{% for post in site.posts %}
{% if post.categories contains 'sects' %}
<tr><td>
 <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
 <p><time>{{ post.date | date: "%b %d, %Y" }} / {{ post.hijri }}</time></p>
</td></tr>
{% endif %}
{% endfor %}
</table>
