@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');  
/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */ /* Document ======== */ /** Use a better box model (opinionated). */ *, ::before, ::after { 	box-sizing: border-box; } html { 	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */ 	font-family: 		system-ui, 		'Segoe UI', 		Roboto, 		Helvetica, 		Arial, 		sans-serif, 		'Apple Color Emoji', 		'Segoe UI Emoji'; 	line-height: 1.15; /* 1. Correct the line height in all browsers. */ 	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */ 	-moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */ 	tab-size: 4; /* 3 */ } /* Sections ======== */ body { 	margin: 0; /* Remove the margin in all browsers. */ } /* Grouping content ================ */ /** 1. Add the correct height in Firefox. 2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655) */ hr { 	height: 0; /* 1 */ 	color: inherit; /* 2 */ } /* Text-level semantics ==================== */ /** Add the correct text decoration in Chrome, Edge, and Safari. */ abbr[title] { 	text-decoration: underline dotted; } /** Add the correct font weight in Edge and Safari. */ b, strong { 	font-weight: bolder; } /** 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) 2. Correct the odd 'em' font sizing in all browsers. */ code, kbd, samp, pre { 	font-family: 		ui-monospace, 		SFMono-Regular, 		Consolas, 		'Liberation Mono', 		Menlo, 		monospace; /* 1 */ 	font-size: 1em; /* 2 */ } /** Add the correct font size in all browsers. */ small { 	font-size: 80%; } /** Prevent 'sub' and 'sup' elements from affecting the line height in all browsers. */ sub, sup { 	font-size: 75%; 	line-height: 0; 	position: relative; 	vertical-align: baseline; } sub { 	bottom: -0.25em; } sup { 	top: -0.5em; } /* Tabular data ============ */ /** 1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297) 2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016) */ table { 	text-indent: 0; /* 1 */ 	border-color: inherit; /* 2 */ } /* Forms ===== */ /** 1. Change the font styles in all browsers. 2. Remove the margin in Firefox and Safari. */ button, input, optgroup, select, textarea { 	font-family: inherit; /* 1 */ 	font-size: 100%; /* 1 */ 	line-height: 1.15; /* 1 */ 	margin: 0; /* 2 */ } /** Remove the inheritance of text transform in Edge and Firefox. */ button, select { 	text-transform: none; } /** Correct the inability to style clickable types in iOS and Safari. */ button, [type='button'], [type='reset'], [type='submit'] { 	-webkit-appearance: button; } /** Remove the inner border and padding in Firefox. */ ::-moz-focus-inner { 	border-style: none; 	padding: 0; } /** Restore the focus styles unset by the previous rule. */ :-moz-focusring { 	outline: 1px dotted ButtonText; } /** Remove the additional ':invalid' styles in Firefox. See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737 */ :-moz-ui-invalid { 	box-shadow: none; } /** Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers. */ legend { 	padding: 0; } /** Add the correct vertical alignment in Chrome and Firefox. */ progress { 	vertical-align: baseline; } /** Correct the cursor style of increment and decrement buttons in Safari. */ ::-webkit-inner-spin-button, ::-webkit-outer-spin-button { 	height: auto; } /** 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline style in Safari. */ [type='search'] { 	-webkit-appearance: textfield; /* 1 */ 	outline-offset: -2px; /* 2 */ } /** Remove the inner padding in Chrome and Safari on macOS. */ ::-webkit-search-decoration { 	-webkit-appearance: none; } /** 1. Correct the inability to style clickable types in iOS and Safari. 2. Change font properties to 'inherit' in Safari. */ ::-webkit-file-upload-button { 	-webkit-appearance: button; /* 1 */ 	font: inherit; /* 2 */ } /* Interactive =========== */ /* Add the correct display in Chrome and Safari. */ summary { 	display: list-item; }
:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bg-body: hsl(26.7,25.7%,93.1%);
  --color: hsl(345,5.7%,13.7%);
  --bg-card: #fde3ca;
  --bg-footer: #E5DCD7;
  --text-selection: #BACDDB;
  --success: hsl(170.2,32.3%,73.9%);
  --info: hsl(190.6,21.8%,69.4%);
  --warning: hsl(42.4,63%,71.4%);
  --danger: hsl(4.1,89.6%,58.4%);
  --grey: hsl(0,0%,66.3%);
  --link: #BACDDB;
  --white: #ffffff;
  --mark: #BACDDB;;
  --red: #B04759;
  --shadow: 5px;
  --black: #000100;
  --dark-blue: #183075;
  --light-blue: #c1d9f4;
}
/* custom */
html, body {
 font-size: 18px;
 font-family: var(--system-ui);
 font-style: normal;
 background-color: var(--bg-body);
 color: var(--color);       
 height: 100%;
 display: flex;
 flex-direction: column;
 margin: 0px;                                                                                                             
}
a {
 color: var(--color);
 text-decoration-style: wavy;
 text-decoration-color: var(--red);
}
input:focus {
  outline: none !important;
}
mark, .mark {
  background:linear-gradient(180deg, transparent 50%, var(--mark) 50%);
}
mark a, .mark a {
  background:linear-gradient(180deg, transparent 50%, var(--mark) 50%);
  text-decoration: none !important;
  text-decoration-style: none !important;
}
hr {
    height: 2px;
    color: var(--red);
    background: var(--red);
    font-size: 0;
    border: 0;
}
::-moz-selection {
  background: var(--text-selection);
}
::selection {
  background: var(--text-selection);
}
::placeholder {
  color: var(--color);
  opacity: 1;
}
::-ms-input-placeholder {
  color: var(--color);
}
table, th, td {
  border: 0px !important;
}
th, td {
  padding: 10px;
  border-bottom: 1px solid var(--color) !important;
}
li::marker {
  color: var(--red);
}

.nowavy, nowavy a {
 color: var(--color);
 text-decoration: none !important;
 text-decoration-style: none !important;
}
/* logo */
.logo, 
.logo a
.logo h1,
.header h1 {
 font-size: 23px !important;
 text-decoration: none;
 word-break: break all;
}  
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
header a, header h1 {
  text-decoration: none;
  font-family: "Trocchi", serif;
}
.container, header, footer {
 width: 90%;
 margin: 0 auto;
}
.container {
 margin: 0 auto 30px auto;
}
.spacer {
    flex: 1; 
}

/* scroll menu */
div.scrollmenu {
  background-color: none;
  overflow: auto;
  white-space: nowrap;
  border-top: solid 3px var(--red);
  border-bottom: solid 3px var(--red);
  margin-bottom: 15px;
}
div.scrollmenu a {
  display: inline-block;
  color: var(--color);
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-weight: 600;
}
div.scrollmenu a:hover {
  background-color: none;
  text-decoration-style: wavy;
  text-decoration-color: var(--red);
}
aside {
width: 100%;
padding: 10px 20px;
border-top: solid 3px var(--red);	
}
/* footer */
.footer {
   background-color: var(--bg-footer);
   width: 100%;
   margin-top:auto; 
   font-family: "Trocchi", serif;
}
.footer-container {
   height: auto;
   padding: 10px 20px;
}

/* breadcrumb */
ul.breadcrumb {
  padding: 8px 10px;
  list-style: none;
  background-color: none;
}
ul.breadcrumb li {display: inline;}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: var(--red);
  content: "/\00a0";
}
ul.breadcrumb li a {
text-decoration: none;
}
ol.breadcrumb {
  padding: 2px 0px;
  list-style: none;
  background-color: none;
}
ol.breadcrumb li {display: inline;}
ol.breadcrumb li+li:before {
  padding: 2px;
  color: var(--red);
  content: "\2022";
}
ol.breadcrumb li a {
 text-decoration: none;
}
.breadcrumb-container {
   padding: 10px;
}
.active {
 background: linear-gradient(180deg, transparent 50%, var(--mark) 50%);	
}
/* Pagination */
.pagination {
  display: inline-block;
  margin: 20px;
  text-align: center;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid var(--red);
}
.pagination a.active {
  background-color: var(--red);
  color: white;
  border: 1px solid var(--red);
}
.pagination a:hover:not(.active) {background-color: #ddd;}  

/* custom */
.responsive, img, table {
 width: 100%;
 height: auto;
}  

/* lists */
ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 20px;
}
li {
  margin-bottom: 8px;
}
ul.circle {list-style-type: circle;}
ul.square {list-style-type: square;}
ol.upper-roman {list-style-type: upper-roman;}
ol.lower-alpha {list-style-type: lower-alpha;}

/* grid / column */
.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.center, .text-center {
  text-align: center;
}
.left, .text-left {
  text-align: left;
}
.right, .text-right {
  text-align: right;
}
.fatwas-title {
  font-weight: bold;
  font-size: 19px;
}
.remove-padding-margin {
  margin: 0;
  padding: 0;
}
.mysearch {
  box-sizing: border-box;
  border: 2px solid var(--red);
  border-radius: 0px;
  font-size: 16px;
  background-color: transparent;
  background-image: url('search_icon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 10px 12px 40px;
  box-shadow: var(--shadow) var(--shadow) var(--red);	
}
/* card */
.card {
  transition: 0.3s;
  margin: 10px;
  background-color: var(--bg-card);
  border: 1px solid var(--black);
}
.card-body {
 padding: 2px 16px;
 background-color: var(--bg-card);
}
.card-img img {
 width: 100%;
 height: auto;
 background-color: var(--bg-card);
}
.card-footer {
 padding: 2px 16px;
 background-color: var(--bg-card);
}

.last-modified {
   padding-left: 15px;
}
.content-title {
 margin: 2px;
 margin: 15px 0;
}
.content-date {
 padding: 0;
 margin: 5px 0;
}
.content-excerpt {
 padding: 0;
 margin: 10px 0;
}
.ieShadowBlock {
	position:relative;
	z-index:3;
}
.ieShadowBlockBody {
	position:relative;
	z-index:4;
}
.ieShadow {
	display:block;
	position:absolute;
	z-index:2;
	top:5px;
	left:5px;
	right:-5px;
	bottom:-5px;	
  filter:progid:DXImageTransform.Microsoft.Blur(pixelradius=5);
	-ms-filter:'progid:DXImageTransform.Microsoft.Blur(pixelradius=5)';
	background-color: var(--red);
}

audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
 background-color: var(--red) !important;
}
.vintage {
  padding: 0;
  border: 20px solid transparent;
  border-image: 20 repeating-linear-gradient(-45deg,
   var(--red) 0, var(--red) 1em,
   transparent 0, transparent 2em,
   var(--dark-blue) 0, var(--dark-blue) 3em,
   transparent 0, transparent 4em);  
}
