html{
    --bg: rgba(255,255,255,0.5);
    --color-heading: rgb(27, 168, 14); 
    --color-text: rgba(0,1,0,0.5);
    --bg-navbar: #37474f;
    --bg-card: #263238;
    --section: #546d78;
}
html[data-theme='dark'] {
    --bg: rgba(0,1,0,0.5);
    --color-heading: #0077ff; 
    --color-text: rgba(255,255,255,0.5);
    --bg-navbar: #111;
    --bg-card: #222;
    --section: #424242;
}
body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}   
body {
    height: auto;
    width: auto; 
    min-height: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}    
html, 
body,
.uk-fixed-navigation,
.uk-card,
.uk-card-default,
.uk-card-body,
.uk-navbar,
.uk-nav,
.uk-navbar-dropdown-nav
{ 
    background-color: var(--bg) !important;
    color: var(--color-text) !important;
}
.darkmode {
color: #212121;
background-color: #bdbdbd;
  .uk-card-body, .uk-card, .uk-navbar-container, .uk-navbar-dropdown, .uk-modal-dialog, .uk-description-list {
  color: #f8f8f8;
  background-color: #212121;
  }
  .uk-button-default, .uk-card-title, .goback, .uk-logo{
  color: #f8f8f8;
  }
  .uk-table-striped > tr:nth-of-type(odd), .uk-table-striped tbody tr:nth-of-type(odd) {
  background: #424242 !important;
  }  
}

.uk-navbar-right {
 padding-right: 12px;
}   
.uk-navbar-left {
 padding-left: 12px;
}   
.uk-close {
 margin-right: 12px;
}
.uk-offcanvas-bar, .uk-dropdown, .uk-navbar-dropdown {
    background-color: var(--bg) !important;
    color: var(--color-text) !important;
}
 .uk-offcanvas-bar a, .uk-navbar-dropdown-nav a {
    color: var(--color-text) !important;
 }
[dir="rtl"] .uk-navbar-right {
  margin-left: 0;
  margin-right: auto;
}

.uk-fixed-navigation {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    padding: 0 10px !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 0px solid rgba(0,1,0,0.25); 
}

.uk-card-default,
.uk-card-body
{
    background-color: var(--bg) !important;
    color: var(--color-text) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
    border: 1px solid rgba(255,255,255,0.5); 
}
p, h3, h1, h2, h4, h5, h6, 
.uk.logo, 
.uk-navbar-item, 
.uk-navbar a 
{
 color: var(--color-text) !important;
}
