---
title: Groups and Sects
layout: default
active: fatwas
permalink: /sects/
---

<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="{{ site.url }}"><span itemprop="name">Home</span></a>
    <meta itemprop="position" content="1" />
  </li>
  <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="/fatwas/"><span itemprop="name">Fatwas</span></a>
    <meta itemprop="position" content="2" />
  </li>
  <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
    <span itemprop="name" class="active">{{ page.title }}</span>
    <meta itemprop="position" content="3" />
  </li>
</ol>

<article class="post">

<div class="box">
<h4>Sufism</h4>
<ul class="posts">
  {% for post in site.categories.sufism | limit:5 %}
    {% if post.url %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
    {% else %}
    <p>{{site.data.settings.page.no-fatwas}}</p>
  {% endfor %}
  <p><i class="fas fa-arrow-right"></i> <a href="/sects/sufism/">View all</a></p>
</ul>
</div>

<div class="box">
<h4>Shi'ah and the rafidah</h4>
<ul class="posts">
  {% for post in site.categories.shiah | limit:5 %}
    {% if post.url %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
    {% else %}
    <p>{{site.data.settings.page.no-fatwas}}</p>
  {% endfor %}
  <p><i class="fas fa-arrow-right"></i> <a href="/shiah/">View all</a></p>
</ul>
</div>

<div class="box">
<h4>Khawarij</h4>
<ul class="posts">
  {% for post in site.categories.khawarij | limit:5 %}
    {% if post.url %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
    {% else %}
    <p>{{site.data.settings.page.no-fatwas}}</p>
  {% endfor %}
</ul>
</div>

<div class="box">
<h4>Qadariyyah (Qadaris)</h4>
<ul class="posts">
  {% for post in site.categories.qadaris | limit:5 %}
    {% if post.url %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
    {% else %}
    <p>{{site.data.settings.page.no-fatwas}}</p>
  {% endfor %}
</ul>
</div>

<div class="box">
<h4>Asharism (Asha'riyyah)</h4>
<ul class="posts">
  {% for post in site.categories.asharism | limit:5 %}
    {% if post.url %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
    {% else %}
    <p>{{site.data.settings.page.no-fatwas}}</p>
  {% endfor %}
</ul>
</div>

<div class="box">
<h4>Ba'ath Party</h4>
<ul class="posts">
  {% for post in site.categories.baath | limit:5 %}
    {% if post.url %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
    {% else %}
    <p>{{site.data.settings.page.no-fatwas}}</p>
  {% endfor %}
</ul>
</div>

<div class="box">
<h4>Al-Ikhwan Al-Muslimun (The Muslims Brotherhood)</h4>
<ul class="posts">
  {% for post in site.categories.ikhwanis | limit:5 %}
    {% if post.url %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
    {% else %}
    <p>{{site.data.settings.page.no-fatwas}}</p>
  {% endfor %}
</ul>
</div>

<div class="box">
<h4>Jama'at Al-Ahbash (the Habashis)</h4>
<ul class="posts">
  {% for post in site.categories.habashis | limit:5 %}
    {% if post.url %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
    {% else %}
    <p>{{site.data.settings.page.no-fatwas}}</p>
  {% endfor %}
</ul>
</div>

</article>
