ol.breadcrumb {
  padding: 0px 16px 24px;
  list-style: none;
}
ol.breadcrumb li {
  display: inline;
}
ol.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ol.breadcrumb li a {
  text-decoration: none;
}
ol.breadcrumb li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 620px) {
  table th {
	 font-size: 0.9rem;    
  }
  tr, td {
   display: block;
   padding: 0.4rem! important;
  }
}
