ul.breadcrumb {
  padding: 0px 16px 15px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  text-decoration: underline;
}
