@import url(https://fonts.googleapis.com/earlyaccess/notonaskharabic.css);
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
#footer > div {
			-moz-flex-basis: 50%;
			-webkit-flex-basis: 50%;
			-ms-flex-basis: 50%;
			flex-basis: 50%;
			-moz-flex-grow: 1;
			-webkit-flex-grow: 1;
			-ms-flex-grow: 1;
			flex-grow: 1;
			-moz-flex-shrink: 1;
			-webkit-flex-shrink: 1;
			-ms-flex-shrink: 1;
			flex-shrink: 1;
			padding: 4rem 4rem 2rem 4rem ;
			border-left: solid 2px #e2e2e2;
		}

ol.breadcrumb {
  padding: 0px 16px 24px;
  list-style: none;
}
ol.breadcrumb li {
  display: inline;
}
ol.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ol.breadcrumb li .active {
  font-weight: bold;
}
ol.breadcrumb li a {
  text-decoration: none;
}
ol.breadcrumb li a:hover {
  text-decoration: underline;
}

.mysearch .search_input{
width:100%;
padding:12px 24px;
background-color:transparent;
font-size:14px;
text-align: left;
line-height:18px;
color:#575756;
background-color:transparent;
background-image:url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0Jz48cGF0aCBkPSdNMTUuNSAxNGgtLjc5bC0uMjgtLjI3QzE1LjQxIDEyLjU5IDE2IDExLjExIDE2IDkuNSAxNiA1LjkxIDEzLjA5IDMgOS41IDNTMyA1LjkxIDMgOS41IDUuOTEgMTYgOS41IDE2YzEuNjEgMCAzLjA5LS41OSA0LjIzLTEuNTdsLjI3LjI4di43OWw1IDQuOTlMMjAuNDkgMTlsLTQuOTktNXptLTYgMEM3LjAxIDE0IDUgMTEuOTkgNSA5LjVTNy4wMSA1IDkuNSA1IDE0IDcuMDEgMTQgOS41IDExLjk5IDE0IDkuNSAxNHonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+);
background-repeat:no-repeat;
background-size:18px 18px;
background-position:95% center;
border-radius:50px;
border:1px solid #575756;
backface-visibility:hidden;
transform-style:preserve-3d;
}
.mysearch .search_input::placeholder{
  color:rgba(87,87,86,.8);
}

.accordion {
  width: 100%;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #fff;
}

.accordion:after {
  content: '\f078';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-family: 'Font Awesome\ 5 Free';
}

._active:after {
  content: "\f077";
  font-family: 'Font Awesome\ 5 Free';
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.answer {
  margin-bottom: 18px;
}

.ar {
 direction: rtl! important;
 text-align: right! important;
 font-family: 'Noto Naskh Arabic', serif; 
 font-size: 18px;
}
.ar p {
 direction: rtl! important;
 text-align: right! important;
 font-family: 'Noto Naskh Arabic', serif; 
}
.ar h3 {
 font-family: 'Cairo', sans-serif;
}
.ar h1 {
 font-family: 'Cairo', sans-serif;
}

@media screen and (max-width: 620px) {
  table th {
	 font-size: 0.9rem;    
  }
  tr, td {
   display: block;
   padding: 0.4rem! important;
  }
}
