@charset "UTF-8";
@import url('https://cdn.materialdesignicons.com/1.6.50/css/materialdesignicons.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body, html {
 height: 100%;
 padding: 0;
 margin: 0;
 font-size: 18px;
}
h3 {
    font-size: 34px! important;
}
.sidenav li>a {
    font-size: 18px! important;
}
.top-0 {
 top: 0;
}
.collection, .collection-item, .collection-header {
 background: none! important;
}
.collection.with-header .collection-header {
    background-color: none! important;
}
.collection .collection-item {
    background-color:  none! important;
}
.nav-wrapper {
 height: 80px! important;
 padding: 8px 0;
}
ion-icon {
  font-size: 32px;
}
ion-icon {
  --ionicon-stroke-width: 32px;
}
.menu {
 text-align: center;
 margin: 10px;
}
nav .sidenav-trigger {
    float: none! important;
    z-index: 0! important;
    height: 100px! important;
    line-height: 100px! important;
    margin: 0px! important;
}
.right {
    padding-right: 5px;! important;
}
.search-form {
 border: 2px solid black;
 border-radius: 50px;
}
.mt20 {
 margin-top: 20px;
}
.custom-nav {
 border-top-right-radius: 30px;
 border-bottom-right-radius: 30px;
 height: 100%! important;
}
.bold {
 font-weight: 600;
}
.radius {
  border-radius: 20px;
}
.border-0 {
  border: 0;
}
/* Search Field */
.input-field input[type=search]:focus:not(.browser-default) {
  background-color: transparent! important;
}
.input-field input[type=search] {
    display: block;
    line-height: inherit;
  -webkit-transition-property: none;
-moz-transition-property: none;
-o-transition-property: none;
transition-property: none;
  transition: width 0s;

}
nav .input-field label i {
  color: #000;
}
/* Style Placeholders */
::-webkit-input-placeholder {
  color: #000;
}
::-moz-placeholder {
  color:#000;
}
:-ms-input-placeholder {
  color:#000;
}
::-ms-input-placeholder {
  color: #000
}
::placeholder {
  color: #000;
}
.navbar-fixed nav {
    position: fixed;
    top: 0;
}
.side-nav {
    height: 100% !important;
}
.hide {
  display: none !important;
}
.transparent {
 background-color: none;
 background: none;
 box-shadow: none;
}
.transparent:hover {
 background-color: none;
 background: none;
 box-shadow: none;
 color: inherit;
}
h4, h3, h2 {
 font-weight: 600;
}
#tipue_search_input {
    max-width: 100% !important;
    padding: 0px !important;
    border-radius: 20px !important;
}
#tipue_search_content {
    width: 100% !important;
    max-width: 100% !important;
}
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}
.padding-10 {
  padding: 10px;
}
.padding-left-10 {
  padding-left: 10px;
}
.custom-nav-title {
    display: inline-block;
    font-size: 21px;
    padding: 18px 0;
    text-align: center;
}
.margin-80 {
  margin-top: 80px;
}
.content {
  padding: 16px;
}

.side-nav {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #442C2E;
}
.radius-page-content {
 border-top-left-radius: 20px;
 border-top-right-radius: 20px;
}
.modal.bottom-sheet {
    max-height: 80% !important;
    border-radius: 0;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    will-change: bottom, opacity;
}
.container {
    margin: 0 auto;
    max-width: 100% important;
    width: 90%;
}

.playr {
  width: 100%;
  background-color: #3e2723;
  padding: 10px;
  color: #efebe9;
}

.playr-ui {
  display: flex;
  align-items: stretch;
}

.playr-controls {
  width: 10%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playr-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 0 15px;
  position: relative;
}

.playr-ui.volume-controls .playr-panel {
  width: 70%;
}

.playr-controls button {
  color: #efebe9;
  background-color: transparent;
  border: medium none;
  padding: 0;
  cursor: pointer;
  font-size: 28px;
  line-height: 1;
}

.playr-controls button:hover {
  color: #fff;
}

.playr-controls button::after {
  font-family: "Material Design Icons";
  display: flex;
  align-items: center;
  justify-content: center;
}

.playr-play::after {
  content: "";
}

.playr.playing .playr-play::after {
  content: "";
}

.playr-fastforward::after {
  content: "";
}

.playr-rewind::after {
  content: "";
}

.playr-rewind::after,
.playr-fastforward::after {
  font-size: 21px;
}

.playr-progress {
  background-color: #efebe9;
  height: 4px;
  bottom: 2px;
  left: 15px;
  position: absolute;
  width: calc(100% - 30px);
  cursor: pointer;
}

.playr-progress-bar {
  background-color: #795548;
  height: 100%;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 0 0;
  width: 100%;
}

.playr-duration,
.playr-filename {
  font-size: 12px;
  position: absolute;
  top: 0;
  width: 50%;
  font-weight: 600;
}

.playr-filename {
  left: 15px;
  text-align: left;
  left: 15px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playr-duration {
  right: 15px;
  text-align: right;
}

.playr-volume {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playr-volume-box.hidden {
  background-color: #38354a;
  bottom: 0;
  height: 100px;
  position: absolute;
  width: 35px;
  display: none;
}

.playr-volume-box {
  background-color: #efebe9;
  height: 4px;
  width: 100%;
  cursor: pointer;
}

.playr-volume-box span {
  display: block;
  background-color: #795548;
  height: 100%;
  width: 100%;
  transform: scale3d(1, 1, 1);
  transform-origin: 0 0 0;
}

/* compact */
.playr.compact .playr-rewind,
.playr.compact .playr-fastforward {
  display: none;
}

.playr-filename.overflow span {
  animation: 5000ms linear 0ms normal forwards infinite running scroll;
  display: inline-block;
  margin-right: 0;
  padding-right: 100%;
  transform: translate3d(0px, 0px, 0px);
}

@keyframes scroll {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(-100%, 0px, 0px);
  }
}

nav {
    background-color: transparent! important;
    width: 100%;
    height: 120px;
    line-height: 100px;
         -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: block;
    font-size: 32px! important;
    height: 100px! important;
    line-height: 100px! important;
}
@media only screen and (max-width: 320px) {
nav {
    width: 100%;
}
.brand-logo {
    font-size: 120% !important;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: block;
    font-size: 24px! important;
    height: 100px! important;
    line-height: 100px! important;
    padding: 0 5px 0 5px;
}
.container, .content {
   width: 100%! important;
}
}

