---
title: Hijrah (a believer's migration to an Islamic land)
layout: category
permalink: /jihad/hijrah/
---

<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="{{ site.url }}"><span itemprop="name">Home</span></a>
    <meta itemprop="position" content="1" />
  </li>
  <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="/fatwas/"><span itemprop="name">Fatwas</span></a>
    <meta itemprop="position" content="2" />
  </li>
  <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="/jihad/"><span itemprop="name">Jihad</span></a>
    <meta itemprop="position" content="3" />
  </li>
  <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
    <span itemprop="name" class="active">{{ page.title }}</span>
    <meta itemprop="position" content="4" />
  </li>
</ol>

<article>
<div class="table-wrapper" itemscope itemtype="https://schema.org/Table">
  <table>
    <tbody>
      {% for post in site.categories.hijrah %}
      <tr>
        <td>{{ post.hijri }}</td>
        <td>
          {% if post.url %}<a title="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a>{% endif %}
        </td>
      </tr>
      {% else %}
       {{site.data.settings.page.no-fatwas}}
      {% endfor %}
    </tbody>
  </table>
</div>
  <hr/><p>last updated at: {{ site.time }}</p>
</article>
