---
layout: article
title: Articles
active: muqolat
permalink: /muqolatt/
---

<article class="post">
 <header class="major">
<p>
 All goodness and happiness here and in the Hereafter lie in following in the footsteps of the Prophet (peace be upon him) and his Sahabah (may Allah be pleased with them). Indeed, they are the saved and victorious group. Allah (Glorified and Exalted be He) says, "<b>And the foremost to embrace Islâm of the Muhâjirûn (those who migrated from Makkah to Al-Madinah) and the Ansâr (the citizens of Al-Madinah who helped and gave aid to the Muhâjirûn ) and also those who followed them exactly (in Faith). Allâh is well-pleased with them as they are well-pleased with Him. He has prepared for them Gardens under which rivers flow (Paradise), to dwell therein forever. That is the supreme success.</b>" [Qur'an, al-Tawbah: 100]
  </p>
 </header>
<ul class="posts" style="list-style: none;">
  {% for post in site.categories.basic %}
    {% if post.url %}
    <li>
      <i class="fas fa-feather-alt"></i> <span><b><a href="{{ post.url }}">{{ post.title }}</a></span></b>
      <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
    </li>
    {% endif %}
  {% endfor %}
</ul>
</article>
