---
layout: page
title: Articles
active: muqolat
permalink: /muqolat/
---

---
layout: default
---

<article class="post">
{% if page.paginator %}
{% assign paginator = page.paginator %}
{% endif %}
   {% for post in paginator.posts %}
	<h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p>
          {{ post.content | strip_html | truncatewords: 30 }}
        </p>
   {% endfor %} 
</article>
<footer>
  <div class="pagination">
<ul class="actions pagination align-center">
 {% if paginator.previous_page %}
	<li>
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="button big previous">{{site.data.settings.pagination.prev}}</a>
	</li>
 {% else %}
	<li>
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="disabled button big previous">{{site.data.settings.pagination.prev}}</a>
	</li>
 {% endif %}
 {% if paginator.next_page %}
	<li>
		<a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="button big next">{{site.data.settings.pagination.next}}</a>
	</li>
 {% else %}
	<li>
		<a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="disabled button big next">{{site.data.settings.pagination.next}}</a>
	</li>
 {% endif %}
</ul>  
  </div>
</footer>