---
title: Fatwas
layout: main
active: fatwas
uid: fatwas
locale: en
---


<table class="uk-table uk-table-striped">	
 <tbody>     
  {% for post in paginator.posts %}	
  <tr>
   <td>
    <a class="uk-margin-remove-bottom" title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">
     {{ post.title }}
    <p class="uk-text-meta uk-margin-remove-top">{{ post.hijri }}</p>
    </a>
   </td>    
  </tr>      
  {% endfor %}	
 </tbody>	
</table>
<hr/>
<ul class="uk-pagination">
  {% if paginator.previous_page %}
   <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><span class="uk-margin-small-right" uk-pagination-previous></span> Previous</a></li>
  {% else %}
   <li class="uk-disabled"><a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><span class="uk-margin-small-right" uk-pagination-previous></span> Previous</a></li>
  {% endif %}
  
  {% if paginator.next_page %}
   <li class="uk-margin-auto-left"><a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next <span class="uk-margin-small-left" uk-pagination-next></span></a></li>
   {% else %}
   <li class="uk-margin-auto-left uk-disabled"><a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next <span class="uk-margin-small-left" uk-pagination-next></span></a></li>
  {% endif %}
</ul>
