---
title: Fatwas
layout: Page
active: fatwas
uid: fatwas
locale: en
---

<ul 
 class="no-bullets"
 itemscope itemtype="https://schema.org/ItemList">
 {% for post in paginator.posts %}
   <li itemprop="itemListElement">
    <a 
     itemprop="url" 
     href="{{ post.url }}"
     class="fatwas-title">          
      <h3 class="content-title">
       <span itemscope itemprop="name">
       {{ post.title }}
      </span>
      </h3>
    </a>
    <date class="content-date">
     <meta itemprop="datePublished" content="{{ post.date }}">
     {{ post.hijri }}
    </date>
     <p class="content-excerpt" itemscope itemtype="https://schema.org/ItemList">
       <span itemscope itemprop="description">{{ post.excerpt }}</span>
     </p>
    <meta itemprop="position" content="{{ forloop.index }}" />
   </li>
  {% endfor %}
</ul>
{% include Pagination.html %}
