---
layout: default
uid: home
permalink: /ar/fatwas/
locale: ar
active: fatwas
---

<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="{{ site.url }}"><span itemprop="name">Home</span></a>
    <meta itemprop="position" content="1" />
  </li>
  <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
    <span itemprop="name" class="active">{{ page.title }}</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>

<article class="post">
{% assign posts = site.posts | where: "locale", page.locale %}
{% for post in posts %}
{% assign post_url = post.url | relative_url %}
 <article itemscope itemtype="http://schema.org/Article">
  <header class="post-header">
   <a itemprop="url" href="{{ post.url | prepend: site.baseurl }}"><h3><span itemprop="headline name">{{ post.title }}</span></h3></a>
    <p class="post-meta">
     <meta itemprop="image" content="./assets/images/img.png" />
     <meta content='{{ post_date | date_to_xmlschema }}' itemprop='dateModified'/>
     <b><meta itemprop="datePublished" content="{{ post.date | date_to_xmlschema }}">{{ post.hijri }}</b>
    </p>
  </header>
  <p itemprop="articleBody">
   {{ post.content | strip_html | truncatewords: 30 }}
  </p>
 </article>
{% endfor %}
</article>
<footer>
  <div class="pagination">
   {% include pagination.liquid %}
 {% comment %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-button pagination-active next"
    href="{{ paginator.next_page_path | absolute_url }}">{{ site.data.locales[page.locale].page.prev }}</a>
  {% else %}
  <span class="pagination-button">{{ site.data.locales[page.locale].page.prev }}</span>
  {% endif %}

  {% if paginator.previous_page %}
  <a class="pagination-button pagination-active"
    href="{{ paginator.previous_page_path | absolute_url }}">{{ site.data.locales[page.locale].page.next }}</a>
  {% else %}
  <span class="pagination-button">{{ site.data.locales[page.locale].page.next }}</span>
  {% endif %}
 </div>
{% endcomment %}
  </div>
</footer>
