---
layout: default
---

{% assign posts = site.posts | where: "locale", page.locale %}
{% for post in posts %}
{% assign post_url = post.url | relative_url %}
<div class="posts">
  <h3>
    <a href="{{ post_url }}">{{ post.title }}</a>
  </h3>
    {{ post.content | strip_html | truncate: 100 }} <br>
    <a href="{{ post_url }}">
      {{ site.data.locales[page.locale].page.more }}
    </a>
    <span class="post-date">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      {{ post.date | date_to_string: "ordinal" }}
    </span>
  </p>
<div class="line"></div>
</div>
{% endfor %}

{% comment %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-button pagination-active next"
    href="{{ paginator.next_page_path | absolute_url }}">{{ site.data.locales[page.locale].page.prev }}</a>
  {% else %}
  <span class="pagination-button">{{ site.data.locales[page.locale].page.prev }}</span>
  {% endif %}

  {% if paginator.previous_page %}
  <a class="pagination-button pagination-active"
    href="{{ paginator.previous_page_path | absolute_url }}">{{ site.data.locales[page.locale].page.next }}</a>
  {% else %}
  <span class="pagination-button">{{ site.data.locales[page.locale].page.next }}</span>
  {% endif %}
{% endcomment %}
</div>
