<!DOCTYPE html>
<html class="grey lighten-5">
 {% include head.html %}
<body onload="setModifiedDate(); setAccessedDate();" class="is-preload {{ page.locale }}" class="grey lighten-5">
 {% include sidenav.html %}
 <div class="container grey lighten-5">
     <nav class="z-depth-0 transparent">
    <div class="nav-wrapper">
      <ul class="left">
        <li><a href="#" class="sidenav-trigger show-on-medium-and-up show-on-medium  show-on-small show-on-large show-on-medium-and-up show-on-medium-and-down" data-target="slide-out"><i class="material-icons black-text">more_vert</i></a></li>
      </ul>
      <a href="#" class="brand-logo center black-text bold">Salafiyyah</a>
      <ul class="right show-on-medium-and-up show-on-medium  show-on-small show-on-large show-on-medium-and-up show-on-medium-and-down">
        <li><a class="modal-trigger show-on-medium-and-up show-on-medium  show-on-small show-on-large show-on-medium-and-up show-on-medium-and-down" href="#modal1"><i class="material-icons black-text">search</i></a></li>
      </ul>
    </div>
  </nav>
  <h3>{{ page.title }}</h3>
  {% include player.html %}
  <div class="content white">
   {{ content }}
   {% include note.html %}

   {% if page.muftis %}
    <div class="card-panel grey lighten-3">
    <ul class="collection border-0">
    {% if page.muftis.shaykh %}
      {% for shaykh in page.muftis.shaykh %}
      <li class="collection-item">
       <i data-feather="mic"></i> <a href="{{ shaykh.url | relative_url }}" title="{{ shaykh.name }}"><b>{{ shaykh.name }}</b></a>
      </li>
      {% endfor %}
     {% endif %}
     </ul>
     </div>
   {% endif %}

  </div>
 </div>
 {% include search-form.html %}
 {% include scripts.html %}
 </body>
</html>
