---
layout: default
---

<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="{{ site.url }}"><span itemprop="name">Home</span></a>
    <meta itemprop="position" content="1" />
  </li>
 <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="{{ site.url }}/audios"><span itemprop="name">Audios</span></a>
    <meta itemprop="position" content="1" />
  </li>
  <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
    <span itemprop="name" class="active">{{ page.title }}</span>
    <meta itemprop="position" content="3" />
  </li>
</ol>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
 
<header class="major">
  <h3 itemprop="name headline">{{ page.title }}</h3>
</header>

  <div itemprop="articleBody">
  {% include player.liquid %}
  <br/>
  {{ content }}
  {% include note.html %}
  </div>
 
<hr/>
<footer>
  <div class="row">
    <div class="col-6 col-12-small">
      <dl>
        {% if page.muftis %}
        {% if page.muftis.shaykh %}
        {% for shaykh in page.muftis.shaykh %}
        <dd>
          <a href="{{ shaykh.url | relative_url }}" title="{{ shaykh.name }}">
            {{ shaykh.name }}
          </a>
        </dd>
        {% endfor %}
        {% else %}
        {% endif %}
        {% endif %}
      </dl>
    </div>
    <div class="col-6 col-12-small">
      <dl>
        <dd>
          <span class="date">
            {% include date.liquid %}
          </span>
        </dd>
        <dd>
          <a href="mailto:alsalafiyah@icloud.com?subject=Report&body={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}">
          <i class="fas fa-bug"></i> Report a mistake
          </a>
        </dd>
        <dd>{% if page.date %}<meta content='{{ site.time }}' itemprop='dateModified'/><span id='last-modified' itemprop='dateModified'></span>{% endif %}</dd>
        {% include share.html %}
      </dl>
    </div>
  </div>
</footer>
</article>
