<!DOCTYPE html>
<html class="grey lighten-5">
 {% include head.html %}
<body onload="setModifiedDate(); setAccessedDate();" class="is-preload {{ page.locale }}" class="grey lighten-5">
 {% include sidenav.html %}
 
 <div class="navbar-fixed">
  <nav class="nav-extended grey lighten-5 black-text z-depth-0 top-0">
    <div class="nav-wrapper">
      <ul class="left show-on-med-and-down">
        <li><a class="black-text" href="/audios"><i class="material-icons">keyboard_backspace</i></a></li>
      </ul>
      <ul class="right show-on-med-and-down">
        <li><a class="black-text" href="{{ absolute_url }}"><i class="material-icons">refresh</i></a></li>
        <li><a class="black-text" href="{{ site.url }}"><i class="material-icons ">home</i></a></li>
        <li><a class="black-text button-collapse" data-activates="slide-out" class="waves-effect" href="#!"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>
 </div>
 <nav class="nav-extended grey lighten-5 black-text z-depth-0 top-0">
  <div class="nav-content grey lighten-5 padding-10 center">
     <h4>{{ page.title }}</h4>
  </div>
 </nav>
 
 <div class="container grey lighten-5">
 
  {% include player.html %}
  <div class="content">
   {{ content }}
   {% include note.html %}
  </div>
 </div>
 {% include scripts.html %}
 </body>
</html>
