---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.locale }}" itemscope itemtype="http://schema.org/WebPage">
<head>
{% include metadata.html %}
</head>
<body onload="setModifiedDate(); setAccessedDate();" class="is-preload {{ page.locale }}">
<div itemprop="isPartOf" itemscope itemtype="http://schema.org/WebSite"><!-- .container -->
{% include Header.html %}
<main role="main"><!-- main -->
 <div class="container"><!-- .container -->
  <section><!-- section -->
   {{ content }}
  </section><!-- /sectiom -->
 </div><!-- /.container -->
</main><!-- /main -->
<div class="spacer"></div>
{% include Footer.html %}
</div>
{% include Javascripts.html %}
</body>
</html>
