---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.locale }}" itemscope itemtype="http://schema.org/WebPage">
<head>
{% include metadata.html %}
</head>
<body onload="setModifiedDate(); setAccessedDate();" class="is-preload {{ page.locale }}">
<div itemprop="isPartOf" itemscope itemtype="http://schema.org/WebSite"><!-- .container -->
<header role="banner" itemprop="hasPart" itemscope itemtype="http://schema.org/WPHeader"><!-- header -->
<div class="row flex">
   <div class="column">
    <a class"logo" href="{{ site.url }}">
     <h1>{{ site.title }}</h1>
    </a>
   </div>
   <div class="column">
<div itemscope itemtype="https://schema.org/WebSite">
  <meta itemprop="url" content="https://alsalafiyyah.github.io/search"/>
  <form itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction">
    <meta itemprop="target" content="https://alsalafiyyah.github.io/search?q={search_term_string}"/>
    <input class="mysearch responsive" itemprop="query-input" type="search" placeholder="Search" name="search_term_string" required/>
  </form>
</div>
   </div>
 </div>    
<div class="scrollmenu">
 <nav role="navigation" itemprop="hasPart" itemscope itemtype="http://schema.org/SiteNavigationElement">
  {% for item in site.data.locales[page.locale].menu %}
   <a itemprop="url" href="#!"><span itemprop="name">{{ item.name }}</span></a>
  {% endfor %}
 </nav>
</div>
</header><!-- /header --> 
  
<main role="main"><!-- main -->
 <div class="container"><!-- .container -->
  <section><!-- section -->
   {{ content }}
  </section><!-- /sectiom -->
 </div><!-- /.container -->
</main><!-- /main -->

<div class="spacer"></div>

  <div class="footer-container">
    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
        <a itemprop="item" href="{{ site.url }}">
        <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1" />
      </li>
      <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
        <a itemprop="item" href="{{ page.url }}">
        <span itemprop="name">{{ page.title }}</span></a>
        <meta itemprop="position" content="2" />
      </li>
   </ol>  
 </div>

<footer class="footer" role="contentinfo" itemprop="hasPart" itemscope itemtype="http://schema.org/WPFooter"><!-- footer -->
 <div class="footer-container">
   <p class="copyright">&copy; <span itemprop="copyrightYear">{{ 'now' | date: "%Y" }}</span> <span itemprop="copyrightHolder" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ site.title }}</span></span></p>  
 </div> 
</footer><!-- /footer -->

</div>

<!-- javacripts -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://unpkg.com/vanilla-datatables@latest/dist/vanilla-dataTables.min.js"></script>  
<script type="text/javascript" language="javascript">
var table = new DataTable("table");
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174935062-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-174935062-1');
</script>
<script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
  <script>
    function setAccessedDate() {
      if (document.getElementById('accessed-on')) {
        var now = new Date();
        var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
        var formattedDate = now.getDate().padStart(2,'0')+" "+months[now.getMonth()]+" "+now.getFullYear();
        document.getElementById('accessed-on').textContent = " (accessed " + formattedDate + ")";
      }
    }
    function setModifiedDate() {
      if (document.getElementById('last-modified')) {
        fetch("https://api.github.com/repos/alsalafiyyah/alsalafiyyah.github.io/commits?path={{ page.path }}")
          .then((response) => {
            return response.json();
          })
          .then((commits) => {
            var modified = commits[0]['commit']['committer']['date'].slice(0,10);
            if(modified != "{{ page.date | date: "%Y-%m-%d" }}") {
              document.getElementById('last-modified').textContent = "Last modified: " + modified + " by Dr. Rashid";
            }
          });
      }
    }
  </script>
</body>
</html>
