---
layout: page
---

{% for c in site.muqolat %}
{% if c.title == page.title %}
  {% assign thisPost = c %}
  {% if forloop.index == 1 %}
    {% assign prevflag = 0 %}
    {% assign nextflag = 1 %}
  {% elsif forloop.index == forloop.length %}
    {% assign prevflag = 1 %}
    {% assign nextflag = 0 %}
  {% else %}
    {% assign prevflag = 1 %}
    {% assign nextflag = 1 %}
  {% endif %}  
{% endif %}
{% endfor %}

{% for c in site.muqolat %}
  {% if c.title == page.title %}
    {% assign prevflag = 0 %}
  {% endif %}
  {% if prevflag == 1 %}
    {% assign prevPost = c %}
    {% assign page.previous = c %}
  {% endif %}
{% endfor %}

{% if nextflag == 1 %}
  {% for c in site.muqolat %}
    {% if foundPost == 1 %}
      {% assign getNext = 1 %}
    {% endif %}
    {% if c.title == page.title %}
      {% assign foundPost = 1 %}        
    {% endif %}
    {% if getNext == 1%}
      {% assign nextPost = c %}
      {% assign page.next = c %}
      {% assign foundPost = 0 %}
      {% assign getNext = 0 %}
    {% endif %}
  {% endfor %}

<p>Posted on this site: <b>{% include date.html %}</b></p>
<p>
    {% if page.muftis %}
    Written by 
    {% if page.muftis.shaykh %}
     {% for shaykh in page.muftis.shaykh %}
      <a href="{{ shaykh.url | relative_url }}" title="{{ shaykh.name }}"><b>{{ shaykh.name "}}</b></a>
     {% endfor %}
    {% else %}
    {% endif %}
    {% endif %}
    {% if page.source %}
     in <b>{{ page.source }}</b>{% else %}<b>{{ site.source.name }}</b></a>
    {% endif %}
    {% endif %}
</p>
<div class="divider"></div>

  {{ content }}
  

  <ul class="pagination hide">
    {% if prevPost.url %}
     <li class="waves-effect">
       <a href="{{prevPost.url}}">
        <i class="material-icons">chevron_leftt</i> {{prevPost.title}}
       </a>
    </li>
    {% endif %}
    {% if nextPost.url %} 
    <li class="waves-effect">
      <a href="{{nextPost.url}}">
        {{nextPost.title}} <i class="material-icons">chevron_right</i>
      </a>
    </li>
    {% endif %}
  </ul>
