---
layout: default
---

{% for c in site.muqolat %}
{% if c.title == page.title %}
  {% assign thisPost = c %}
  {% if forloop.index == 1 %}
    {% assign prevflag = 0 %}
    {% assign nextflag = 1 %}
  {% elsif forloop.index == forloop.length %}
    {% assign prevflag = 1 %}
    {% assign nextflag = 0 %}
  {% else %}
    {% assign prevflag = 1 %}
    {% assign nextflag = 1 %}
  {% endif %}  
{% endif %}
{% endfor %}

{% for c in site.muqolat %}
  {% if c.title == page.title %}
    {% assign prevflag = 0 %}
  {% endif %}
  {% if prevflag == 1 %}
    {% assign prevPost = c %}
    {% assign page.previous = c %}
  {% endif %}
{% endfor %}

{% if nextflag == 1 %}
  {% for c in site.muqolat %}
    {% if foundPost == 1 %}
      {% assign getNext = 1 %}
    {% endif %}
    {% if c.title == page.title %}
      {% assign foundPost = 1 %}        
    {% endif %}
    {% if getNext == 1%}
      {% assign nextPost = c %}
      {% assign page.next = c %}
      {% assign foundPost = 0 %}
      {% assign getNext = 0 %}
    {% endif %}
  {% endfor %}
{% endif %}

<article class="post">
  
<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="{{ site.url }}"><span itemprop="name">Home</span></a>
    <meta itemprop="position" content="1" />
  </li>
  <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="/muqolat/"><span itemprop="name">Muqolat</span></a>
    <meta itemprop="position" content="2" />
  </li>
  <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
    <span itemprop="name">{{ page.title }}</span>
    <meta itemprop="position" content="3" />
  </li>
</ol>
  
<header class="major">
  <h3 class="post-title">{{ page.title }}</h3>
</header>
  {{ content }}
  
  <p>Posted on this site at <b>{% include date.liquid %}</b>
  <br/>Written by {% if page.muftis %}{% if page.muftis.shaykh %}{% for shaykh in page.muftis.shaykh %}<a href="{{ shaykh.url | relative_url }}" title="{{ shaykh.name }}">
    {{ shaykh.name }}</a>{% endfor %}{% endif %}{% endif %}
  </p>
  
</article>

<div id="post-nav" class="clearfix nav-slide">
    <div class="work">    
        {% if prevPost.url %}
        <a class="prev" href="{{prevPost.url}}">
            <span class="slide-wrap"><i class="fas fa-arrow-left"></i> {{prevPost.title}}</span>
        </a> 
        {% endif %} 
        <br/>
        {% if nextPost.url %} 
        <a class="next" href="{{nextPost.url}}">
            <span class="slide-wrap">{{nextPost.title}} <i class="fas fa-arrow-right"></i></span>
        </a> 
        {% endif %} 
    </div>
</div>
