---
layout: default
active: category
---
<section class="container-lg">
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
   <li class="breadcrumb-item" itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
        <a class="link-opacity-50-hover" itemprop="item" href="{% if page.locale == 'en' %}{{ site.data.locales[page.locale].site.url }}{% elsif page.locale == 'ar' %}{{ site.data.locales[page.locale].site.url }}{% else %}{{ site.url }}{% endif %}">
            <span itemprop="name">{% if page.locale == 'en' %}{{ site.data.locales[page.locale].page.home }}{% elsif page.locale == 'ar' %}{{ site.data.locales[page.locale].page.home }}{% else %}Home{% endif %}</span></a>
        <meta itemprop="position" content="1" />
   </li>   
   <li class="breadcrumb-item" itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
        <a class="link-opacity-50-hover" itemprop="item" href="/category">
            <span itemprop="name">{% if page.locale == 'en' %}{{ site.data.locales[page.locale].page.categories }}{% elsif page.locale == 'ar' %}{{ site.data.locales[page.locale].page.categories }}{% else %}Categories{% endif %}</span></a>
        <meta itemprop="position" content="2" />
   </li>   
   <li class="breadcrumb-item" itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
        <span itemprop="name">{{ page.title }}</span>
        <meta itemprop="position" content="3" />
   </li>
  </ol>
</nav> 
<h2>
 Category: <mark>{{ page.title }}</mark>
</h2>
{{ content }}
</section>
