---
layout: category
title: Categories
active: category
---
<div id="fatwa-container" class="mt-3"></div>
<script id="fatwa-data" type="application/json">
[
  {% for post in site.categories[page.category] %}
    {
      "title": {{ post.title | jsonify }},
      "url": {{ post.url | jsonify }},
      "date": {{ post.date | date: "%Y-%m-%d" | jsonify }},
      "hijri": {{ post.hijri | jsonify }},
      "excerpt": {{ post.content | strip_html | truncatewords: 20 | jsonify }}
    }{% unless forloop.last %},{% endunless %}
  {% endfor %}
]
</script>
