---
layout: default
---

<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="{{ site.url }}"><span itemprop="name">Home</span></a>
    <meta itemprop="position" content="1" />
  </li>
  <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="{{ site.url }}/topic/"><span itemprop="name">Brwose by topic</span></a>
    <meta itemprop="position" content="2" />
  </li>
  <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
    <span itemprop="name" class="active">{{ page.category }}</span>
    <meta itemprop="position" content="3" />
  </li>
</ol>

{{category.size}}
<article>
  <h3>Fatwa in topic : {{ page.category }} 
    {% unless category == 'index' %}{{ page.categories[category].size }}{% endunless %}
  </h3>
  <ol>
    {% for p in site.categories[page.category] %}
      <li>
        <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
      </li>
    {% endfor %}
  </ol>
</article>
