---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.locale }}" itemscope itemtype="http://schema.org/WebPage" itemid="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
{% include head.html %}
<body onload="setModifiedDate(); setAccessedDate();" class="is-preload {{ page.locale }}">
 <div id="wrapper" class="fade-in">
  <header id="header">
   <a href="{{ site.url }}" class="logo">
    <img width="150" src="https://github.com/alsalafiyyah/alsalafiyyah.github.io/raw/master/assets/images/logo.png" al"{{ site.title }}"/>
   </a>
 </header>
 {% include nav.liquid %}
 <div id="main">
   {{ content }}
 </div>
<!-- Footer -->
<footer id="footer">
<div>
  {% include search-form.liquid %}							
</div>
</footer>
<!-- Copyright -->
<div id="copyright">
   <ul>
    <li>
     <p style="text-align:center! important;color: #18bfef! important; letter-spacing: 2px! important;">حقوق النشر لكل مسلم </p>
     This site maintained by <a style="color: #18bfef! important;" rel="nofollow noopener" href="https://instagram.com/Alsalafiyyah" target="_blank">Instagram@Alsalafiyyah</a>
    </li>
   </ul>
</div>
  </div>
 {% include scripts.html %}
 </body>
</html>
