---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.locale }}" itemscope itemtype="http://schema.org/WebPage" itemid="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
{% include head.html %}
<body onload="setModifiedDate(); setAccessedDate();" class="is-preload {{ page.locale }}">
 <div id="wrapper" class="fade-in">
  <header id="header">
   <a href="{{ site.url }}" class="logo">
    {{ site.title }}
   </a>
 </header>
 {% include nav.liquid %}
 <div id="main">
   {{ content }}
 </div>
<!-- Footer -->
<footer id="footer">
<div>
  {% include search-form.liquid %}							
</div>
</footer>
<!-- Copyright -->
<div id="copyright">
   <img class="logo" width="100" src="{{ '/assets/images/logo_.png' | absolute_url }}" al"{{ site.title }}"/>
   <ul>
    <li>
     <p style="text-align:center! important;color: #18bfef! important; letter-spacing: 1px! important;">حقوق النشر لكل مسلم </p>
     This site maintained by <a style="color: #18bfef! important;" rel="nofollow noopener" href="https://instagram.com/Alsalafiyyah" target="_blank">Instagram@Alsalafiyyah</a>
    <p style="text-align:center! important;"><small>Get instant access to search and more by adding this site to your home screen in your mobile device. Launch this website on Chrome for Android, or Safari for iOS device, select the “Add to Home screen” option, then tap “Add“.</small></p>
    </li>
   </ul>
</div>
  </div>
 {% include scripts.html %}
 </body>
</html>
