<!DOCTYPE html>
<html>
{% include head.html %}
<body  onload="setModifiedDate(); setAccessedDate();" class="is-preload {{ page.locale }}" class="transparent grey lighten-5">
 <div id="wrapper" class="fade-in">
  <header id="header">
   <a href="{{ site.url }}" class="logo">
    {{ site.title }}
   </a>
 </header>
 {% include sidenav.html %}
 <div id="main">
   {{ content }}
 </div>
<!-- Footer -->
<footer id="footer">
<div>
  {% include search-form.html %}							
</div>
</footer>
  </div>
 {% include scripts.html %}
 </body>
</html>
