---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.locale }}" vocab="https://schema.org/" typeof="WebPage">
<head>
{% include metadata.html %}
</head>
<body onload="setModifiedDate(); setAccessedDate();" class="is-preload {{ page.locale }}">
<div vocab="https://schema.org/" typeof="WebSite"><!-- .container -->

<header role="banner" vocab="http://schema.org" itemtype="WPHeader"><!-- header -->
<div class="row flex">
 <div class="column">
   <a itemprop="url" class"logo" href="{{ site.data.locales[page.locale].site.url }}">
     <h1 itemprop="name">{{ site.data.locales[page.locale].site.title }}</h1>
   </a>
  </div>
  <div class="column">
   <div itemscope itemtype="http://schema.org/WebSite">
   <meta itemprop="url" content="https://alsalafiyyah.github.io"/>
   <form itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction" action="{{ site.data.locales[page.locale].site.url_search }}">
   <meta itemprop="target" content="https://alsalafiyyah.github.io/search?q={q}"/>
    <div itemprop="query-input" itemscope itemtype="http://schema.org/PropertyValueSpecification">
     <meta itemprop="valueName" content="q"/>
     <input class="mysearch responsive" name="q" id="tipue_search_input" itemprop="query" type="search" placeholder="{{ site.data.locales[page.locale].page.search }}" pattern=".{3,}" title="At least 3 characters" required/>
    </div>
   </form>
  </div>
 </div>
</div> 
<div class="scrollmenu">
 <nav role="navigation" vocab="http://schema.org" itemtype="SiteNavigationElement">
  {% for item in site.data.locales[page.locale].nav %}
   <a property="url" href="{{ item.url }}"><span property="name">{{ item.name }}</span></a>
  {% endfor %}
 </nav>
</div>
</header><!-- /header -->

<main role="main"><!-- main -->
 <div class="container"><!-- .container -->
  <section><!-- section -->
   {{ content }}
  </section><!-- /section -->
 </div><!-- /.container -->
</main><!-- /main -->
</div>
<div class="spacer"></div>
<div class="last-modified">
 <p property="dateModified"><small><span id='last-modified'></span></small></p>
</div>
{% include Footer.html %}
{% include Javascripts.html %}
</body>
</html>
