---
layout: null
robots: noindex
---
[
{% for post in site.posts %}
  {
    "no": {{forloop.index}},
    "title": {{ post.title | jsonify }},
    "url": {{ post.url | jsonify }},
    "url": {{ post.url | prepend: site.baseurl | prepend: site.url | jsonify }},
    "date": {{ post.date | date_to_xmlschema | jsonify }},
    "hijri": {{ post.hijri | jsonify }},
    "lang": "{{ post.lang | jsonify }}",
    "uid": "{{ post.uid | jsonify }}",
    "locale": "{{ post.locale | jsonify }}",
    "layout": "{{ post.layout | jsonify }}",
    "source": "{{ post.source | jsonify }}",
    "author": "{{ post.publisher | jsonify }}",
    "categories": "{{ post.categories | jsonify }}",
    "category": "{{ post.category | jsonify }}",
    "tags": "{{ post.tag | jsonify }}",
    "summary": {{ post.summary | strip_html | strip_newlines | jsonify }}
  }{% if forloop.last == false %},{% endif %}
{% endfor %}
]

