{% capture head_content %}
  {% include head.html %}
{% endcapture %}
{% capture footer_content %}
  {% include footer.html %}
{% endcapture %}
<!DOCTYPE html>
<html lang="{{ site.site_elements.lang }}" dir="{{ site.site_elements.dir }}">
<head>
{{ head_content }}
<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body dir="{{ site.site_elements.dir }}" itemscope itemtype="https://schema.org/WebPage" class="bg-white dark:bg-zinc-950 dark:text-zinc-100 text-black antialiased selection:bg-black selection:text-white dark:selection:bg-white dark:selection:text-black transition-colors duration-300 is-preload" onload="setModifiedDate(); setAccessedDate();">
{% include navbar.html %}
<main role="main" class="max-w-7xl mx-auto px-8">
    {% unless page.url == "/" or page.url == "/ar" %}
    <header class="py-12 border-b-4 border-black dark:border-white">
            <div class="max-w-7xl">
                <h1 itemprop="headline" class="text-3xl md:text-[3vw] leading-[0.9] font-black uppercase tracking-tighter serif mt-8">
                    Salam, <span id="user-name" class="text-indigo-600">User</span>
                </h1>
            </div>
    </header>
    {% endunless %}
    <section class="py-24">
        <article class="w-full max-w-none">
            {{ content }}
        </article>
    </section>
</main>
{{ footer_content }}
{% include scripts.html %} 
  <script>
    const loginBtn = document.getElementById('login-btn');
    const logoutBtn = document.getElementById('logout-btn');
    const loggedOutView = document.getElementById('logged-out-view');
    const loggedInView = document.getElementById('logged-in-view');
    const userName = document.getElementById('user-name');

    loginBtn.addEventListener('click', () => netlifyIdentity.open('login'));

    logoutBtn.addEventListener('click', () => netlifyIdentity.logout());

    netlifyIdentity.on('init', (user) => {
      updateUI(user);
    });

    netlifyIdentity.on('login', (user) => {
      updateUI(user);
      netlifyIdentity.close(); // Close the modal
    });

    netlifyIdentity.on('logout', () => {
      updateUI(null);
    });

    function updateUI(user) {
      if (user) {
        loggedOutView.classList.add('hidden');
        loggedInView.classList.remove('hidden');
        userName.textContent = user.user_metadata?.full_name || user.email;
      } else {
        loggedOutView.classList.remove('hidden');
        loggedInView.classList.add('hidden');
      }
    }
  </script>
</body>
</html>