---
layout: default
---

<!-- Featured Post -->
<article class="post featured">
   <a href="/refutals/response-to-urdu-newspaper-idarat/" class="image main"><img src="assets/images/banner.png" alt="" /></a>
</article>

<article>
<div class="box">
<h3><span class="icon solid fas fa-feather"> Latest Fatwas</span></h3>
<ul class="posts" style="list-style: none;">
  {% for post in site.posts limit:5 %}
    {% if post.url %}
    <li>
     <a itemprop="url" title="{{ post.title }}" href="{{ post.url }}">
      <i class="fas fa-feather-alt"></i> <span itemprop="name">{{ post.title }}</span>
     </a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
<a href="{{ '/fatwas/' | prepend:site.baseurl }}">View all  ({{ site.posts | size }} Fatwas)</a>
</div>
   
<div class="box">
<h3><span class="icon solid fas fa-microphone-alt"> Latest Audios</h3>
<ul class="posts" style="list-style: none;">
   {% for c in site.audios | limit:5 %}
    <li>
     <a itemprop="url" title="{{ c.title }}" href="{{ c.url }}">
      <i class="fas fa-volume-up"></i> <span itemprop="name">{{ c.title }}</span>
     </a>
    </li>
   {% else %}
   <p>There are content yet.</p>
  {% endfor %}
</ul>
<a href="{{ '/audios' | prepend:site.baseurl }}">View all ({{ site.collections.audios | size}})</a>
</div>
   
</article>
