---
layout: default
---

<article>
{% include faq.html %}
<hr/>
<header>
 <h2>Recently Added</h2>
</header>
<div class="table-wrapper" itemscope itemtype="https://schema.org/Table">
   <table>
      <tbody>
         {% for post in site.posts limit:4 %}
         <tr>
          <td>
           <meta content='{{ post.date | date_to_xmlschema }}' itemprop='dateModified'/>
           <meta itemprop="datePublished" content="{{ post.date | date_to_xmlschema }}">
           {{ post.hijri }}
          </td>
          <td>
           <a itemprop="url" title="{{ post.title }}" href="{{ post.url }}">
            <span itemprop="name">{{ post.title }}</span>
           </a>
          </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
  <p><b>{{ site.posts | size }}</b> fatwas published.</p>
  <ul class="actions special">
   <li><a href="/fatwas/" class="button">View all fatwas</a></li>
  </ul>
</div>	
</article>
