<!DOCTYPE html>
<html>
{% include head.html %}
<body onload="setModifiedDate(); setAccessedDate();" class="is-preload {{ page.locale }}" class="transparent grey lighten-5">
 
   <div class="header grey lighten-5">
     <a href="https://alsalafiyyah.github.io"><h3 class="brand-logo center black-text">{{ page.title }}</h3></a>
   </div>
   <nav id="navbar" class="z-depth-0">
    <div class="nav-wrapper grey lighten-5" id="navbar">
      <ul class="left">
        <li><a class="black-text modal-trigger waves-effect waves-grey" href="/"><i class="material-icons">keyboard_backspace</i></a></li>
      </ul>
      <ul class="right">
        <li><a class="black-text modal-trigger waves-effect waves-grey" href="#share"><i class="material-icons">share</i></a></li>
      </ul>
    </div>
  </nav>

<div class="page-content white radius-page-content margin-80">
 <div class="content black-text">
 {{ content }}
</div>
</div>

 {% include modal-share.html %}
 {% include scripts.html %}
 
 </body>
</html>
