---
layout: default
---
<section class="container-lg">
 {% include Breadcrumb.html %}
 <ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <h2 itemprop="headline">{{ page.title }}</h2>   
      {% if page.active == "muqolat" %}
      <span class="badge text-bg-light">
       <span class="badge text-bg-danger rounded-pill">
        {{ site.muqolat | size }}
       </span>
       entries found
      </span>
      {% elsif page.active == "audios" %}
       <span class="badge text-bg-light">
       <span class="badge text-bg-danger rounded-pill">
        {{ site.audios | size }}
       </span>
       entries found
       </span>
      {% elsif page.active == "fatwas" %}
       <span class="badge text-bg-light">
       <span class="badge text-bg-danger rounded-pill">
        {{ site.posts | size }}
       </span>
       entries found
      </span>
      {% elsif page.active == "biography" %}
       <span class="badge text-bg-light">
       <span class="badge text-bg-danger rounded-pill">
        {{ site.biography | size }}
       </span>
       entries found
      </span>
      {% elsif page.active == "radd" %}
       <span class="badge text-bg-light">
       <span class="badge text-bg-danger rounded-pill">
        {{ site.refutals | size }}
       </span>
       entries found
      </span>
      {% elsif page.active == "wahhabi" %}
       <span class="badge text-bg-light">
       <span class="badge text-bg-danger rounded-pill">
        {{ site.wahhabism | size }}
       </span>
       entries found
      </span>
     {% endif %} 
  </li>
 </ul>
{{ content }}
</section>
