<!DOCTYPE html>
<html {% if page.locale == 'ar' %}dir="rtl"{% endif %} lang="{{ page.locale }}" data-theme="light">
<head>
 {% include meta.html %}
</head>
<body onload="setModifiedDate(); setAccessedDate();" class="is-preload {{ page.locale }}">
<nav class="uk-navbar-container uk-margin">
 <div uk-navbar>
  <div class="uk-navbar-left">
     {% if page.active == "radd" %}
      <a class="uk-navbar-toggle uk-logo" href="{{ "radd" | relative_url }}">
       <span uk-icon="icon: arrow-left; ratio: 2"></span>
       <span class="uk-margin-small-left">Radd</span>
      </a>   
     {% endif %}
     {% if page.active == "refutals" %}
      <a class="uk-navbar-toggle uk-logo" href="{{ "radd" | relative_url }}">
       <span uk-icon="icon: arrow-left; ratio: 2"></span>
       <span class="uk-margin-small-left">Radd</span>
      </a>   
     {% endif %}
     {% if page.active == "wahhabi" %}
      <a class="uk-navbar-toggle uk-logo" href="{{ "wahabism" | relative_url }}">
       <span uk-icon="icon: arrow-left; ratio: 2"></span>
       <span class="uk-margin-small-left">Wahhabism</span>
      </a>   
     {% endif %}
     {% if page.active == "muqolat" %}
      <a class="uk-navbar-toggle uk-logo" href="{{ "muqolat" | relative_url }}">
       <span uk-icon="icon: arrow-left; ratio: 2"></span>
       <span class="uk-margin-small-left">Muqolat</span>
      </a>   
     {% endif %}
     {% if page.active == "audios" %}
      <a class="uk-navbar-toggle uk-logo" href="{{ "audios" | relative_url }}">
       <span uk-icon="icon: arrow-left; ratio: 2"></span>
       <span class="uk-margin-small-left">Audios</span>
      </a>   
     {% endif %}
     {% if page.active == "biography" %}
      <a class="uk-navbar-toggle uk-logo" href="{{ "biography" | relative_url }}">
       <span uk-icon="icon: arrow-left; ratio: 2"></span>
       <span class="uk-margin-small-left">Biographies</span>
      </a>   
     {% endif %}
     {% if page.active == "category" %}
      <a class="uk-navbar-toggle uk-logo" href="{{ "category" | relative_url }}">
       <span uk-icon="icon: arrow-left; ratio: 2"></span>
       <span class="uk-margin-small-left">Categories</span>
      </a>   
     {% endif %}
     {% if page.active == "categories" %}
      <a class="uk-navbar-toggle uk-logo" href="{{ "category" | relative_url }}">
       <span uk-icon="icon: arrow-left; ratio: 2"></span>
       <span class="uk-margin-small-left">Categories</span>
      </a>   
     {% endif %}
  </div>
 </div>
</nav> 
<div class="uk-section"> 
 <div class="uk-container" style="margin-bottom: 40px;">
  <h3 class="uk-heading-bullet">{{ page.title }}</h3>
  {% if page.active == "audios" %}
   <audio controls>
    <source type="audio/mp3" src="{{ page.mp3 }}">
    <p>Your browser does not support the audio element.</p>
   </audio>
  {% endif %}
   {{ content }}
  {% if page.active == "audios" %}
     {% if page.muftis %}    
    <ul class="uk-list border-0">
    {% if page.muftis.shaykh %}
      {% for shaykh in page.muftis.shaykh %}
      <li>
       <a href="{{ shaykh.url | relative_url }}" title="{{ shaykh.name }}"><b>{{ shaykh.name }}</b></a>
      </li>
      {% endfor %}
     {% endif %}
     </ul>
   {% endif %}
  {% else %}
  {% include source.html %}
  {% endif %}
 </div>
</div>
 {% include scripts.html %}       
 </body>
</html>
