<!DOCTYPE html>
<html class="grey lighten-5">
 {% include head.html %}
<body onload="setModifiedDate(); setAccessedDate();" class="is-preload {{ page.locale }}" class="grey lighten-5">
 {% include sidenav.html %}
 <div class="container grey lighten-5">
  
    <nav class="z-depth-0 transparent">
    <div class="nav-wrapper">
     <ul class="left">
      <li>         
        {% if page.active == "radd" %}
         <a class="modal-trigger" href="{{ "radd" | relative_url }}"><i class="material-icons black-text">keyboard_backspace</i></a>  
        {% endif %}
        {% if page.active == "wahabi" %}
         <a class="modal-trigger" href="{{ "wahabbism" | relative_url }}"><i class="material-icons black-text">keyboard_backspace</i></a>  
        {% endif %}
      </li>
      </ul>           
    </div>
    </nav>
  
  <h3>{{ page.title }}</h3>
  <div class="content white">
   {{ content }}
  </div>
 </div>
 {% include search-form.html %}
 {% include scripts.html %}
 </body>
</html>
