<!DOCTYPE html>
<html>
<head>
 {% include meta.html %}
<style>
.uk-navbar-right {
 padding-right: 12px;
}   
.uk-navbar-left {
 padding-left: 12px;
}   
</style> 
</head>
<body onload="setModifiedDate(); setAccessedDate();" class="is-preload {{ page.locale }}">
<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="nav-overlay uk-navbar-left">
      
     {% if page.active == "radd" %}
      <a class="uk-icon-link" href="{{ "radd" | relative_url }}">
       <span uk-icon="arrow-left"></span>
       <span class="uk-margin-small-left">Radd</span>
      </a>   
     {% endif %}
     {% if page.active == "refutals" %}
      <a class="uk-icon-link" href="{{ "radd" | relative_url }}">
       <span uk-icon="arrow-left"></span>
       <span class="uk-margin-small-left">Radd</span>
      </a>   
     {% endif %}
     {% if page.active == "wahhabi" %}
      <a class="uk-icon-link" href="{{ "wahabism" | relative_url }}">
       <span uk-icon="arrow-left"></span>
       <span class="uk-margin-small-left">Wahhabism</span>
      </a>   
     {% endif %}
     {% if page.active == "muqolat" %}
      <a class="uk-icon-link" href="{{ "muqolat" | relative_url }}">
       <span uk-icon="arrow-left"></span>
       <span class="uk-margin-small-left">Muqolat</span>
      </a>   
     {% endif %}
     {% if page.active == "audios" %}
      <a class="uk-icon-link" href="{{ "audios" | relative_url }}">
       <span uk-icon="arrow-left"></span>
       <span class="uk-margin-small-left">Audios</span>
      </a>   
     {% endif %}
     {% if page.active == "biography" %}
      <a class="uk-icon-link" href="{{ "biography" | relative_url }}">
       <span uk-icon="arrow-left"></span>
       <span class="uk-margin-small-left">Biographies</span>
      </a>   
     {% endif %}
     {% if page.active == "category" %}
      <a class="uk-icon-link" href="{{ "category" | relative_url }}">
       <span uk-icon="arrow-left"></span>
       <span class="uk-margin-small-left">Categories</span>
      </a>   
     {% endif %}
     {% if page.active == "categories" %}
      <a class="uk-icon-link" href="{{ "category" | relative_url }}">
       <span uk-icon="arrow-left"></span>
       <span class="uk-margin-small-left">Categories</span>
      </a>   
     {% endif %}
     
    </div>
 
    <div class="nav-overlay uk-navbar-right">
       <a class="uk-icon-link" target="_blank" href="https://instagram.com/Alsalafiyyah"><span uk-icon="instagram"></span></a>
       <a class="uk-icon-link uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
       <a class="uk-navbar-toggle uk-navbar-toggle-animate" uk-navbar-toggle-icon href="#"></a>
       <div class="uk-navbar-dropdown">
        <ul class="uk-text-large uk-nav uk-navbar-dropdown-nav">
         {% for menu in site.data.sidenav %}
          <li><a href="{{ menu.url | relative_url }}">{{ menu.title }}</a></li>
         {% endfor %}
        </ul>
      </div>
    </div>
    <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
        <div class="uk-navbar-item uk-width-expand">
            <form action="{{ "search" | relative_url }}" class="uk-search uk-search-navbar uk-width-1-1">
             <input name="q" id="search" class="uk-search-input" type="search" placeholder="Search" aria-label="Search" pattern=".{3,}" title="At least 3 characters" autofocus>
            </form>
        </div>
        <a style="margin-right: 15px;"class="uk-icon-link uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
    </div>
</nav>
 
 <div class="uk-container" style="margin-bottom: 40px;">
   <h3 class="uk-heading-bullet">{{ page.title }}</h3>
   {{ content }}
   {% include source.html %}
 </div>
 
 {% include scripts.html %}
 <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.23/dist/js/uikit.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.23/dist/js/uikit-icons.min.js"></script>       
 </body>
</html>
