<!DOCTYPE html>
<html lang="{{ page.locale }}">
<head>
 {% include meta.html %}
</head>
<body onload="setModifiedDate(); setAccessedDate();" class="is-preload {{ page.locale }}">
<nav class="uk-navbar-container uk-margin">
        <div uk-navbar>
            <div class="uk-navbar-left">                
             {% if page.locale == 'ar' %}
             <a class="uk-navbar-toggle uk-logo" href="{{ "ar/fatwas/" | relative_url }}">
                 <span uk-icon="icon: arrow-left; ratio: 2"></span> 
                 <span class="uk-margin-small-left">{{ site.data.locales[page.locale].page.fatwas }}</span>
             </a>
              {% elsif page.locale == 'en' %}
             <a class="uk-navbar-toggle uk-logo" href="{{ "fatwas" | relative_url }}">
                 <span uk-icon="icon: arrow-left; ratio: 2"></span> 
                 <span class="uk-margin-small-left">{{ site.data.locales[page.locale].page.fatwas }}</span>
             </a>
             {% endif %}
            </div>
    <div class="uk-navbar-right">

    </div>         
        </div>
</nav> 
<div class="uk-section">   
<div class="hyperlink uk-container" style="margin-bottom: 40px;">
  <h3>{{ page.title }}</h3>
   {{ content }}
   {% if page.note %}
   <p>{{ site.note.text }}</p>
   {% endif %}   
 {% include source.html %}
</div>
</div>

 {% include scripts.html %}
</body>
</html>
