---
layout: default
---
<article role="article" vocab="https://schema.org" property="BlogPosting" itemid="{{ post.url }}">
  {% include Breadcrumb.html %} 
   <ol class="breadcrumb">
      <li>
        <span>{{ site.data.locales[page.locale].page.date }}: {{ page.date | date_to_string }} - {% if page.hijri %}{{ page.hijri }} {% else %} {{ page.date | date_to_string }}{% endif %}</span>
      </li> 
      <li>
           {% include read_time.html %}
      </li>
      <li>
        <span id='last-modified'>
      </li> 
   </ol>
<h2 property="name">
 {{ page.title }}
</h2>
<div property="articleBody">
{% include AudioPlayer.html %}
{{ content }}
{% if page.note %}
 <p>{{ site.note.text }}</p>
{% endif %}  
</div>
{% include source.html %}
</article>
