<!DOCTYPE html>
<html class="grey lighten-5">
{% include head.html %}
<body onload="setModifiedDate(); setAccessedDate();" class="is-preload {{ page.locale }}" class="grey lighten-5">
 {% include sidenav.html %}
<div class="container" style="width: 98%;">
   <nav class="z-depth-0 transparent">
    <div class="nav-wrapper">
     <ul class="left">
       <li><a class="modal-trigger" href="{{ "radd" | relative_url }}"><i class="material-icons black-text">keyboard_backspace</i></a></li>          
      </ul>        
    </div>
  </nav>
 <div class="content grey lighten-5 white">
  {% if page.date %}
   <h3>{{ page.title }}</h2>
   <hr/>
   <div class="content black-text" style="padding:0px;">
   {{ content }}
   {% include info.html %}
   </div>
  {% endif %}
 </div>
 </div>
 {% include scripts.html %}
 </body>
</html>
