---
layout: compress
---
<!DOCTYPE html>
<html 
 lang="{{ page.locale | default: 'en' }}" class="h-100" {% if page.locale == 'ar' %}dir="rtl"{% endif %}>
<head>
{% include metadata.html %}
</head>
<body role="document" itemscope itemtype="https://schema.org/WebPage" onload="setModifiedDate(); setAccessedDate();" 
 class="is-preload" class="d-flex flex-column h-100">
{% include Header2.html %}
<main role="main"><!-- main -->
 <div class="container mt-4">
 {{ content }}
 </div>
</main><!-- /main -->
{% include offcanvas-bottom.html %}
{% include Footer.html %}
{% include Javascripts.html %} 
</body>
</html>
