<!DOCTYPE html>
<html>
{% include head.html %}
<body onload="setModifiedDate(); setAccessedDate();" class="is-preload {{ page.locale }}" class="transparent grey lighten-5">
 {% include sidenav.html %}
  <div class="navbar-fixed">
  <nav class="nav-extended grey lighten-5 black-text z-depth-0 top-0">
    <div class="nav-wrapper">
      <ul class="right show-on-med-and-down">
        <li><a href="/" class="black-text"><i class="material-icons">home</i></a></li>
      </ul>
    </div>
  </nav>
</div>
  <nav class="nav-extended grey lighten-5 black-text z-depth-0 top-0">
    <div class="nav-content grey lighten-5 padding-10">
   <meta itemprop="url" content="https://alsalafiyyah.github.io/"/>
   <form action="/search" itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction">
   <meta itemprop="target" content="https://alsalafiyyah.github.io/search?q=salaf"/>
   <input itemprop="query-input" class="search_input" id="tipue_search_input" type="text" name="q" placeholder="Search" pattern=".{3,}" title="At least 3 characters" required/>
  </form>
    </div>
  </nav>
 
 <div class="content grey lighten-5 white">
   {{ content }}
 </div>
 
 {% include scripts.html %}
 </body>
</html>
