<!DOCTYPE html>
<html class="grey lighten-5">
{% include head.html %}
<body onload="setModifiedDate(); setAccessedDate();" class="is-preload {{ page.locale }}" class="grey lighten-5">
 {% include sidenav.html %}
<div class="container">
   <nav class="z-depth-0 transparent">
    <div class="nav-wrapper">
      <ul class="left">
        <li><a href="#" class="sidenav-trigger show-on-medium-and-up show-on-medium show-on-small show-on-large show-on-medium-and-up show-on-medium-and-down" data-target="slide-out"><i class="material-icons black-text">more_vert</i></a></li>
      </ul>
      <a href="{{ absolute_url }}" class="brand-logo center black-text bold">{{ page.title }}</a>
      <ul class="right">
        <li><a class="sidenav-trigger show-on-medium-and-up show-on-medium show-on-small show-on-large show-on-medium-and-up show-on-medium-and-down" href="{{ absolute_url }}"><i class="material-icons black-text">search</i></a></li>
      </ul>
    </div>
  </nav>
 
  <nav class="nav-extended grey lighten-5 black-text z-depth-0 top-0">
    <div class="nav-content grey lighten-5 padding-10">
   <meta itemprop="url" content="https://alsalafiyyah.github.io/"/>
   <form action="/search" itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction">
   <meta itemprop="target" content="https://alsalafiyyah.github.io/search?q=salaf"/>
   <input itemprop="query-input" class="search_input" id="tipue_search_input" type="text" name="q" placeholder="Search" pattern=".{3,}" title="At least 3 characters" required/>
  </form>
    </div>
  </nav>
 
 <div class="content grey lighten-5 white">
   {{ content }}
 </div>
 
 </div>
 
 {% include scripts.html %}
 </body>
</html>
