 <div class="navbar-fixed grey lighten-5 z-depth-0 top-0">
  <nav class="grey lighten-5 z-depth-0">
    <div class="nav-wrapper">
      <ul class="show-on-med-and-down">
        <li><a class="black-text" href="/fatwas"><i class="material-icons">keyboard_backspace</i></a></li>
        <div class="right">
        <li><a class="black-text modal-trigger" href="#info"><i class="material-icons">error_outline</i></a></li>
        <li><a class="black-text modal-trigger" href="#share"><i class="material-icons">share</i></a></li>
        </div>
      </ul>
    </div>
  </nav>
 </div>

{% if page.date %}
<div class="page-content white radius-page-content">
 <div class="content black-text">
 <h3 itemprop="name headline">{{ page.title }}</h3>
 {{ content }}
 {% include post-source.html %}
</div>
</div>
{% endif %}
