<!DOCTYPE html>
<html>
{% include head.html %}
<body onload="setModifiedDate(); setAccessedDate();" class="is-preload {{ page.locale }}" class="transparent grey lighten-5">
 {% include sidenav.html %}
 
  <div class="navbar-fixed">
  <nav class="nav-extended grey lighten-5 black-text z-depth-0 top-0">
    <div class="nav-wrapper">
      <a class="black-text brand-logo left padding-10" href="/fatwas"><i class="material-icons">keyboard_backspace</i></a>
      <ul class="right show-on-med-and-down black-text">
       <li><a class="black-text modal-trigger" href="#share"><i class="material-icons">share</i></a></li>
       <li><a class="black-text modal-trigger" href="#info"><i class="material-icons">error_outline</i></a></li>
      </ul>
    </div>
  </nav>
</div>
  <nav class="nav-extended grey lighten-5 black-text z-depth-0 top-0">
    <div class="nav-content grey lighten-5">
      <span class="custom-nav-title black-text padding-10">{{ page.title }}</span>
    </div>
  </nav>
 
{% if page.date %}
<div class="page-content white radius-page-content">
 <div class="content black-text">
 {{ content }}
</div>
</div>
{% endif %}
 {% include modal-share.html %}
 {% include modal-info.html %}
 {% include scripts.html %}
 </body>
</html>



