---
layout: category
author: "Instagram@Alsalafiyyah"
email: alsalafiyyah@icloud.com
title: "Slaughtering and hunting"
active: fatwas
permalink: /hunting/
---

<article>
<div class="table-wrapper" itemscope itemtype="https://schema.org/Table">
  <table>
    <tbody>
      {% for post in site.categories.slaughtering %}
      <tr>
        <td>{{ post.hijri }}</td>
        <td>
          {% if post.url %}<a title="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a>{% endif %}
        </td>
      </tr>
      {% else %}
      <p{{site.data.settings.page.no-fatwas}}</p>
      {% endfor %}
    </tbody>
  </table>
</div>
 <p>last updated at: {{ site.time }}</p>
</article>
