---
layout: category
author: "Instagram@Alsalafiyyah"
email: alsalafiyyah@icloud.com
title: "Slaughtering and hunting"
active: fatwas
permalink: /hunting/
---

<article>

  {% for post in site.categories.hudud %}
    {{ post.title }}
    {% if post.content == "" or post.content == nil or post.content == blank %}
        <p>Nothing here.</p>
    {% else %}
        {{ post.content }}
    {% endif %}
{% endfor %}
  
<div class="table-wrapper" itemscope itemtype="https://schema.org/Table">
  <table>
    <tbody>
     {% for post in site.categories.slaughtering %}
      <tr>
        <td>{{ post.hijri }}</td>
        <td>
          {% if post.url %}<a title="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a>{% endif %}
        </td>
      </tr>
      {{site.data.settings.page.no-fatwas}}
     {% endfor %}
    </tbody>
  </table>
</div>

 <p>Last updated at: {{ site.time }}</p>
</article>
