---
layout: default
title: The Sects
active: sects
permalink: /the-sects/
---

Some of schools of thought and deviant sects or groups. 

{% for sect in site.data.sects %}
  <h3>{{ sect.title }}</h3>
  {% for subcategory in sect.subcategories %}
    <h6>{{ subcategory.title }}</h6>
    <ol>
    {% for item in subcategory.items %}
      <li style="padding-left: 12px;">
       {{ item.title }}<br/>
       <span><small>{{ item.desc }}</small></span>
      </li>
    {% endfor %}
    </ol>
  {% endfor %}
{% endfor %}

Imam Ibn Al-Mubarak (may Allah have mercy on him) said: "The roots of the seventy-two sects are four: the Khawarij, the Rafidah (Shi'ah), the Qadaris and the Murji’is." It was said to Ibn Al-Mubarak, "And the Jahmiyyah?" he (may Allah have mercy on him) said, "the Jahmiyyah are not part of the ummah of Muhammad ﷺ." [Quoted by Shaykhul Islam Ibn Taymiyyah in his book: Majmu’ Al-Fatawa 35/414]
