---
layout: default
title: The Sects
active: sects
permalink: /the-sects/
sects:
  shiah: 
    - title: Isma'iliyah
      url: null
    - title: Dawudi Bohras
      url: null
    - title: Qarmatians
      url: null 
    - title: Batiniyah
      url: null  
    - title: Imamiyah (Ithna ‘Ashariyah)
      url: null  
    - title: Zaidiyah
      url: null
  khawarij:
    - title: Ibadiyah
      url: null    
    - title: Nusayriyyah
      url: null    
  sufism:
    - title: Jama'at At-Tabligh
      url: null
    - title: Deobandiyah
      url: null
    - title: Khalwatiyah
      url: null  
    - title: Burhamiyah
      url: null  
    - title: Barelwiyah
      url: null  
    - title: Naqshabandiyah
      url: null  
    - title: Sadhiliyah
      url: null  
    - title: Chistiyah
      url: null  
    - title: Mawlawiyah
      url: null  
    - title: Qadiriyah
      url: null  
    - title: Rifa'iyah
      url: null  
    - title: Tijaniyah
      url: null  
    - title: Naqshabandiyah
      url: null  
  quranism:
    - title: Qur'aniyah
      url: null
    - title: Tolu-e-Islam
      url: null
    - title: Submitters (Submission)
      url: null
    - title: Quran Sunnat Society
      url: null
    - title: Kala Kato
      url: null
    - title: Malaysian Quranic Society
      url: null
    - title: Zumratul Jamiu Mumin
      url: null
    - title: Izgi Amal
      url: null
    - title: Ahl Al-Qur'an
      url: null
  others:
    - title: Asharis
      url: null
    - title: Al-Ikhwan Al-Muslimun
      url: null
    - title: Ahmadiyyah
      url: null
    - title: Nation of Islam (Farakkanism)
      url: null
    - title: Mu'tazilah
      url: null
    - title: Jabariyah
      url: null
    - title: Qadariyah
      url: null
    - title: Jahmiyah
      url: null
---

{% if page.sects %}
 <ul class="collection border-0 footer-post">
   {% if page.sects.sufism %}
     <li class="collection-item"><b>Sufism</b>
        <ol>
         {% for sect in page.sects.sufism %}
         <li>{{ sect.title }}</li>
         {% endfor %}         
        </ol>
      </li>
    {% endif %}
   {% if page.sects.shiah %}
     <li class="collection-item"><b>Shi'ah & The Rafidah</b>
        <ol>
         {% for sect in page.sects.shiah %}
         <li>{{ sect.title }}</li>
         {% endfor %}         
        </ol>
      </li>
    {% endif %}
   {% if page.sects.khawarij %}
     <li class="collection-item"><b>Khawarij</b>
        <ol>
         {% for sect in page.sects.khawarij %}
         <li>{{ sect.title }}</li>
         {% endfor %}         
        </ol>
      </li>
    {% endif %}
   {% if page.sects.quranism %}
     <li class="collection-item"><b>Sunnah & Hadith Rejectors</b>
        <ol>
         {% for sect in page.sects.quranism %}
         <li>{{ sect.title }}</li>
         {% endfor %}         
        </ol>
      </li>
    {% endif %}   
    {% if page.sects.others %}
     <li class="collection-item"><b>More</b>
        <ol>
         {% for sect in page.sects.others %}
         <li>{{ sect.title }}</li>
         {% endfor %}         
        </ol>
      </li>
    {% endif %}  
 </ul> 
{% endif %}
