---
layout: default
title: The Sects
active: sects
permalink: /the-sects/
---

Some of schools of thought and deviant sects or groups. 

{% for sect in site.data.sects %}
  <h3>{{ sect.title }}</h3>
  {% for subcategory in sect.subcategories %}
    <h6>{{ subcategory.title }}</h6>
    <ol>
    {% for item in subcategory.items %}
      <li style="padding-left: 12px;">
       {{ item.title }}<br/>
       <span style="padding-left: 6px;"><small>{{ item.desc }}</small></span>
      </li>
    {% endfor %}
    </ol>
  {% endfor %}
{% endfor %}
